 <div class="widgetTitle col-md-12 col-xs-12"><span>CREATE YOUR TEAM</span></div>
 <div class="widgetCnt col-md-12 col-xs-12">
 <!-- Add link to in span for each step-->
   <p id="create_team_widget_p"><span class="headLine2 lBluTxt">Step 1</span><span>|</span><span>Step 2</span><span>|</span><span>Step 3</span></p>
   <div class="topBlineBox col-md-12 col-xs-12">
    <div class="box3section col-md-4 col-xs-4" id="create_team_widget_boxsec">
      <p class="col-md-12 col-xs-12"><img src="" alt="" /></p>
      <p class="col-md-12 col-xs-12">Create your team, invite friends and join a challenge together.</p>
    </div>
    <div class="box3section col-md-4 col-xs-4" id="create_team_widget_boxsec">
      <p class="col-md-12 col-xs-12"><img src="" alt="" /></p>
      <p class="col-md-12 col-xs-12">Compete with other teams on getfitgo.in</p>
    </div>
    <div class="box3section col-md-4 col-xs-4" id="create_team_widget_boxsec">
      <p class="col-md-12 col-xs-12"><img src="" alt="" /></p>
      <p class="col-md-12 col-xs-12">Earn rewards and recognition and celebrate your fitness journey with your friends</p>
    </div>
    <div class="CL"></div>
   </div>
   <div class="col-md-12 col-xs-12">
     <%= form_for(resource, :as => resource_name, :url => teams_path, :html => {:method => :put}, :remote => true) do |f| %>
       <div class="form-group input-group col-md-12 col-xs-12">
         <span class="input-group-addon hidden-xs">Team Name</span>
         <%= f.text_field :name, class: "form-control col-md-10 col-xs-12", placeholder: "Enter the name of your team here" %>
       </div>
       <div class="form group" id="radio_team_visibility_options">
         <div class="radio col-md-12 col-xs-12">
         <%= radio_button_tag :teamvisibilityoptions, 'public', class:"team_visibility_options_radio" %>
         <%= label_tag :teamvisibilityoptions_public, "Make this team public" %>
       </div>
       <div class="radio col-md-12 col-xs-12">
       <%= radio_button_tag :teamvisibilityoptions, 'private', class:"team_visibility_options_radio" %>
         <%= label_tag :teamvisibilityoptions_private, "Make this team private" %>
       </div>
        <div class="radio col-md-12 col-xs-12">
        <%= radio_button_tag :teamvisibilityoptions, 'unlisted', class:"team_visibility_options_radio" %>
         <%= label_tag :teamvisibilityoptions_unlisted, "Make this team unlisted" %>
       </div>
       </div>
       <div class="col-md-12 col-xs-12" id="for_responsive_well">
         <p><span class="headLine2">Team Info</span><span>(This is you team cover photo)</span></p>
         <div class="well well-lg">
           <div class="form-group input-group col-md-12 col-xs-12" id="addon_browse_banner">
           <%= f.text_field :name, class: "form-control col-md-12 col-xs-12", placeholder: "Browse and upload a team banner" %>
               <span class="input-group-addon hidden-xs">Browse</span>
               <button class="btn-branding btn updatBtn">UPLOAD</button>
           </div>
            <p>Minimum image size 700 X 200 px</p>
            <p>Supported file formats png, jpg and bitmap</p>
         </div>
       </div>
       <div class="col-md-12 col-xs-12">
         <p><span class="headLine2">Team Image</span><span>(This is your team profile picture and will appear across various pages on getfitgo)</span></p>
         <div class="col-md-12 col-xs-12">
           <img src="/Office.png" class="col-md-1 col-sm-1 hidden-xs" id="image_office"/>
           <div class="form-group input-group col-md-10 col-sm-10 col-xs-12" id="addon_browse_banner">
           <%= f.text_field :name, class: "form-control col-md-12 col-xs-12", placeholder: "Browse and upload a team image"%>
               <span class="input-group-addon hidden-xs">Browse</span>
               <button class="btn-branding btn updatBtn">UPLOAD</button>
           </div>
           <p id="team_image_p">Minimum image size 1000 X 1000 px</p>
         </div>
       </div>
       <div class="col-md-12 col-xs-12">
       <div class="form-group">
       <%= f.text_field :name, class: "form-control col-md-12 col-xs-12", placeholder: "Your teams public url"%>
       </div>
       <p>E.g.www.getfitgo.in/<span class="lBluTxt">outsiders</span></p>
       </div>
       <div class="col-md-12 col-xs-12">
       <div class="form-group">
         <input type="text" class="form-control" placeholder="Enter team slogan [max. 120 characters]" >
       </div>
       <p>E.g.<span class="lBluTxt">outsiders</span></p>
       </div>
       <div class="col-md-12 col-xs-12">
       <div class="form-group">
        <div class="col-md-4 col-xs-4 number_of_members">
         <span id="number_members">Team Members</span>
         </div>
         <div class="col-md-8 col-xs-8">
           <%= number_field :member, nil, in: 1...21, :prompt => '1',class: "number_members" %>
           <%= check_box_tag(:checkbox) %>
           <%= label_tag(:checkbox, "No Limit") %>
         </div>
       </div></div>
       <div class="col-md-12 col-xs-12">
       <div class="form-group">
        <div class="col-md-4 col-xs-4 number_of_members">
         <span>Approval Method</span>
         </div>
         <div class="col-md-3 col-xs-8">
        <%= select_tag :approval, options_for_select(["Manual","Automatic"]), class: 'form-control' %>
         </div>
       </div>
       </div>
       <div class="CL"></div>
       <hr class="style-one">
       <div class="col-md-4 col-sm-8 col-xs-12">
        <%= f.submit 'CANCEL', class: 'btn-branding btn btn-lg updatBtn cancel_button' %>
        <%= f.submit 'CREATE TEAM', class: 'btn-branding btn btn-lg updatBtn' %>
       </div>
      <% end %>
      <div class="CL"></div>
   </div>
 </div>
