<% content_for(:title, 'Create Team') %>
<%#= form_for [@challenge, @team] do |f| %>
  <%#= f.label :name %>
  <%#= f.text_field :name %>
  <%#= f.label :slogan %>
  <%#= f.text_field :slogan %>
  <%#= f.label :photo %>
  <%#= f.file_field :photo %>
  <%#= f.submit "Create Team" %>
<%# end %>
<div class="leftWapper">
  <h1 class="page-title">Team</h1>
  <span id="dashboard_profile">
    <%= render 'dashboards/profile', user: current_user,resource: current_user,resource_name: "user" %>
  </span>
  <div class="CL"></div>
</div>
<div class="rightWapper">
  <%= render 'teams/create_team_widget', resource: Team.new, resource_name: "team" %>
</div>