<% content_for(:title, 'Privacy Policy') %>
	<h2 id="header_priv">Privacy Policy</h2>
<div class="main">
		<p>The domain name (website) www.getfitgo.in (hereinafter referred to as "getfitgo")is owned by Almond Wellness Tech, a company incorporated under the Companies Act, 1956 (Hereinafter referred to as the “Almond Tech or US”) having its place of business at Kalpataru Estate, JVLR, Andheri east, Mumbai-93 , Maharashtra , India</p>
		<br/>
		<p>We, Almond Tech, the creator of this Privacy Policy ensure Our firm commitment to Your privacy vis-à-vis the protection of your priceless information. In order to endow You with our uninterrupted use of services, We may collect and, in some circumstances, disclose information about You. To enhance better protection of Your privacy We provide this notice explaining Our information practices and the choices You can make about the way Your information is collected and used.</p>
		<p>
			
				<strong><h4>1.OVERVIEW</h4></strong>
				<p>We commit to respecting Your online privacy data. We shall take measure to protect sensitive information like credit card information and bank account number.</p>
				<p>In order to access certain services of this website, You are required to register yourself by providing the following information which includes, but is not limited to:</p>
				<ol>
					<li>Name;</p>
					<li>User name;</p>
					<li>Password;</p>
					<li>Contact Details and</p>
					<li>Health and Wellness information</p>
				</ol>		
			
				<strong><h4>2.NOTIFICATION OF MODIFICATIONS AND CHANGES TO THE TERMS AND CONDITIONS AND PRIVACY POLICY</h4></strong>
				<p>We reserve the right to change the Terms and Privacy Policy from time to time as seen fit, which shall be intimated to you atleast ten days in advance of implementation through a notification in the Website notice board / Blog, and Your continued use of the site will signify Your acceptance of any amendment to these terms. Users hereby are advised to periodically check the Website notice board / Blog for such notifications.  </p>
				<p>You are therefore advised to re-read the Terms of Service on a regular basis.Should it be that You do not accept any of the modifications or amendments to the Terms, You may terminate Your use of this website immediately.</p>
			
			
			<strong><h4>3.INFORMATION WE COLLECT</h4></strong>
			<p>Our site's online Registration form requires users to give Us contact information (like Your name, username, password, telephone number and email address), and demographic information (like Your zip code/pin code) and other information like (Personal Health related parameters etc.). As a getfitgo member You are required to provide a valid email address at registration and choose a username or alias that represents Your identity on Our website.</p>
			<p>Certain information, such as Your name, e-mail addresses, is collected in order to, among other things, verify Your identity and for use as account numbers in Our record system. Email addresses, Geo-locations, Intellectual Property, listings viewed, any information entered in the contact us form or any other form displayed on any section of the website are also collected.You will provide getfitgo.in the necessary right to access your data from acvitivity trackers and/or Mobile applications which will be uploaded and stored in our Servers.  </p>
			<p>getfitgo hereby reserves the right to automatically track certain information about You based on your activities on the Website and utilize such information to do internal research on Your interests to better understand Your needs and provide better services to You. Such information may be compiled individually and demographically for various purposes. This information may include the website links You visited prior to or visit after using Our Website, irrespective of whether the link is available on Our Website or not, collected through ‘cookies’ which retains Your computer browser information and IP address. </p>
			
			
				<strong><h4>4.COOKIES</h4></strong>
				<p>We use data collection devices such as "cookies" on certain pages of Our Websites. "Cookies" are small files sited on Your hard drive that assist Us in providing customized services. We also offer certain features that are only available through the use of a "cookie". Cookies can also help Us provide information, which is targeted to Your interests. Cookies may be used whether You register with Us or not. We are not responsible to the information collected through cookies by the third party. We guarantee no personal information shall be shared unless it is demanded by law enforcement authorities in accordance with existing laws or for completion of transactions and communications with third parties. </p>
			
			
				<strong><h4>5.EXTERNAL LINKS ON WEBSITE</h4></strong>
				<p>The Website may include hyperlinks to other web sites or content or resources. We have no control over any websites or resources, which are provided by companies or persons other than Us.</p>
				<p>You acknowledge and agree that We are not responsible for the availability of any such external sites or resources, and does not endorse any advertising, products or other materials on or available from such websites or resources.</p>
				<p>You acknowledge and agree that We are not liable for any loss or damage which may be incurred by you as a result of the availability of those external sites or resources, or as a result of any reliance placed by you on the completeness, accuracy or existence of any advertising, products or other materials on, or available from, such websites or resources. These third-party service providers and Third-Party Sites may have their own privacy policies governing the storage and retention of your personal information that you may be subject to. We recommend that when you enter a Third-Party Site, you review the Third Party Site’s privacy policy as it relates to safeguarding your personal information. We use third-party advertising companies to serve ads when you visit the Website.</p>
			
				<strong><h4>6.OUR USE OF YOUR INFORMATION</h4></strong>
				<p>Your contact information is also used to contact You when necessary. When You signup online to getfitgo or register with Us, You have the option of receiving e-mails/SMS regarding updates about special services and including any significant upgrades from Us.We use Your personal information and will disclose the same to third parties to facilitate communication or enable transactions. Under no circumstance will We be held liable for breach of contract as any personal information put up by You may be disclosed by Us to third parties. We use Your IP address to help diagnose problems with Our server, and to administer Our Website. Your IP address is also used to help identify You and to gather broad demographic information. Finally, We may use Your IP address to help protect Our partners and Ourselves from fraud. We will continue to enhance Our security procedures as new technology becomes available. We will transfer information about You if We are acquired by or merged with another company. In this event, We will notify You by email or by putting a prominent notice on the site before information about You is transferred and becomes subject to a different privacy policy.</p>
				<p>getfitgo guarantees that the information obtained through third party activity trackers and service providers connected by you to your getfitgo account shall not be shared and shall be encrypted and maintained in a secure manner. Such raw information shall not be available to any employee of Almond Wellness Tech expect for the purpose of analysing and providing the user with specific personalised inputs, feedback and insights on their health and wellness training programs and reporting.</p>
				<p>We may release Your personal information to a third-party in order comply with a Court Order or other similar legal procedure, or when We believe in good faith that such disclosure is necessary to comply with the law; prevent imminent physical harm or financial loss; or investigate or take action regarding illegal activities, suspected fraud, or violations of Our Terms of Use. We may disclose personally identifiable information to parties in compliance with our Copyright Policy as mentioned in the Terms of Use as We in our sole discretion believe necessary or appropriate in connection with an investigation of fraud, intellectual property infringement, piracy, or other unlawful activity. In such events, We may disclose name, address, country, phone number, email address and company name.</p>
				<p>We, reserve the right to seek certain health-related information at regular intervals throughout Your period of association with us which shall be used to suggest various Personalised plans as well as share other important related information with you.</p>
			
				<strong><h4>7.CONFIDENTIALITY</h4></strong>
				<p>You further acknowledge that the Website may contain information which is designated confidential by Us and that You shall not disclose such information without Our prior written consent.</p>
				<p>Your information regarded as confidential by Us will not be divulged to any third party, unless if legally required to do so to the appropriate authorities.</p>
		
				<strong><h4>8.OUR DISCLOSURE OF YOUR INFORMATION</h4></strong>
				<p>Due to the existing regulatory environment, We cannot ensure that all of Your private communications and other personally identifiable information will never be disclosed in ways not otherwise described in this Privacy Policy. By way of example (without limiting and foregoing), We may be forced to disclose information to the government, law enforcement agencies or third parties. Under certain circumstances, third parties may unlawfully intercept or access transmissions or private communications, or members may abuse or misuse your information that they collect from our Websites. Therefore, although We use industry standard practices to protect Your privacy, We do not promise, and You should not expect, that Your personally identifiable information or private communications would always remain private.</p>
				<ol>
					<li><strong><h4>8.1 External Service Providers:</h4></strong></li>
					<span>There may be a number of services offered by external service providers that help You use Our Websites. If You choose to use these optional services, and in the course of doing so, disclose information to the external service providers, and/or grant them permission to collect information about You, then their use of Your information is governed by their private policy.</span>
					<li><strong><h4>8.2 Other Corporate Entities:</h4></strong></li>
					<span>We share much of Our data, including personally identifiable information about You, with Our parent and/or subsidiaries that are committed to serving Your online needs and related services, throughout the world. Such data will be shared for the sole purpose of enhancing Your browsing experience. To the extent that these entities have access to Your information, they will treat it at least as protectively as they treat information they obtain from their other members. It is possible that Almond Tech and/or its subsidiaries, or any combination of such, could merge with or be acquired by another business entity. Should such a combination occur, You should expect that We would share some or all of Your information in order to continue to provide the service. You will receive notice of such event (to the extent it occurs). In certain cases, Your personal information might be also available to the administrators of Your Company or other administrators if You are enrolled as a part of a corporate plan.</span>
					<li><strong><h4>8.3 Law and Order:</strong></li>
					<span>We cooperate with law enforcement inquiries, as well as other third parties to enforce laws, such as: intellectual property rights, fraud and other rights. We can (and You authorize us to) disclose any information about You to law enforcement and other government officials as We, in our sole discretion, believe necessary or appropriate, in connection with an investigation of fraud, intellectual property infringements, or other activity that is illegal or may expose Us or You to legal liability.</span>
				</ol>
				<strong><h4>9. ACCESSING, REVIEWING AND CHANGING YOUR PROFILE</h4></strong>
				<p>Following registration, You can review and change the information You submitted except Your display name, during registration. If You change any information we may keep track of Your old information. You can change Your registration information such as: name, address, city, state, zip code, country, phone number, and profile.</p>
				<p>To remove your profile so that others cannot view it, contact our customer support team at http://support.getfitgo.in</p>
				<p>We will retain in Our files information You have requested to remove for certain circumstances, such as to resolve disputes, troubleshoot problems and enforce Our terms and conditions. Further, such prior information is never completely removed from Our databases due to technical and legal constraints, including stored 'back up' systems. Therefore, You should not expect that all of Your personally identifiable information will be completely removed from Our databases in response to Your requests.</p>
				<strong><h4>10. CONTROL OF YOUR PASSWORD</h4></strong>
				<p>If you sign up to become a Member, You will also be asked to choose a password. You are entirely responsible for maintaining the confidentiality of your password. It is important that you protect it against unauthorized access of your account and information by choosing your password carefully, and keeping your password and computer secure by signing out after using our services</p>
				<p>You agree not to use the account, username, email address or password of another Member at any time or to disclose Your password to any third party. If You choose to share this information with third parties to provide You additional services, You are responsible for all actions taken with Your login information and password and therefore should review each third party's privacy policy. You are responsible for all actions taken with Your login information and password, including fees. If You lose control of Your password, You may lose substantial control over Your personally identifiable information and may be subject to legally binding actions taken on Your behalf. Therefore, if Your password has been compromised for any reason, You should immediately change Your password. You agree to notify Us immediately if You suspect any consistent unauthorized use of Your account or access to Your password even after changing it.</p>
				<strong><h4>11. OTHER INFORMATION COLLECTORS</h4></strong>
				<p>Except as otherwise expressly included in this Privacy Policy, this document only addresses the use and disclosure of information we collect from You. To the extent that You disclose Your information to other parties, whether they are on Our Websites or on other sites throughout the Internet, different rules may apply to their use or disclosure of the information You disclose to them. To the extent that We use third party advertisers, they adhere to their own privacy policies. Since We do not control the privacy policies of the third parties, You are subject to ask questions before You disclose Your personal information to others.</p>
				<strong><h4>12. SECURITY</h4></strong>
				<p>We treat data as an asset that must be protected against loss and unauthorized access. We employ many different security techniques to protect such data from unauthorized access by members inside and outside the company. . "Perfect security" does not exist on the Internet. You therefore agree that any security breaches beyond the control of our standard security procedures are at your sole risk and discretion. </p>
				<strong><h4>13. DISCLAIMER</h4></strong>
				<p>We follow generally accepted industry standards to protect the personal information submitted to us. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, while we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security. It is important for you to protect against unauthorized access to your password and to your computer. Be sure to sign off when you finish using a shared computer. By using this site, you agree that we will have no liability for disclosure of your information due to errors in transmission or unauthorized acts of third parties.</p>

		</ol>
</div>
