<div style="text-align: center">
  <%= render 'devise/shared/logo' %>

  <h2>Resend confirmation instructions</h2>
  <%= devise_error_messages! %>
  <br/><br/><br/>

    <div class="row">
        <div class="col-md-offset-1 col-md-9 jumbotron">
            <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => {:method => :post}) do |f| %>

              <div class="row">
                  <div class="col-md-4" style="padding-top: 10px;">
                      <%= f.label :email %>
                  </div>
                  <div class="col-md-8">
                      <%= f.email_field :email, :autofocus => true, :class => "form-control" %>
                  </div>
              </div>
              <div class="row">
                  <div class="field col-md-4" style="float: right"><%= f.submit "Resend confirmation instructions", :class => 'btn btn-info' %></div>
              </div>
            <% end %>

        </div>
    </div>

  <br/><hr class="style-six" />
  <div class="row">
    <h3>A note about spam filters</h3>
  </div>
  <div class="row">
    <h4>If you don't get an email from us within a few minutes, please be sure to check your spam filter.</h4>
  </div>
</div>
