<%= form_tag import_action_messages_path, :multipart => true do %>

  <%= password_field_tag :password %>
  <%= file_field_tag :file %>

  <div class="actions">
    <%= submit_tag 'Import' %>
  </div>
<% end %>