<% content_for(:title, 'Manage Account') %>

<div style="text-align: justify">
  <!-- <%= render 'devise/shared/logo' %> -->

  <h1 class="page-title" style="margin-left: 18px;">Manage Account</h1>
  <div class="col-md-3 col-xs-12" id='tab'>
    <ul class="nav nav-tabs tabs-left" style="text-align:left;">
      <li class='active'><a href="#profile" data-toggle="tab">Your Personal Information</a></li>
      <li><a href="#password" data-toggle="tab">Change your Password</a></li>
      <li><a href="#bmi" data-toggle="tab">Your Body Mass Index</a></li>
      <li><a href="#survey" data-toggle="tab" id="survey-link">Your ActiveQuotient</a></li>
      <li><a href="#social" data-toggle="tab">Your Social Networks</a></li>
      <li><a href="#devices" data-toggle="tab">Manage Devices & Apps</a></li>
    </ul>
  </div>

  <div class="col-md-9 col-xs-12">
    <div class="tab-content">
      <div class="tab-pane fade in active" id="profile">
        <%= render 'devise/shared/profile' %>
      </div>
      <div class="tab-pane fade" id="password">
        <%= render 'devise/shared/password' %>
      </div>
      <div class="tab-pane fade" id="bmi">
        <%= render 'devise/shared/bmi_calculator' %>
      </div>
      <div class="tab-pane fade" id="survey">
      </div>
      <div class="tab-pane fade" id="social">
        <%= render 'devise/shared/edit_social' %>
      </div>
      <div class="tab-pane fade" id="devices">
        <%= render 'devise/shared/devices' %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){


 $('#survey-link').on('shown.bs.tab', function (e) {
  e.target // activated tab
  e.relatedTarget // previous tab
   $.get( "/questionnaires/attempts/new.js", function( data ) {


  });


})
})

</script>

