<div>
  <%= render "devise/shared/#{@current_user_state}" %>
  <%= link_to 'View my Dashboard', dashboard_path, class: 'FR btn-branding btn', style: 'margin-bottom: 20px;' %>
  <div class="CL"></div>
</div>
