<div style="text-align: center">

    <div class="panel panel-default panel-info">
        <div class="panel-body">
        <div class="col-md-7 key-text">
          <p style="text-align: left">Hey,</p>
          <p>&nbsp;</p>
            <p>Thanks for your interest in getfitgo.We are currently a beta site,testing out key flows and are open by invitation only.</p>
            <br/>
            <p>We are glad to have users like you interested in checking out and using our platform. Please share your email ID below and we’ll send you an invitation as soon as we are ready.</p>
            <br/>
            <%= form_for(User.new, :as => 'user', :url => request_invite_path, class: "form-inline", role: "form") do |f| %>
              <div class="form-group" onfocus="validatemail()">
                <%= f.email_field :email, class: "form-control", placeholder: "Enter your email", id: "email-form" %>
              </div>
              <div class="form-group">
                <%= f.submit "Request Invite", class: "btn-branding btn col-xs-offset-4 col-xs-4" %>
              </div>
              <div class="CL"></div>
            <% end %>
            <br/>
             <span><a>About <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span></a></span>
             <span>|</span>
             <span><a>How <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span> works?</a></span>
             <p>&nbsp;</p>
             <p>Connect with us or follow us on social media</p>

             <a href="https://www.facebook.com/getfitgo" target="_blank"><img src="/facebook.png"></a> <a href="https://twitter.com/getfitgo123" target="_blank"> <img src="/twitter.png"></a>
        </div>
            <div class="col-md-5">
              <img src="/placeholder1.jpg">
            </div>
        </div>
    </div>

    <!--<div class="row">-->
    <!--<div class="col-md-6 jumbotron">-->
    <!--<h2>Sign up</h2><hr class="style-three"/><br/>-->
    <!--<%= devise_error_messages! %>-->

    <!--<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>-->

      <!--<%= f.hidden_field :invitation_token %>-->
      <!--<div class="row">-->
      <!--<div class="col-md-4" style="padding-top: 10px; text-align: left">-->
      <!--<%= f.label :email %>-->
      <!--</div>-->
      <!--<div class="col-md-8">-->
      <!--<%= f.email_field :email, :autofocus => true, :class => "form-control" %>-->
      <!--</div>-->
      <!--</div>-->

      <!--<div class="row">-->
      <!--<div class="col-md-4" style="padding-top: 10px; text-align: left">-->
      <!--<%= f.label :name %>-->
      <!--</div>-->
      <!--<div class="col-md-8">-->
      <!--<%= f.text_field :user_name, class: "form-control" %>-->
      <!--</div>-->
      <!--</div>-->

      <!--
      <% if f.object.password_required? %>-->
        <!--<div class="row">-->
        <!--<div class="col-md-4" style="padding-top: 10px; text-align: left">-->
        <!--<%= f.label :password %>-->
        <!--</div>-->
        <!--<div class="input-group col-md-8" style="padding-left: 10px;">-->
        <!--<span class="input-group-addon"><i class="fa fa-key fa-fw" onmousedown="togglePassword(true)" onmouseout="togglePassword(false)"></i></span>-->
        <!--<%= f.password_field :password, :class => 'form-control' %>-->
        <!--</div>-->
        <!--<br/><br/>-->
        <!--</div>-->

        <!--
      <% end %>-->

      <!--<div class="well">-->
      <!--<div class="row">-->
      <!--<div class="col-xs-offset-2 col-xs-2">-->
      <!--<input id= 'tnc' type="checkbox" onclick="toggleSubmit(checked)">-->
      <!--</div>-->
      <!--<div class="col-xs-8">-->
      <!--<label style="float: left">-->
      <!--I accept the <a href="#">Terms and Conditions</a>-->
      <!--</label>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->

      <!--<div class="field col-md-offset-3 col-md-6" onclick="checkTnC()"><%= f.submit "Get Started", class: "btn btn-large btn-info", :id => 'create_account', :disabled => true %></div>-->
      <!--
    <% end %>-->
    <!--</div>-->

    <!--<div class="col-md-6">-->
    <!--<%= render 'devise/shared/social', :message => 'Sign up', :content => '<br/><br/>' %>-->
    <!--</div>-->

    <!--</div>-->
</div>
