<% content_for(:title, 'Update Profile') %>
<div id='welcome-flash-messages'></div>
<div id="update_profile_survey"></div>
<div id="profile">
  <%= render 'devise/shared/profile', hide_fields: true %>
</div>
<div id="bmi">
  <%= render 'devise/shared/bmi_calculator' %>
</div>
<%= link_to 'Done!', dashboard_path, class: 'btn-branding btn btn-lg col-xs-offset-5 col-xs-2' %>
