<% content_for(:title, 'Welcome') %>
<div style="text-align: center;">
  <!--   <%= render 'devise/shared/logo' %> -->

  <div class="push-welcome">
    <div class="col-xs-12 hidden-md hidden-sm hidden-lg">
      <p style="color: #fff; font-size: 20px;"><strong>IT'S NEVER TOO LATE TO CHANGE YOUR LIFE</strong></p>
    </div>
    <div id="push-welcome-page-buttons"></div>
    <div class="col-xs-offset-4 col-xs-4 hidden-xs" style="position: fixed; z-index: 1;">
      <%= link_to 'Create Profile', update_profile_path, class: 'btn-branding btn col-xs-4' %>
      <%= link_to 'Explore', dashboard_path, class: 'btn-branding btn col-xs-offset-4 col-xs-4' %>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-2"></div>
      <div class="col-xs-10 hidden-md hidden-lg hidden-sm" id="Profile_create_small">
      <%= link_to 'Create Profile', update_profile_path, class: 'btn-branding btn col-xs-10' %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-2"></div>
      <div class="col-xs-10 hidden-md hidden-lg hidden-sm">
      <%= link_to 'Explore', dashboard_path, class: 'btn-branding btn col-xs-10' %>
      </div>
    </div>
    
  </div>
  <div id='scroll_down' class="scroll-down hidden-xs">
    <i class="fa fa-caret-square-o-down fa-4x" onclick='scrollDown();'></i>
  </div>
</div>
  <div id="welcome_page" class="row altGrBx login-bottom hidden-xs" style="position: relative; z-index: 10;">
    <div class="" style="background: transparent">
      <h2 style="color: ;"><strong>Welcome to <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span><span style="color:#fa9600">.in</span></strong></h2><br/>
      <% if current_user.identities.find_by(provider: "facebook") %>
        <%= link_to image_tag('/ufb.png',id:"fb"), post_registrations_path %>
      <% end %>
      <h4 style="color: ;">Congratulations on embarking on this new journey to a fitter and healthier lifestyle.<br/>We promise this is going to be exciting and fun all the way!</h4><br/><hr class="style-six" />
    </div>
    <div class="CL"></div>


    <h5><div class="hidden-xs">
      <div class="" style="text-align: center;margin-left: 20px;">
        <h3><span class="brand"><strong>A whole new way to <span style="color:#faaf00">#feelgoodnow</span></strong></span></h3><br/>
        <div class="CL"></div>
      </div>
      <div class="" style="position:relative;">
        <div class="col-xs-12">
          <div class="col-md-3">
            <div class="row">
              <div style="text-align: center"><%= image_tag '/Diet.png', size: '100x100' %></div>
            </div>
            <p style="line-height: 1"></p>
            <p style="text-align: center">Fitness & diet challenges to get you started</p>
          </div>

          <div class="col-md-3">
            <div class="row">
              <div style="text-align: center"><%= image_tag '/track_fire.png', size: '160x100' %></div>
            </div>
            <p style="line-height: 1"></p>
            <p style="text-align: center">Trackers, pedometers, mobile apps to track & motivate you</p>
          </div>

          <div class="col-md-3">
            <div class="row">
              <div style="text-align: center"><%= image_tag '/medal.png', size: '80x100' %></div>
              <p style="line-height: 1"></p>
              <p style="text-align: center">Rewards, recognition & personal advice from <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span> experts</p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="row">
              <div style="text-align: center"><%= image_tag '/couple10.png', size: '100x100' %></div>
            </div>
            <p style="line-height: 1"></p>
            <p style="text-align: center">Invite friends, challenge, cheer and motivate</p>
          </div>
        </div>
        <div class="CL"></div>
      </div>
    </div><hr class="style-six" />

    <div class="">
      <div class=""  style="text-align: center;margin-left: 20px;">
        <h3><span><strong>What's next?</strong></span></h3><br/>
        <div class="CL"></div>
      </div>
      <div class="" style="position:relative;text-align: center;margin-left: 30px;">
        <ul class="hidden-xs">
          <li>
            <strong><em>Get the tracker -</em></strong> Check it out. Email us at <a href="mailto:hello@getfitgo.in" class="colored-link">hello@getfitgo.in</a> if you don’t have one.
          </li>
          <li>
            <strong><em>Help us know you better -</em></strong> Update your Profile, get personal feedback and recommendations on fitness and diet from our experts.
          </li>
          <li>
            <strong><em>Warm up</em></strong>, get familiar, update your fitness activity on your personal getfitgo dashboard.
          </li>
        </ul>
      </div>
      <div class="row hidden-xs">
        <div class="col-xs-12">
          <div class="col-xs-6">
            <h3 class="lBluTxt"> Help us know you better </h3>
          </div>
          <div class="col-xs-6">
            <h3 class="lBluTxt" style="margin-right: 2em;"> Get the Windows Software to sync your Activity Data </h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-6">
            <%= link_to 'Update Profile', update_profile_path, class: "btn-branding btn" %>
          </div>
          <div class="col-xs-6" style="margin-left: -25px;">
            <a class="btn-branding btn" href="https://dl.dropboxusercontent.com/u/2796/app/getfitgo%20APP-setup%20for%20JP-1301%20USB.exe" target="_blank">Download</a>
          </div>
        </div>
      </div>
  </div></h5>


  <!-- <div class="row jumbotron">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6"><h3 style="text-align: justify">Welcome <%= resource.user_name + ',' %></h3></div>
        <div class="col-md-6">
          <% if current_user.identities.find_by(provider: "facebook") %>
          <%= link_to image_tag('/ufb.png',id:"fb"), post_registrations_path %>
          <% end %>
        </div>
      </div>
      <h4 style="text-align: justify">
        Hey, thanks for registering. Congratulations on embarking this new journey to a fitter, and healthier
        lifestyle. We promise this is going to exciting and fun all the way!
      </h4><br/>
      <h4 style="text-align: justify">
        We’ve sent you an email with a confirmation link. Please click the link and complete your registration.
      </h4><br/>
      <h4 style="text-align: justify">
        Since we are just meeting each other, you can find out more about us at
        <a href='http://www.getfitgo.in' target="_blank">www.getfitgo.in</a> and we’d also to love to know more
        about you. We encourage you to provide us more information about yourself and connect your social
        accounts with getfitgo. Feel free to skip through to begin your journey, but don’t forget to fill this
        in later. We’d really like to know you better. <i class="fa fa-smile-o fa-2x"></i>
      </h4><br/><br/>
      <a href="/introduction" class="btn btn-info field col-md-offset-5 col-md-3">Skip</a>
    </div>
    <div id='scroll_down' class="scroll-down">
      <i class="fa fa-caret-square-o-down fa-4x" onclick='scrollDown();'></i>
    </div>
  </div>
  <br/>

  <div class="col-xs-3" id="tab">
    <ul class="nav nav-tabs tabs-left" style="text-align:left;">
      <li class="active"><a href="#survey" data-toggle="tab">Lifestyle Risk survey</a></li>
      <li><a href="#profile" data-toggle="tab">Edit Profile</a></li>
      <li><a href="#bmi" data-toggle="tab">BMI Calculator</a></li>
      <li><a href="#social" data-toggle="tab">Social Connect</a></li>
    </ul>
  </div>

  <div class="col-xs-9">
    <div id='welcome-flash-messages'></div>
    <div class="tab-content">
     <div class="tab-pane fade in active" id="survey"></div>
     <div class="tab-pane" id="profile">
      <%#= render 'devise/shared/profile' %>
      </div>
      <div class="tab-pane fade" id="bmi">
        <%#= render 'devise/shared/bmi_calculator' %>
        <br/><br/>
      </div>
      <div class="tab-pane fade" id="social">
        <%#= render 'devise/shared/edit_social' %>
        <a href="/introduction" class="btn btn-warning field col-md-offset-5 col-md-3">Skip</a><br/><br/><br/>
      </div>
    </div>
  </div> -->
</div>
