<% parent = @parent %>
<% parent ||= @commentable %>
<% if @parent %>
  $("#comment_<%= parent.id %>_comment_count").html("<%= escape_javascript(render 'activities/comment_count', comment: @parent ) %>");
<% else %>
  $("#activity_<%= parent.id %>_comment_count").html("<%= escape_javascript(render 'activities/comment_count', activity: parent) %>");
<% end %>
$('#new_post').html("<%= escape_javascript(render "shared/post_form") %>");
var s = '<div><%= escape_javascript(render "shared/show_comment", comment: [@comment], user: @activity_feed_user) %></div>';
var div = document.createElement('div');
div.innerHTML = s;

$('#comments-<%= parent.id %>-<%= parent.class %>').append($(div.firstChild).hide().fadeIn('slow'));

<% if @parent %>
  $('#comment-<%= parent.id %>-<%= parent.class %>').html("<%= escape_javascript(render 'shared/post_comment', parent_id: @parent.id, commentable: @commentable, user: @activity_feed_user) %>");
<% else %>
  $('#comment-<%= parent.id %>-<%= parent.class %>').html("<%= escape_javascript(render 'shared/post_comment', parent_id: nil, commentable: @commentable, user: @activity_feed_user) %>");
<% end %>