<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}, :remote => true) do |f| %>
  <div class="row" style="margin-left: 6.5em;">
    <div class="col-md-2 col-xs-12" style="padding-top: 1em;">
      <%= f.label :height %>
    </div>
    <div class="col-md-7 col-xs-12">
      <div class="col-xs-6" style="margin-left: -15px;">
        <%= f.number_field :foot, maximum: 7, minimum: 5, class: "form-control", :autofocus => true, :style => 'width:60%;display:inline' %>
        feet
      </div>
      <div class="col-xs-6">
        <%= f.number_field :inches, maximum: 12, minimum: 1, class: "form-control", :style => 'width:60%;display:inline' %>
        inches
      </div>
    </div>
  </div>

  <div class="row" style="margin-left: 6.5em;">
    <div class="col-md-2 col-xs-12" style="padding-top: 1em;">
      <%= f.label :weight %>
    </div>
    <div class="col-md-3 col-xs-12">
      <%= f.number_field :weight, :autocomplete => "off", class: "form-control", :style => 'width:55%;display:inline' %>
      kgs
    </div>
  </div>
  <%= f.hidden_field :tab, :value => from %>

  <div class="row">
    <!-- <div class="col-md-4"></div> -->
    <div class="field" id="calculate_bmi">
      <%= f.submit 'Calculate BMI', class: 'btn-branding btn btn-lg' %>
    </div>
  </div>
<% end %>