<div class="widgetBx" style="margin-bottom: 20px;">
  <!-- <div class="widgetTitle">
    <span>Your Body Mass Index</span>
  <div class="CL"></div>
  </div> -->
  <div class="widgetCnt" style="position:relative;">
    <h4 style="color: #00c8c8;"><%= image_tag '/BMI.png' %> <strong class="hidden-xs">Your Body Mass Index</strong><strong class="hidden-md hidden-lg hidden-sm">BMI</strong>
      <span style="float: right; font-size: 75%;"><a class="colored-link hidden-xs" href="javascript:void(0);" data-id="bmi" onclick="nextTab('#tab'); $('#' + $(this).data('id')).toggle();">Skip>></a></span>
    </h4>
    <hr class="style-six"/>

    <h6 class="col-xs-12 hidden-xs">
      The body mass index(BMI), is a measure for human body shape based on an individual's mass and height. The BMI is used in a wide variety of contexts as a simple method to assess how much an individual's body weight departs from what is normal or desirable for a person of his or her height.
    </h6>

    <h4 style="color: #00c8c8;"><strong class="hidden-xs">Let's calculate your BMI now</strong></h4>

    <div style="text-align: left">
      <%= render 'devise/shared/bmi_calculator_form', :resource => current_user, :resource_name => "user", from: "BMI_manage_profile" %>
    </div>
    <br/>
      <div id="bmi_calculated" class="row">
        <%= render 'dashboards/bmi_chart', :user => current_user %>
      </div>
      <br/><br/>

      <br/><br/>
<!--
      <div class="col-xs-12">
        <div class="col-xs-3" style="display: inline-table">
          <label>
            <div class="square" style="background-color: #e9ce0b"></div>
          </label>
          <h5>Underweight</br></br><=18.5</h5><br/>
        </div>
        <div class="col-xs-3" style="display: inline-table">
          <label>
            <div class="square" style="background-color: #00d200"></div>
          </label>
          <h5>Normal</br></br>18.5-24.9</h5><br/>
        </div>
        <div class="col-xs-3" style="display: inline-table">
          <label>
            <div class="square" style="background-color: #f99400"></div>
          </label>
          <h5>Overweight</br></br>25-29.9</h5><br/>
        </div>
        <div class="col-xs-3" style="display: inline-table">
          <label>
            <div class="square" style="background-color: #cd1101"></div>
          </label>
          <h5>Obesity</br></br>>=30</h5><br/>
        </div>
      </div>
-->
      <div id="bmi-next" class="row col-md-offset-11" style="display: none;"></div>
    </div>
</div>
