<div class='widgetBx' style='margin-bottom: 20px;'>
  <!-- <div class='widgetTitle'>
    <span>Manage your social network connections</span>
    <div class='CL'></div>
  </div> -->
  <div class='widgetCnt' style='position:relative;'>
    <h4 style='color: #00c8c8;'><%= image_tag '/devices.png', size: '64x64' %> <strong class="hidden-xs">Manage Devices & Apps</strong>
    <strong class="hidden-md hidden-lg hidden-sm">Manage</strong>
      <span class="hidden-xs hidden-sm" style='float: right; font-size: 75%;'><a class='colored-link' href='javascript:void(0);' data-id='social' onclick='nextTab('#tab'); $('#' + $(this).data('id')).toggle();'>Skip>></a></span>
    </h4>
    <hr class='style-six'/>
    <div style='text-align: left'>
     
        <% [[:moves, 'Moves App', 'moves'],[:fitbit, 'Fitbit', 'fitbit']].each do |provider| %>
          <div class='row'>
            <div class='col-xs-3'>
              <% margin = (provider[0].eql? :moves) ? '20' : '50' %>
              <img src='/<%= provider[2] %>.png' style="margin-top: <%= margin %>px;"/>
            </div>
            <div class='col-xs-6 hidden-xs'>
              <h3 class="FL" style="margin-top: 0px;"><%= provider[1] %></h3>
              <% if provider[0].eql? :moves %>
                <p class="FR">
                  <% [['https://itunes.apple.com/in/app/moves/id509204969?mt=8','appstore'], ['https://play.google.com/store/apps/details?id=com.protogeo.moves','gplay']].each { |app_store| %>
                    <%= link_to app_store[0], target: '_blank' do %>
                      <%= image_tag "/#{app_store[1]}.png", width: '78', class: 'hidden-xs' %>
                    <% end %>
                  <% } %>
                </p>
              <% end %>
              <div class="CL"></div>
              <% if provider[0] == :fitbit %>
                <p class="hidden-xs">Fitbit products continuously sync your stats to your computer and smartphone. Get real-time access to your progress and reminders throughout the day without having to plug in.</p>
                <p class="hidden-xs"><%= link_to "http://www.fitbit.com" ,"http://fitbit.com", class: 'colored-link', target: '_blank' %></p>
              <% else %>
                <p class="hidden-xs">Moves automatically records any walking, cycling, and running you do. You can view the distance, duration, steps, and calories burned for each activity. The app is always on, so there’s no need to start and stop it. Just keep your phone in your pocket or your bag.</p>
                <p class="hidden-xs"><%= link_to "http://www.moves-app.com" ,"http://www.moves-app.com", class: 'colored-link', target: '_blank' %></p>
              <% end %>
            </div>
            <div class='col-xs-3' style='text-align: left; margin-top: 50px;'>
              <% (i = Identity.where(:user_id => current_user.id, :provider => provider[0]).first) if current_user%>
              <div class='col-xs-1'>
                <div class="CL"></div>
              </div>

              <% if i %>
                <div class='col-xs-9' style="text-align: center;">
                  <%= button_to "Disconnect",i, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-branding btn col-xs6', id: 'delete-identity', style: 'margin-top: 15px;' %>

                  <% if current_user.identities.find_by(provider: "fitbit") || current_user.identities.find_by(provider: "moves")  %>
                    <%= button_to "Sync",sync_path, class: "btn-branding btn",style:"margin-top:6px;margin-left: 15px;" %>
                  <% end %><br/>
                  <p style="white-space: nowrap; font-size: 80%;  margin-left: -30px;">Connected on <%= i.created_at.strftime('%-d %B, %Y') %></p>
                  <p style="white-space: nowrap; font-size: 80%;  margin-left: -25px;"><% if current_user.last_synced_at %>Synced on <%= current_user.last_synced_at.strftime("#{current_user.last_synced_at.day.ordinalize} %B, %Y") %><% end %></p>
                </div>
              <% else %>
                <div class='col-xs-6 btn_connect' id="device_map">
                  <% session[:omniauth_callback_url] = request.original_fullpath %>
                  <%= button_to "/auth/#{provider[0]}", class: 'btn-branding btn', style: 'float:left; margin-top: -6px;','onclick' => 'return connect_device(' +@count.to_s+ ')' do %>
                    Connect
                  <% end %>
                </div>
              <% end %>
              <div class="CL"></div>
            </div>
          </div>
        <% end %>
      
    </div>
  </div>
</div>
