<div class="widgetBx" style="margin-bottom: 20px;">
  <!-- <div class="widgetTitle">
    <span>Manage your social network connections</span>
    <div class="CL"></div>
  </div> -->
  <div class="widgetCnt" style="position:relative;">
    <h4 style="color: #00c8c8;"><%= image_tag '/social_connect.png' %> <strong class="hidden-xs">Your Social Networks</strong><strong class="hidden-md hidden-lg hidden-sm">Social Networks</strong>
       <span class="hidden-xs hidden-sm" style="float: right; font-size: 75%;"><a class="colored-link" href="javascript:void(0);" data-id="social" onclick="nextTab('#tab'); $('#' + $(this).data('id')).toggle();">Skip>></a></span>
    </h4>
    <hr class="style-six"/>

    <h6 class="col-xs-12 hidden-xs hidden-sm">
      Connect your social networks and use them to Sign In, Invite Friend and Share your wellness journey
    </h6>
    <hr class="style-six hidden-xs hidden-sm">
    <div style="text-align: left">
      <% [[:facebook, 'Facebook', 'facebook'], [:google_oauth2, 'Google+', 'google-plus']].each do |provider| %>
      
      <div class="col-md-10 col-xs-12" style="text-align: left">
        <% (i = Identity.where(:user_id => current_user.id, :provider => provider[0]).first) if current_user%>
        <div class="col-md-4 hidden-xs"></div>
        <div class="col-md-1 col-xs-2" style="margin-top: -10px;">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-<%= provider[2] %> fa-stack-1x"></i>
          </span>
        </div>
        <div class="col-md-6 col-xs-8 btn_connect">
          <% if i %>
          Connected on <%= i.created_at.strftime('%-d %B, %Y') %>
          <%= button_to i, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-branding btn', style: "margin-left: 180px;", id: 'delete-identity' do %>
          Unlink
          <% end %>
          <% else %>
          <% session[:omniauth_callback_url] = request.original_fullpath %>
          <%= button_to "/auth/#{provider[0]}", class: 'btn-branding btn', style: "float:left; margin-top: -6px;" do %>
          Connect
          <% end %>
          <% end %>
        </div>
      </div><br/><br/><br/>
      <% end %>
    </div>
  </div>
</div>
