<div class="row altGrBx login-bottom hidden-xs ">
  <%= render 'devise/shared/logo' %>

  <h1 style="color: #fa9600;">
    A Personal Wellness platform that makes getting fit a Social Competitive Game.
  </h1>
  <h1 style="color: #fa9600;">
    Making small steps towards a better life viral.
  </h1>
  <div class="container">
    <div class="row" style="text-align: justify;">
      <div class="col-xs-12">
        <div class="col-xs-4">
          <h2><i class="fa fa-user fa-2x"></i> Personal</h2>
          It’s Personal, without an expensive Personal Trainer
        </div>
        <div class="col-xs-4">
          <h2><i class="fa fa-comments fa-2x"></i> Social</h2>
          It’s Social, by design, as fitness should be
        </div>
        <div class="col-xs-4">
          <h2><i class="fa fa-heart fa-2x"></i> Fun</h2>
          It’s Fun & Engaging, with lots of Challenges to choose from
        </div>
      </div>
      <div class="CL"></div>
    </div>
    <div class="row" style="text-align: justify">
      <div class="col-xs-12">
        <div class="col-xs-4">
          <h2><i class="fa fa-book fa-2x"></i> Educative</h2>
          It’s Educational too. Articles, Quizzes and more
        </div>
        <div class="col-xs-4">
          <h2><i class="fa fa-laptop fa-2x"></i> Universal</h2>
          Available everywhere. Web, Tablet, Mobile
        </div>
        <div class="col-xs-4">
          <h2><i class="fa fa-code fa-2x"></i> Open</h2>
          It’s open and interoperable. Works with your Device or Mobile Fitness App
        </div>
      </div>
      <div class="CL"></div>
    </div>
  </div>
  <br/><br/>
  <p style="text-align: center;margin-bottom: 30px;">
    At <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span>, your Virtual Personal trainer comes to you. We use your activity data and combine that with inputs from our Expert panel and our fine tuned algorithms to give you all the feedback and insights you need to lead a fitter and healthier life, your way.
  </p>
</div>
