<div class="widgetBx" style="margin-bottom: 20px;">
  <!-- <div class="widgetTitle">
    <span>Change your Password</span>
    <span></span>
    <div class="CL"></div>
  </div> -->
  <div class="widgetCnt" style="position:relative;">
    <h4 style="color: #00c8c8;"><%= image_tag '/password.png' %> <strong class="hidden-xs">Change your Password</strong><strong class="hidden-md hidden-lg hidden-sm">Password</strong>
      <span style="float: right; font-size: 75%;"><a class="colored-link hidden-xs" href="javascript:void(0);" data-id="password" onclick="nextTab('#tab'); $('#' + $(this).data('id')).toggle();">Skip>></a></span>
    </h4>
    <hr class="style-six"/>

    <div style="text-align: left">

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}, :remote => true) do |f| %>
      <%= devise_error_messages! %>

        <div class="col-md-offset-1">
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="row">
            <div class="col-md-4 col-xs-3" id="pwd">
              <%= f.label :password %>
              <br/>
            </div>
            <div class="col-md-6 col-xs-8" id="pwdchange" style="margin-left: -2em;">
              <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
            </div>
          </div>
          <br/>

          <div class="row">
            <div class="col-md-4 col-xs-3" id="pwd">
              <%= f.label :password_confirmation %>
            </div>
            <div class="col-md-6 col-xs-8" id="pwdchange" onfocus="pwd_change()" style="margin-left: -2em;">
              <%= f.password_field :password_confirmation, class: "form-control" %>
            </div>
          </div>

          <br/>
          <%= f.hidden_field :tab, :value => 'password' %>

          <div class="row">
            <div class="col-md-3 col-xs-3"></div>
            <div class="field col-md-6 col-xs-6" style="margin-left:-1.6em;">
              <%= f.submit 'Change Password', class: 'btn-branding btn btn-lg' %>
            </div>
          </div>
        </div>

      <% end %>
      <hr class="style-six">
      <i class="fa fa-info-circle"></i> This password will replace the old one; everything else about the user account remains unchanged.
    </div>
  </div>
</div>
