<div id="profilePicCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <% blacklist = [".", ".."] %>
    <% file_names = Dir.entries('public/Default Profile Pics') %>
    <% blacklist.each do |blacklisted| %>
      <% file_names.delete(blacklisted) %>
    <% end %>
    <% file_names.each_slice(4).with_index do |(a,b,c,d), i| %>

    <div class='row item <%= "active" if i == 0%>'>
      <div class="col-xs-1"></div>
      <% [a,b,c,d].each_with_index { |name, j| %>
        <div class="col-xs-2 hidecheck profile-pic" style="width: 19%;">
          <% if name != nil %>
          <%= radio_button_tag "photo", name,false, id: "pp-#{4*i + j}" %>
          <%= label_tag "pp-#{4*i + j}", image_tag("/Default Profile Pics/#{name}"), onclick: "$('#change_avatar_button').show()" %>
          <% end %>
        </div>
      <% } %>
      <div class="col-xs-1"></div>
    </div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#profilePicCarousel" data-slide="prev" style="width:30px;">‹</a>
  <a class="carousel-control right" href="#profilePicCarousel" data-slide="next">›</a>
</div>