<div class="widgetBx" style="margin-bottom: 20px;">
  <!-- <div class="widgetTitle">
    <span>Manage Profile</span>

    <div class="CL"></div>
  </div> -->
  <div class="widgetCnt" style="position:relative;">
    <h4 style="color: #00c8c8;"><%= image_tag '/PersonalInformation.png' %> <strong class="hidden-xs">Your Personal Information</strong><strong class="hidden-md hidden-lg hidden-sm ">Personal Info</strong>
       <span style="float: right; font-size: 75%;"><a class="colored-link hidden-xs" href="javascript:void(0);" data-id="profile" onclick="nextTab('#tab'); $('#' + $(this).data('id')).toggle();">Skip>></a></span>
    </h4>

    <hr class="style-six">

    <div style="text-align: left">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :multipart => true}, :remote => true) do |f| %>
        <%= devise_error_messages! %>

        <div class="col-md-offset-1">
          <div class="row">
            <div class="col-md-2" style="padding-top: 5px;">
              <%= f.label :name %>
            </div>
            <div class="col-md-6">
              <%= f.text_field :user_name, :autofocus => true, :class => "form-control", placeholder: "Enter your name" %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2" style="padding-top: 5px;">
              <%= f.label :email %>
            </div>
            <div class="col-md-6" onfocus="validatemail()">
              <%= f.email_field :email, :class => "form-control", placeholder: "Enter your email", readonly: true %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2" style="padding-top: 5px;">
              <%= f.label :birth_date %>
            </div>
            <div class="col-md-6">
              <div class="input-group date">
                <%= f.text_field :birth_date, placeholder: "DD/MM/YYYY", :autocomplete => "off",class: "form-control",'data-behaviour'.to_sym => 'datepicker','data-max'.to_sym => "01/01/#{18.years.ago.year}", :value => if resource.birth_date; resource.birth_date.strftime('%d/%m/%Y') end %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2" style="padding-top: 5px;">
              <%= f.label :gender %>
            </div>
            <div class="col-md-6" style="padding-top: 5px;">
              <div class="col-md-6">
                <div class="col-xs-12">
                  <div class="col-xs-2">
                    <%= f.radio_button :gender, 'male' %>
                  </div>
                  <div class="col-xs-4">
                    <%= f.label :gender, 'Male', :value => 'male' %>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="col-xs-12">
                  <div class="col-xs-2">
                    <%= f.radio_button :gender, 'female' %>
                  </div>
                  <div class="col-xs-4">
                    <%= f.label :gender, 'Female', :value => 'female' %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2" style="padding-top: 5px;">
              <%= f.label :photo %>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= f.file_field :photo, :class => 'btn btnFile' %>
                <p><em>Upload your profile pic or choose one from the avatars below</em></p>
                <%= render 'devise/shared/profile_pic' %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2" style="padding-top: 5px;">
              <%= f.label :city %>
            </div>
            <div class="col-md-6" >
              <%= f.text_field :city, :autocomplete => 'off',class: 'form-control',placeholder: "Enter your city" %>
            </div>
          </div>

          <% unless defined?(hide_fields) && hide_fields %>
            <div class="row">
              <div class="col-md-2">
                <%= f.label :what_do_you_do_for_a_living %>
              </div>
              <div class="col-md-6">
                <%= select(:user, :living, options_for_select(['Do nothing', 'Employed', 'Professional', 'Businessman', 'Housewife', 'Student', 'Other']), {}, { class: 'form-control', selected: 'Student' }) %>
                <%= f.text_field :living, :autocomplete => 'off',class: 'form-control', style: 'display: none;', id: 'user_living_text_field', placeholder: 'Other ...' %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2" style="padding-top: 5px;">
                <%= f.label :organisation %>
              </div>
              <div class="col-md-6">
                <%= f.text_field :organisation, :autocomplete => 'off',class: 'form-control', placeholder: "Organisation" %>
              </div>
            </div>
          <% end %>
          <br/>
          <%= f.hidden_field :tab, :value => 'profile' %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

          <div class="row" style="margin-left: 10px;">
          <div class="col-md-4 col-xs-3"></div>
          <!-- <div class="col-md-4"> -->
            <%= f.submit 'Update', class: 'btn-branding btn btn-lg col-xs-4 col-md-2' %>


          <!-- </div> -->
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
