<div class="widgetBx">
  <div class="widgetTitle">
    <span class="brand">A whole new way to #<span style="color:#00c8c8">feel</span><span style="color:#fa9600">good</span><span style="color:#00c8c8">now</span></span>
    <div class="CL"></div>
  </div>
  <div class="postBx">
    Great, ready to start?
    <ul class="" style="line-height: 2 !important;">
      <li>
        <i class=""></i> Your personal getfitgo tracker will help you track your steps walked, calories burnt and more for each day.
      </li>
      <li>
        <i class=""></i> Don’t have a personal tracker? Email us at <a href="mailto:hello@getfitgo.in">hello@getfitgo.in</a> and we will help you get one.<br/>
      </li>
      <li>
        <i class=""></i> And finally, lace up those walking/running shoes and get started!<br/>
      </li>
    </ul>
  </div>
</div>

<div class="widgetBx">
  <div class="widgetTitle">
    <span>What's next ...</span>
    <div class="CL"></div>
  </div>
  <div class="widgetCnt">
    <div class="col-xs-12">
      <div class="col-md-6">
        <div class="row">
          <div style="text-align: center"><%= image_tag '/Confirm email.png', size: '100x100' %></div>
        </div>
        <div style="text-align: center"><strong>Confirm account</strong></div>
        <p style="line-height: 1"></p>
        <p style="text-align: center">We’re waiting for you to Accept the Invitation & confirm your account. Please click the link in the email.</p>
        <div class="row">
          <p style="line-height: 5"></p>
        </div>
        <div style="text-align: center"><%= link_to "Resend Invitation email", registrations_resend_path, :class => 'btn-branding btn', :type => 'button' %></div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div style="text-align: center"><%= image_tag '/7-day warm up.png', size: '100x100' %></div>
          <div style="text-align: center"><strong>Ease into <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span> with a 7 day Warm Up</strong></div>
          <p style="line-height: 1"></p>
          <p style="text-align: center">
            Your warm up starts as soon as you confirm your account.
            <ul class="">
              <li>
                <i class=""></i> Our fitness experts track your activity
              </li>
              <li>
                <i class=""></i> Provide personalized fitness tips
              </li>
              <li>
                <i class=""></i> Recommend activities and challenges best suited for you
              </li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="CL"></div>
  </div>
</div>

<div class="widgetBx" style="margin-bottom: 10px;">
  <div class="widgetTitle">
    <span class="brand">Follow these simple tips to #<span style="color:#00c8c8">feel</span><span style="color:#fa9600">good</span><span style="color:#00c8c8">now</span></span>
    <div class="CL"></div>
  </div>
  <div class="postBx">
    <ul class="" style="line-height: 2 !important;">
      <li>
        <i class=""></i> Carry your tracker with you all the time. Oh, you can keep it aside while sleeping! <i class="fa fa-smile-o"></i>
      </li>
      <li>
        <i class=""></i> Keep walking like you always did.
      </li>
      <li>
        <i class=""></i> Update your steps count and calories burned for the day on getfitgo. Lets make this a new habit. We’ll also keep reminding you regularly.
      </li>
    </ul>
  </div>
</div>
