<div class="well">

  <div class="row">
    <h3 class="hidden-xs hidden-sm">Connect your Social Network</h3>
    <h3 class="hidden-md hidden-lg">Social Networks</h3>
  </div>
  <hr class="style-six"/><br/>

    <% [[:facebook, 'Facebook'], [:google_oauth2, 'Google-Plus']].each do |provider| %>
      <div>
        <% (i = Identity.where(:user_id => current_user.id, :provider => provider[0]).first) if current_user%>
        <% if i %>
          <button class="btn btn-lg btn-social btn-<%= provider[1].downcase %>" disabled><i class="fa fa-<%= provider[1].downcase %>" style="padding-top: 12px"></i><%= image_tag i.image, :style => 'max-width:50px;max-height:50px;' %> Linked on <%= i.created_at.strftime('%-d %B, %Y') %></button> <%= link_to "<i class='fa fa-chain-broken fa-2x'></i> Delink".html_safe, i, method: :delete, data: { confirm: 'Are you sure?' }, style: 'float:right;padding-top:20px;'  %>
        <% else %>
          <% session[:omniauth_callback_url] = request.original_fullpath %>
         <%= button_to "/auth/#{provider[0]}", :class => 'btn btn-lg btn-social btn-' + provider[1].downcase do %>
            <i class="fa fa-<%= provider[1].downcase %>"></i><%= "#{message + ' ' +  provider[1].split('-').first}" %>
          <% end %>
        <% end %>
      </div><br/>
    <% end %><br/><br/><br/>
    <% unless current_user %>
      <p style="text-align: justify">
        <strong>By logging in using Facebook, Google Plus, you are accepting getfitgo’s User agreement and <a href='/terms_and_conditions' target="_blank" class="colored-link">Terms and Conditions</a>.</strong>
      </p>

  <% end -%><br/><br/><br/><div><%= content.html_safe rescue nil %></div>

</div>
