<div class="widgetBx">
  <div class="widgetTitle hidden-xs">
    <span class="brand">A whole new way to #<span style="color:#00c8c8">feel</span><span style="color:#fa9600">good</span><span style="color:#00c8c8">now</span></span>
    <div class="CL"></div>
  </div>
  <div class="widgetTitle hidden-md hidden-lg hidden-sm">
    <span class="brand">#<span style="color:#00c8c8">feel</span><span style="color:#fa9600">good</span><span style="color:#00c8c8">now</span></span>
    <div class="CL"></div>
  </div>
  <div class="postBx">
    Great, ready to start?
    <ul class="" style="line-height: 2 !important;">
      <li>
        <i class=""></i> Your personal getfitgo tracker will help you track your steps walked, calories burnt and more for each day.
      </li>
      <li>
        <i class=""></i> Don’t have a personal tracker? Email us at <a href="mailto:hello@getfitgo.in">hello@getfitgo.in</a> and we will help you get one.<br/>
      </li>
      <li>
        <i class=""></i> And finally, lace up those walking/running shoes and get started!<br/>
      </li>
    </ul>
  </div>
</div>

<div class="widgetBx">
  <div class="widgetTitle">
    <span>What's next ...</span>
    <div class="CL"></div>
  </div>
  <div class="widgetCnt">
    <div class="col-xs-12">
      <div class="col-md-4">
        <div class="row">
          <div style="text-align: center"><%= image_tag '/track.png', size: '100x100' %></div>
        </div>
        <div style="text-align: center"><strong>TRACK</strong></div>
        <p style="line-height: 1"></p>
        <p style="text-align: center">Track your daily steps and calories burnt with your <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span> device</p>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div style="text-align: center"><%= image_tag '/Update.png', size: '100x100' %></div>
          <div style="text-align: center"><strong>UPDATE</strong></div>
          <p style="line-height: 1"></p>
          <p style="text-align: center">
            Update it on your <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span> <%= link_to 'dashboard', dashboard_path %> & review your progress
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div style="text-align: center"><%= image_tag '/Feedback.png', size: '100x100' %></div>
        </div>
        <div style="text-align: center"><strong>FEEDBACK</strong></div>
        <p style="line-height: 1"></p>
        <p style="text-align: center">Your <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span> personal trainer tracks your progress, provides personal feedback and tips and plans what’s next and best for you</p>
      </div>
    </div>
    <div class="CL"></div>
    <div class="row">
      <p style="line-height: 1"></p>
      <ul class="" style="line-height: 2 !important;">
        <li>
          <i class=""></i> Your first 4-Week Training Plan starts immediately after the warm up stage (first week)
        </li>
        <li>
          <i class=""></i> Keep walking, running and being active like you have always been doing and see how you breeze through the challenge
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="widgetBx" style="margin-bottom: 10px;">
  <div class="widgetTitle hidden-xs">
    <span class="brand">Follow these simple tips to #<span style="color:#00c8c8">feel</span><span style="color:#fa9600">good</span><span style="color:#00c8c8">now</span></span>
    <div class="CL"></div>
  </div>
   <div class="widgetTitle hidden-sm hidden-md hidden-lg">
    <span class="brand">Follow these simple tips</span>
    <div class="CL"></div>
  </div>
  <div class="postBx">
    <ul class="" style="line-height: 2 !important;">
      <li>
        <i class=""></i> Carry your tracker with you all the time. Oh, you can keep it aside while sleeping! <i class="fa fa-smile-o"></i>
      </li>
      <li>
        <i class=""></i> Update your steps count and calories burned for the day on getfitgo.
      </li>
      <li>
        <i class=""></i> Lets make this a new habit. We’ll also keep reminding you regularly.
      </li>
    </ul>
  </div>
</div>
