<!-- <div class="widgetBx">
  <div class="widgetTitle">
    <span class="brand">A whole new way to #<span style="color:#00c8c8">feel</span><span style="color:#fa9600">good</span><span style="color:#00c8c8">now</span></span>
    <div class="CL"></div>
  </div>
  <div class="postBx">
    Great, ready to start?
    <ul class="" style="line-height: 2 !important;">
      <li>
        <i class=""></i> Your personal getfitgo tracker will help you track your steps walked, calories burnt and more for each day.
      </li>
      <li>
        <i class=""></i> Don’t have a personal tracker? Email us at <a href="mailto:hello@getfitgo.in">hello@getfitgo.in</a> and we will help you get one.<br/>
      </li>
      <li>
        <i class=""></i> And finally, lace up those walking/running shoes and get started!<br/>
      </li>
    </ul>
  </div>
</div> -->

<div class="widgetBx">
  <div class="widgetTitle">
    <span>What's next ...</span>
    <div class="CL"></div>
  </div>
  <div class="widgetCnt">
    <div class="col-xs-12">
      <div class="col-md-4">
        <div class="row">
          <div style="text-align: center"><%= image_tag '/track.png', size: '100x100' %></div>
        </div>
        <div style="text-align: center"><strong>TRACK</strong></div>
        <p style="line-height: 1"></p>
        <p style="text-align: center">Have you been carrying your device with you?</p>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div style="text-align: center"><%= image_tag '/Update.png', size: '100x100' %></div>
          <div style="text-align: center"><strong>UPDATE</strong></div>
          <p style="line-height: 1"></p>
          <p style="text-align: center"> Our experts need your activity data to recommend a 4-Week Training Plan best suited for you.</p>
          <div class="row">
            <p style="line-height: 5"></p>
          </div>
          <div style="text-align: center"><%= link_to "Update data now", dashboard_path, :class => 'btn-branding btn', :type => 'button' %></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div style="text-align: center"><%= image_tag '/Feedback.png', size: '100x100' %></div>
        </div>
        <div style="text-align: center"><strong>FEEDBACK</strong></div>
        <p style="line-height: 1"></p>
        <p style="text-align: center">Your <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span> personal trainer would love to track your fitness and provide personal feedback</p>
      </div>
    </div>
    <div class="CL"></div>
  </div>
</div>

<div class="widgetBx" style="margin-bottom: 10px;">
  <div class="widgetTitle hidden-xs">
    <span class="brand">Follow these simple tips to #<span style="color:#00c8c8">feel</span><span style="color:#fa9600">good</span><span style="color:#00c8c8">now</span></span>
    <div class="CL"></div>
  </div>
  <div class="widgetTitle hidden-sm hidden-md hidden-lg">
    <span class="brand">Follow these simple tips</span>
    <div class="CL"></div>
  </div>
  <div class="postBx">
    <ul class="" style="line-height: 2 !important;">
      <li>
        <i class=""></i> Missed updating your data? Your device stores data for 15 days.
      </li>
      <li>
        <i class=""></i> You could enter data for previous days too. Update your activity data now to get started with an exciting 4-Week Training Plan!
      </li>
    </ul>
  </div>
</div>
