//window.scrollTo(0, 0);
<% case @user.bmi %>
<% when 0..18.5 %>
<% color = '#e9ce0b' %>
<% when 18.5..24.9 %>
<% color = '#00d200' %>
<% when 25..29.9 %>
<% color = '#f99400' %>
<% when 30..50 %>
<% color = '#cd1101' %>
<% end %>

<% if request.referrer.include?('/registrations/welcome_page') %>
<% flash_messages_id = 'welcome-flash-messages' %>
<% end %>
<% flash_messages_id ||= 'flash_messages' %>
$("#<%= flash_messages_id %>").html("<%= escape_javascript(render('layouts/messages'))%>");
<% unless @user.is_user_property_nil? %>
<!-- $("#bmi_calculated")[0].style.display = ''; -->
<!-- $("#bmi_calculated").html("<h4 style='text-align: center'>Your BMI is <strong><%= @user.bmi %></strong><div class='square col-xs-offset-6' style='background-color: <%= color %>'></div></h4><br/>"); -->
<!-- $('#bmi_calculated').effect("highlight", {}, 3000); -->
<!-- $("#bmi-next")[0].style.display = ''; -->
<!-- $("#bmi-next").html("<a href='javascript:nextTab(&quot;#tab&quot;)' class='btn btn-warning'>Next</a>"); -->
$('#bmi_calculated').html('<%= escape_javascript(render 'dashboards/bmi_chart', user: @user) %>')
<!-- $('.countShow').hide(); -->
<!-- setTimeout(function(){$('.countShow').show();},1000); -->
<% end %>
