$(".lifestyle_profile_widget").html("<%= escape_javascript(render('dashboards/lifestyle_profile_widget', :user => current_user))  %>")
$('input[id=user_birth_date][data-behaviour~=datepicker]').datepicker({
  format: "dd/mm/yyyy",
  orientation: "top auto",
  // todayHighlight: true,
  startDate: $('input[id=user_birth_date][data-behaviour~=datepicker]').attr('data-min'),
  endDate: $('input[id=user_birth_date][data-behaviour~=datepicker]').attr('data-max')
});