$("#dashboard_profile").html("<%= escape_javascript(render 'dashboards/profile', user: @user,resource: current_user,resource_name: 'user')  %>")
$(".user_photo").mouseenter(function(){
	$(".photo_file_upload").show()
})
$(".user_photo").mouseleave(function(){
	$(".photo_file_upload").hide()
})

jQuery(function() {
  return $('#user_photo').fileupload({
    dataType: "script",
    add: function(e, data) {
      $("#photo_spinner").show()
      var file, types;
      types = /(\.|\/)(gif|jpe?g|png)$/i;
      file = data.files[0];
      if (types.test(file.type) || types.test(file.name)) {
        data.context = $(tmpl("template-upload", file));
        $('#new_painting').append(data.context);
        return data.submit();
      } else {
        return alert("" + file.name + " is not a gif, jpeg, or png image file");
      }
    },
    progress: function(e, data) {
      var progress;
      if (data.context) {
        progress = parseInt(data.loaded / data.total * 100, 10);
        return data.context.find('.bar').css('width', progress + '%');
      }
    }
  });
});
