//window.scrollTo(0, 0);
<% if request.referrer.include?('/registrations/welcome_page') %>
<% flash_messages_id = 'welcome-flash-messages' %>
<% end %>
<% flash_messages_id ||= 'flash_messages' %>
$("#<%= flash_messages_id %>").html("<%= escape_javascript(render('layouts/messages'))%>");
<% if request.referer.include? '/registrations/welcome_page' %>
nextTab('#tab');
<% end %>
