@charset "utf-8";
/* Embedded fonts */
@font-face { font-family: 'Flexo Light'; src: url('../fonts/flexo-light-webfont.eot'); src: url('../fonts/flexo-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/flexo-light-webfont.woff') format('woff'), url('../fonts/flexo-light-webfont.ttf') format('truetype'), url('../fonts/flexo-light-webfont.svg#flexolight') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Flexo'; src: url('../fonts/flexo-regular-webfont.eot'); src: url('../fonts/flexo-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/flexo-regular-webfont.woff') format('woff'), url('../fonts/flexo-regular-webfont.ttf') format('truetype'), url('../fonts/flexo-regular-webfont.svg#flexoregular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Flexo Thin'; src: url('../fonts/flexo-thin-webfont.eot'); src: url('../fonts/flexo-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/flexo-thin-webfont.woff') format('woff'), url('../fonts/flexo-thin-webfont.ttf') format('truetype'), url('../fonts/flexo-thin-webfont.svg#flexothin') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Flexo Demi'; src: url('../fonts/flexo-demi-webfont.eot'); src: url('../fonts/flexo-demi-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/flexo-demi-webfont.woff') format('woff'), url('../fonts/flexo-demi-webfont.ttf') format('truetype'), url('../fonts/flexo-demi-webfont.svg#flexodemi') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Flexo Heavy'; src: url('../fonts/flexo-heavy-webfont.eot'); src: url('../fonts/flexo-heavy-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/flexo-heavy-webfont.woff') format('woff'), url('../fonts/flexo-heavy-webfont.ttf') format('truetype'), url('../fonts/flexo-heavy-webfont.svg#flexoheavy') format('svg'); font-weight: normal; font-style: normal; }
* { margin: 0px; padding: 0px; font-size: 100%; outline: none; }
input, textarea, select { font-family: 'Flexo'; }
article, aside, footer, header, hgroup, main, nav, section { display: block; }
.clearfix:after { font-size: 0px; content: "."; display: block; height: 0px; visibility: hidden; clear: both; }
body { background-color:#e1e1e1; font: 12px/1.2 Flexo; color: #646464; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; letter-spacing:.2px; }
a { color: #646464; text-decoration: none; }
a:hover {text-decoration: none; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
img { border: 0px; }
strong{ font-family:'Flexo Demi';}
.dexCnt{}
/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
.CL { clear: both !important; }
.CL-Fix { clear: both !important; height: 0px !important; font-size: 0px !important; }
.FL { float: left !important; }
.FR { float: right !important; }
.vMiddle { vertical-align: middle !important; }
.navRight a.mobCnt,.mobCnt{ display:none;}
.ml-5 { margin-left: 5px; }
.mr-5 { margin-right: 5px; }
.mt-5 { margin-top: 5px; }
.mb-5 { margin-bottom: 5px; }
.vm { vertical-align: middle; }
/*body css*/
h1{ font-size:24px; font-family:'Flexo Thin'; font-weight:normal; margin-bottom:5px;}
.innerWapper { width: 940px; margin: 0 auto; }
header { background-color: #000;}
footer{ background-color:#afafaf; padding:10px 0px; margin-top:30px;}
footer a{ padding:0 8px;}
.getfitgoLogo { float: left; background: url(../images/goFitGo_logo.png) no-repeat left center; background-size: 100%; width: 185px; height: 70px; }
.navRight { float: right; padding-top: 11px;}
.searBx { background-color: #666666; color:#9fa4a4; height: 25px; width: 200px; padding: 2px 10px; border: 0px; border-radius: 5px 0px 0px 5px; float: left; }
.searBx::-webkit-input-placeholder {
 color: #3a3a3a;
}
 .searBx:-moz-placeholder {
 color: #3a3a3a;
}
 .searBx::-moz-placeholder {
 color: #3a3a3a;
}
 .searBx:-ms-input-placeholder {
 color: #3a3a3a;
}
.searBtn { background: url(../images/dashboard-icon.png) no-repeat 6px 6px #666; border-radius: 0px 5px 5px 0px; width: 29px; height: 29px; border: 0px; float: left; }
.navRight a { padding: 7px 10px; display: inline-block; border-right: 1px solid #4d4d4d; color: #9fa4a4; font-family: Flexo Heavy; float: left; font-size: 14px; }
.notiRound { background-color: #fa9600; color: #FFF; font-family: Flexo; line-height: 1.5; font-size: 12px; width: 18px; height: 18px; display: inline-block; text-align: center; border-radius: 50%; vertical-align: top; margin-top: -3px; margin-left: 5px; }
.setIcon { background: url(../images/dashboard-icon.png) no-repeat left -39px; opacity: .6; width: 16px; height: 16px; padding: 0px !important; border: 0px !important; margin-left: 10px; margin-top: 8px; }
.docBox{ float:right;}
.mCount { font-family: 'Flexo Light'; font-size: 14px; float: left; color: #9fa4a4; padding-top: 20px; margin-left: -10px; }
.mCount span { font-size: 24px; }
.leftWapper{ width:220px; float:left;}
.rightWapper{ float:right; width:700px; margin-top:33px;}
.avatarTbx{ background-color:#00c8c8; height:60px; border-radius:0px 5px 0px 0px;}
.avatarBx{ background-color:#FFF; padding:15px 20px;}
.avatarImg{ border:4px solid #FFF; border-radius:50%;}
.avatarInfo{ text-align:center; margin-top:-50px; margin-bottom:20px;}
.avatarTxt{ color:#009696; font-size:20px; font-family:'Flexo Demi'; line-height:1.5;}
.avProInfoBx{ background-color:#009696; padding:5px 20px; margin-bottom:3px;}
.infoList li{ border-top:1px solid #5ab4b4; padding:5px 0px; color:#FFF; font-size:10px; text-transform:uppercase;}
.infoList li:first-child{border-top:0px;}
.infoList li .liTxt{ float:left; margin-top:5px;}
.infoList li .conTxt{ float:right; font-size:18px;}
.yellowTxt{ color:#fac800;}
.blueTxt{ color:#007dfa;}
.lBluTxt{ color:#009696;}
.noteTxt{ font-size:8px; letter-spacing:.5px; line-height:1.5; margin-top:5px;}
.rigtArIcon{ background:url(../images/dashboard-icon.png) no-repeat -1px -422px; width:18px; height:18px; display:inline-block; vertical-align:middle; margin-left:5px;}
.bmiBx{ padding:10px; background-color:#FFF; margin-top:10px;}
.headLine1{ font-size:16px; font-family:'Flexo Demi';}
[class*='bmiBar']{ height:2px; float:left;}
.bmiBar-green{ background-color:#6fb24d; height: 6px;}
.bmiBar-yellow{ background-color:#e9ce0b; height: 6px;}
.bmiBar-red{ background-color:#df0000; height: 6px;}
.barHolder{ margin-top:20px; margin-bottom:8px; position:relative;}
.countShow{ width:28px; position:absolute; text-align:center; top:-22px; left:136px;}
.barCount{ width:100%; height:28px; background-color:#c80000; border-radius:5px; color:#FFF; font-family:'Flexo Demi'; font-size:14px; text-align:center; line-height:2.1;}
.round{ width:8px; height:8px; border-radius:50%; background-color:#c80000; margin:0 auto; margin-top:-5px;}
.bArw{ width:0px;  height:0px; border:5px solid transparent; border-top:5px solid #c80000; content:""; margin:0 auto;}
.syncTab{ margin-bottom:10px;}
.syncTabL ul{ margin-bottom: 0px;}
.syncTabL{ background-color:#006464; border-radius:0 5px 0 0; padding:0 20px;}
.syncTabL li{ display:block; float:left;}
.syncTabL li.infoLine{ float:right; color:#a3bcbc; padding-top:10px; font-size:10px;}
.syncTabL a{ color:#a3bcbc; padding:10px; display:inline-block; font-size:11px;}
.syncTabL li a.calenderBx{ padding:5px 10px;}
.syncTabL a.active{ color:#000; background-color:#00c8c8; text-decoration:none;}
.tabBx{ background:#FFF; padding:10px;}
.sec4bxL li{ float:left; border-left:1px solid #cccccc;}
.sec4bxL li:first-child{ border:0px;}
.sec4bxL li h2{ font-family:'Flexo Light'; font-size:10px; margin-bottom:10px;}
.orCount{ color:#fa9600; font-family:'Flexo Thin'; font-size:22px;}
.rFoot{ background:url(../images/dashboard-icon.png) no-repeat 11px -77px #bbbbbb; width:40px; height:40px; border-radius:50%; display:inline-block; vertical-align:bottom; margin-right:8px;}
.rCalo{ background:url(../images/dashboard-icon.png) no-repeat 9px -132px #bbbbbb; width:40px; height:40px; border-radius:50%; display:inline-block; vertical-align:bottom; margin-right:8px;}
.rWalk{ background:url(../images/dashboard-icon.png) no-repeat 12px -193px #bbbbbb; width:40px; height:40px; border-radius:50%; display:inline-block; vertical-align:bottom; margin-right:8px;}
.rAct{ background:url(../images/dashboard-icon.png) no-repeat 8px -250px #bbbbbb; width:40px; height:40px; border-radius:50%; display:inline-block; vertical-align:bottom; margin-right:8px;}
.achivevBx{ padding:20px; background-color:#FFF;}
.badgesBx{ float:right; width:75%;}
.badgesBx img{ margin-right:15px; vertical-align:middle;}
.achiveTitle{ float:left; width:25%; font-family:'Flexo Heavy'; font-size:16px; color:#009696; line-height:1.9; margin-top: 8px;}
.widgetBx{ margin-top:10px;}
graphTop{ background-color:#646464;}

.selectStyled {
  position: relative;
  border-radius: 4px;
  background-clip: padding-box;
  background-color: #FFF;
  display:inline-block;
}
.selectStyled select {
  float: left;
  position: relative;
  z-index: 2;
  height: 30px;
  display: block;
  line-height: 14px;
  padding: 5px 25px 4px 5px;
  margin: 0;
  -moz-appearance: window;
  -moz-padding-end: 19px;
  background: transparent;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}
.posta{ color: #428bca; text-decoration: none; }
label {
  font-weight: normal;
}
.selectStyled .arrow{ background:#faaf00 url(../images/dn-arrow.png) no-repeat center center; width:20px; height:100%; position:absolute; right:0; border-radius:0 4px 4px 0;}
.graphTop{ background-color:#646464; padding:10px; border-radius:0 5px 0 0;}
.graphBx{ margin-top:5px;}
.updatBtn{ float:right; color:white; font-size:14px; background-color:#faaf00; border-radius:5px; border:0px; overflow:visible; padding:7px 10px; cursor:pointer; margin-left: 5px;}
.subBx2x{ width:340px;}
.widgetTitle{ border-radius:0 5px 0 0; background:#006464; padding:5px 15px; height: 2.3em !important;}
.widgetTitle span{ font-size:15px; text-transform:uppercase; float:left; color:#FFF;}
.widgetTitle a{ color:#faaf00; text-decoration:none; font-size:10px; margin-top:6px; text-transform:uppercase; margin-right:5px;}
.widgetCnt{ padding:20px; background-color:#FFF;}
.runIcon{ background:url(../images/dashboard-icon.png) no-repeat 22px -482px #0064c8; width:60px; height:40px; position:absolute; left:0;}
.dlRnIfo{ padding-left:50px;}
.btn-branding{ background-color:#faaf00; color:#FFF; border:0px; padding:4px 8px; border-radius:3px; text-transform:uppercase !important; font-size: 14px !important; font-weight: bold;}
.greyTitle{ font-size:14px; font-family:'Flexo Heavy'; line-height:1.5;}
.barBx{ background-color:#e1e1e1; border-radius:5px; height:5px; margin-top:5px;overflow:hidden;}
.proBar{ background-color:#a2a2a2; border-radius:5px; height: 100%;}
.greyTxt{ font-size:10px; line-height:1.5; margin-bottom: 5px;}
.bulbIcon{ background:#fac800 url(../images/dashboard-icon.png) no-repeat 7px -590px; width:28px; height:28px; border-radius:50%; display:block; float:left; margin-right:8px; }
.altGrBx{ font-size:12px; background:#e1e1e1; border-radius:3px; padding:8px; margin-top:8px;}
.teamBx{ background-color:#00c8c8; height:74px; padding:20px 15px 0 15px;}
.teamTitile{ font-size:18px; font-family:'Flexo Heavy'; color:#FFF; float:left;}
.teamMem{ font-size:12px; color:#FFF; border-left:1px solid #329696; padding-left:8px; float:right;}
.avatrBx{ margin-top:-55px;}
.tpMb,.tpMb p{ margin-top:10px;}
.tabRound{ margin:5px 0px 10px 5px;}
.tabRound img{ margin-right:8px; cursor:pointer;}
.r-cont{ background-color:#fac800; padding:10px; border-radius:4px;}
.r-cont .arrow{ width: 0;
height: 0;
border: 15px solid transparent;
border-top: none;
border-bottom: 10px solid #fac800; position: absolute; margin-top:-20px;}
.whBar{ background-color:#FFF; margin-top:15px;}
.stepBx{ margin-top:20px;}
.stepL{float:left; width:35%; border-right:1px solid #af8c00; font-family:'Flexo Light'; font-size:14px;}
.stepR{float:right; width:61%; font-family:'Flexo Light'; font-size:14px;}
.urIcon{ background:url(../images/dashboard-icon.png) no-repeat left -791px; width:16px; height:16px; display:inline-block; margin-right:3px; vertical-align:middle;}
.connLi li{ padding:5px 0;}
.connLi li:first-child{ padding-top:0px;}
.connLi li:last-child{ padding-bottom:0px;}
.imgView{ width:20%;display:inline-block; vertical-align:middle; position:relative;}
.imgView img{ width:100%; border-radius:50%; }
.avName{ font-size:12px; font-family:'Flexo Heavy';display:inline-block; margin-left:10px; width:30%;}
.avStyle{ font-size:10px; display:inline-block; width:30%;}
.runSmBlIcon{ background:url(../images/dashboard-icon.png) no-repeat left -834px; width:23px; height:25px; display:inline-block; vertical-align:middle;}
.swiSmBlIcon{ background:url(../images/dashboard-icon.png) no-repeat left -890px; width:33px; height:25px; display:inline-block; vertical-align:middle;}
.cycSmBlIcon{ background:url(../images/dashboard-icon.png) no-repeat -3px -941px; width:39px; height:26px; display:inline-block; vertical-align:middle;}
.worSmBlIcon{ background:url(../images/dashboard-icon.png) no-repeat -3px -987px; width:30px; height:26px; display:inline-block; vertical-align:middle;}
.strIcon{ background:url(../images/dashboard-icon.png) no-repeat left -1032px; width:16px; height:14px; display:block; position:absolute; right:-10px; top:0;}
.tickIcon{ background:url(../images/dashboard-icon.png) no-repeat left -1053px; width:20px; height:15px; display:block; position:absolute; right:-10px; top:0;}
.eventLi li{ border-top:1px solid #cccccc; padding:5px 0px;}
.eventLi li:first-child{ border-top:0px; padding-top:0px;}
.evName{ display:inline-block; width:73%;  vertical-align:middle; color:#009696; font-family:'Flexo Demi';}
.evName a{ color:#009696; }
.evName span{ display:block; font-family:'Flexo Light'; font-size:10px;}
.evnAtt{ display:inline-block; width:25%; vertical-align:middle; font-size:11px;}
.expEtn .evName span{ font-family:'Flexo'; font-size:12px; color:#646464;}
.expEtn .evName{ width:80%;}
.expEtn .evnAtt{ width:18%; font-size:12px;}
.upGAr{ width:0px;  height:0px; border:10px solid transparent; border-bottom:10px solid #96c800; border-top:none; content:""; display:inline-block; margin-right:5px;}
.upGrAr{ width:0px;  height:0px; border:10px solid transparent; border-bottom:10px solid #bbbbbb; border-top:none; content:""; display:inline-block; margin-right:5px;}
.postBx{ background:#009696; padding:20px 15px 0px 15px;}
.postBx textarea{ border:0px; border-radius:4px; padding:2%; width:96%; resize:none; margin-bottom:8px;}
.camIcon{ background:url(../images/dashboard-icon.png) no-repeat left -639px; width:16px; height:14px; display:inline-block; vertical-align: middle; margin-right:8px; margin-top: 0.3em;}
.avtEimg{ float:left; width:14%;}
.disCnt{ float:left; width:84%; padding-left:2%; padding-top:15px;}
.smilIcon{ background:url(../images/dashboard-icon.png) no-repeat -1px -759px; width:16px; height:16px; display:inline-block; float:right;}
.avTitle{ font-family:'Flexo Demi'; font-size:14px; color:#009696; margin-bottom:5px;}
.spDot{font-size:20px; line-height:.5; margin-top:-3px; vertical-align:top; display:inline-block;}
.clapIcon{ background:url(../images/dashboard-icon.png) no-repeat -1px -678px; width:21px; height:16px; display:inline-block; vertical-align:middle; margin-right:3px;}
.msgIcon{ background:url(../images/dashboard-icon.png) no-repeat -1px -720px; width:16px; height:16px; display:inline-block; vertical-align:middle; margin-right:3px;}
.tmCount{ float:right; font-size:10px;}
.extCha li{ padding:10px 0px;}
.sImg{ margin:3px 0px;}
.imgGrp { margin-top:5px; margin-bottom:5px;}
.imgGrp img{ margin-left:2px;}
.imgGrp img:first-child{ margin-left:0px;}
.badgeCarousel{position: relative;overflow: hidden; width:78%; margin:0 auto;}
.badgeCarousel ul {
    width: 20000em;
    position: relative;
    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}
.badgeCarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
  padding:0 7px;
}
.jcarousel-prev{ background:url(../images/dashboard-icon.png) no-repeat 0px -445px; width:18px; height:18px; float:left; margin-top:1.5%;}
.jcarousel-next{ background:url(../images/dashboard-icon.png) no-repeat -1px -422px; width:18px; height:18px; float:right;  margin-top:1.5%;}
.home-icon{ background:url(../images/dashboard-icon.png) no-repeat 0px -1102px; width:16px; height:13px; display:inline-block;}
.msgIcon{ background:url(../images/dashboard-icon.png) no-repeat -1px -720px; width:16px; height:16px; display:inline-block; vertical-align:middle; margin-right:3px;}
.tmCount{ float:right; font-size:10px; margin-top:3px;}
.challangeTbx{ background:url(/challage-img.jpg) no-repeat left bottom; background-size:100%;}
.teamBox{ background:#FFF; border-radius:0 5px 0 0; padding:10px 20px; box-shadow:6px 6px 1px #CCC; margin-bottom:8px; position:relative;}
.joinChallange{ padding-left:50px; min-height:200px;}
.headLine1{ font-size:16px; font-family:'Flexo Heavy';}
.headLine2{ font-size:14px; font-family:'Flexo Heavy';}
.headLine4{ font-size:20px; color:#009696;}
.challangeLine{ border-top:2px solid #96c800; position:relative;}
.challangeStapes li{ float:left; width:1.5%; margin-left:60px; margin-top:-15px; position:relative;}
.challangeIcon{ position:absolute; top:-60px;}
.joinForm{ background-color:#e1e1e1; border-radius:5px 5px 0 0 ; padding:10px 15px 21px; margin-top:15px;}
.joinForm .memberImg{ width:50%;}
.joinForm .memDesignation{ width:90%;}
.memberImg{ float:left; width:30%; margin-bottom:8px;}
.memberImg img{ width:80%; border-radius:50%;}

/* Additional CSS */
.mirror-img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.dropdown-menu > li > a {
  border-right: none;
  float: none !important;
}

.page-title {
  margin-top: 4px;
  white-space: nowrap;
}

.nav-tabs > li.active > a {
  background-color: whitesmoke;
}

.updatBtnGrp {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

#user-report {
  background-color: ghostwhite !important;
}

.btnFile {
  background-color: transparent !important;
  color: none !important;
}

.dropdown-menu > .active > a {
  background-color: white !important;
}

.dropdown-menu > li > a {
  color: #9fa4a4 !important;
}

.dropdown-menu.custom {
  background-color: black !important;
}

.widgetTitle span.brand span {
  float: none !important;
  text-transform: none !important;
}

#new_post > p {
  padding-bottom: 1.3em;
  margin-right: 1em;
}

.postBx a {
  color: #faaf00; text-decoration: none;
}

.postBx a:hover {
 color: #faaf00; text-decoration: underline;
}

.modal-footer.no-margin {
  margin-top: 0px !important;
}

.widgetTitle > .status {
  float: right;
  color: #a3bcbc;
}

.datepicker.datepicker-dropdown.dropdown-menu {
  z-index: 9999 !important;
}

.widgetBx.no-margin {
  margin-top:  0px !important;
}

.bmiBar-orange{
  background-color:orange;
  height: 6px;
}

.altGrBx.social {
  border-radius: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
  background: transparent;
}

.altGrBx.title.social {
  /*border-radius: 0px 20px 0px 0px !important;*/
  margin-top: 0px !important;
  margin-bottom: 10px !important;
  background: rgba(100, 100, 100, 0.75);
}

.login-bottom {
  text-align: center;
  /*margin-bottom: 20px;*/
}

.colored-link {
  color: #00c8c8;
}

form[action*="/identities/"] {
  margin-top: -18px;
}

ul.syncTabL {
  margin-bottom: 0px !important;
}

.container.full, .innerWapper.full {
  width: 100% !important;
}

.avatarTxt a:hover {
  text-decoration: none !important;
}

.progress {
  background-color: none !important;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.progress.blank {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0px !important;
   padding: 0px !important;
   height: 8px;
}

.target {
  background-color: #fff !important;
  padding: 0px !important;
  height: 8px;
}

.target > .progress-bar {
  background-color: #646464 !important
}

.current {
  background-color: #006468 !important;
   padding: 0px !important;
   height: 8px;
}

.progress-b-success {
  background-color: #96c800 !important;
   padding: 0px !important;
   height: 8px;
}

.progress-b-danger {
  background-color: #c80000 !important;
   padding: 0px !important;
   height: 8px;
}

.progress-b-warning {
  background-color: #fac800 !important;
   padding: 0px !important;
   height: 8px;
}

.leftcontainer {
  float: left;
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
}

.rightcontainer {

  float: left;
  margin-bottom: 5px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff ;
}

.red-bottom {
  color: red;
  margin:  5px 0px 0px 20px;
  float: left;
  text-align: left;
}

.progress.col-md-5 {
  padding: 0px !important;
}

.trend-title {
  line-height: 1;
  color: #006464;
  font-weight: bold;
  margin: 5px 0px 15px 0px;
}

.red-bottom a {
  color: #006464 !important;
}

.bars-target {
  display: inline;
}

.col-md-2.title {
  float: left;
  line-height: 0.8em;
  padding-left: 5px;
}

.rightcontainer > .altGrBx {
  background-color: #fff !important;
  /*margin: -8px 0px 9px 20px;*/
}

/*.widgetCnt.col-md-12 {
  padding: 20px 20px 5px 20px;
} */

div.dlRnIfo > p.greyTxt {
  margin-bottom: 1.6em;
}
div.col-md-7.left > div.dlRnIfo > p:nth-child(9) {
  margin-bottom: 1.6em;
}

.postBx.defaultColor {
  color: #646464;
}

.postBx.comment {
  background-color: #e1e1e1;
  border-radius: 0em;
  margin-top: 15px;
}

.postBx.bottom {
  display: inline-flex;
  width: 100%;
  padding-top: 0.4em;
}

.nest {
  margin-left: 2em;
}

.nest .nest {
  margin-left: 2em;
}

.nest .nest .nest {
  margin-left: 0px;
}

p.col-md-2.title {
  margin-right: 20px;
}

.fa {
  margin-right: 5px;
  margin-bottom: 0.5em;
}

div.dlRnIfo > div:nth-child(11) > p.col-md-4, div.dlRnIfo > div:nth-child(13) > p.col-md-4, div.dlRnIfo > div:nth-child(15) > p.col-md-4 {
  padding-left: 10px;
}

div.col-md-7.left > div.dlRnIfo > div:nth-child(11) > div {
  height: 6px;
}

div.col-md-7.left > div.dlRnIfo > div:nth-child(13) > div {
  height: 6px;
}

div.col-md-7.left > div.dlRnIfo > div:nth-child(15) > div {
  height: 6px;
}

#bmi > div > div.widgetTitle > span:nth-child(2), #password > div > div.widgetTitle > span:nth-child(2), #profile > div > div.widgetTitle > span:nth-child(2) {
  float: right;
}

#bmi > div > div.widgetTitle > span:nth-child(2) > a, #password > div > div.widgetTitle > span:nth-child(2) > a, #profile > div > div.widgetTitle > span:nth-child(2) > a {
  color: #fff !important;
  font-size: 1em !important;
}

#bmi > div > div.widgetTitle > span:nth-child(2) > a:hover, #password > div > div.widgetTitle > span:nth-child(2) > a:hover, #profile > div > div.widgetTitle > span:nth-child(2) > a:hover{
  color: #b2b2b2 !important;
}

#bmi > div > div.widgetCnt > h6 {
  margin-bottom: 25px;
}

#edit_user > div.col-md-offset-1 > div:nth-child(12) > div.col-md-6, #edit_user > div.col-md-offset-1 > div:nth-child(6) > div.field.col-md-6 {
  text-align: center;
}
#edit_user > div.col-md-offset-1 > .row {
  margin-bottom: 1.4em;
}

#edit_user > div:nth-child(2) {
  margin-top: 40px;
}

#edit_user > div:nth-child(3) {
  margin-top: 20px;
}

#edit_user > div:nth-child(5) > div.field.col-md-3 {
  float: center;
  margin-top: 20px;
}

.hidecheck > label {
  display: table-caption !important;
}

.hidecheck.profile-pic > input[type="radio"]:checked + label {
  border: 2px solid #fa6400;
  border-radius: 50%;
}

label > img {
  max-height: 50px;
  max-width: 50px;
}

.hidecheck {
  position: relative;
}

.hidecheck > input[type="checkbox"] {
  opacity: 0;
}

.hidecheck > input[type="radio"] {
  opacity: 0;
}

.hidecheck > input[type="radio"]:checked + label > img{
  opacity: 0.5;
  border-radius: 50%;
}

.hidecheck > input[type="checkbox"]:checked + label > img{
  background: #e1e1e1;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

#myCarousel {
  padding: 10px 0px 10px 0px;
}

#myCarousel > a.carousel-control.left, #myCarousel > a.carousel-control.right {
  color: #fa7d00;
  margin-top: 2em;
  width: 30px;
}

#profilePicCarousel {
  padding: 10px 0px 10px 0px;
}

#profilePicCarousel > a.carousel-control.left, #profilePicCarousel > a.carousel-control.right {
  color: #fa7d00;
  margin-top: 2em;
  width: 30px;
}

.field.col-md-4 {
  text-align: center;
  margin-top: 20px;
}

#survey > div.widgetCnt > img {
  margin-right: 1.3em;
}

#new_survey_attempt > ul > li > h5 {
  text-align: left;
}

#survey > div.widgetCnt > h5 {
  text-align: left;
  margin-bottom: 1.3em;
}
.question_check > li > input[type="radio"] {
  margin-right: 2em;
}
.question_check > li > input[type="radio"] + label {
  vertical-align: middle;
  display: inline-block !important;
}
#survey > div.widgetCnt > div:nth-child(2) > img {
  margin-top: 0.5em;
}
.panel.panel-default > .panel-heading > h4 {
  color: #fff;
}
.panel.panel-default > .panel-heading {
  background-color: #006464;
}
label {
  line-height: 2.3em !important;
}
.form-inline {
  display: inline-flex;
}
#wrap > div.container > div.innerWapper > div > div > div > div.col-md-7.key-text > form > div:nth-child(2) > input{
  line-height: 2em;
}
.form-inline > .form-group > .form-control {
  margin-right: 1.6em;
}

#wrap > div.container > div.innerWapper > div > div > div.panel-body > div.col-md-5 > img {
  margin-left: 2em;
}
#wrap > div.container > div.innerWapper > div > div > div.panel-body > div {
  text-align: left;
}
#wrap > div.container > div.innerWapper > div > div > div.panel-body > div > p {
  font-size: 13px;
}
#email-form {
  width: 15em;
  margin-bottom: 3em;
}
#friendrequest {
  display: inline-flex;
  margin-right: 1em;
}

#friendrequest > figure > a > img {
  height: 40px;
  width: 40px;
  margin-right: 1.5em;
}

#friendrequestlink{
  margin-top: 1em;
}
#smile > .top > radio, #smile > .bottom > radio {
  max-height: 40px;
  max-height: 40px;
  text-align: left;
}

.top {
  display: inline-flex;


 }
 #smile {
  padding-bottom: 1em !important; /* to make the box encapsulate smilies */
  background-color: white;
  border-radius: 0.3em;
  padding: 1em;
  margin: 0em 0em 2em 1em;
  box-shadow: inset 0 0 10px #e1e1e1;
  -webkit-box-shadow: inset 0 0 10px #e1e1e1;
  -moz-box-shadow: inset 0 0 10px #e1e1e1;
  width: 90%;
 }

#smile > div > label > img {
  height: 40px!important;
  width: 40px!important;
}

.top .radiobutton,.bottom .radiobutton {
  opacity: 0;
}

#smile > .top .radiobutton + label, #smile > .bottom .radiobutton + label{
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 1em;
 }

#smile > .top .radiobutton:checked + label, #smile > .bottom .radiobutton:checked + label {
  border: 2px solid #fa6400;
  border-radius: 50%;
}

#smile > .top .radiobutton:checked + label > img, #smile > .bottom .radiobutton:checked + label >img{
  opacity: 0.5;
}

#smile> span {
  font-size: 1.2em;
  color: #2d2d2d;
 }
 .top-label > span {
  margin-right: 0.8em;
  margin-left: 0.8em;
  color: #2d2d2d;
 }

#feel {
     max-height: 100%;
}

#widget-feel {
  padding: 0px;
}

.interests {
  height: 2.3em;
}

.feedback-widget {
  margin-top: 1em;
}

#feedbackwidget {
  background-color: #fff;
  padding-top: 1em;
}


#feedbackwidget > div > a > input {
  margin: 1.2em 0em 0em 2em;
}

#feedbackwidget > div {
 background-color: #fff;
}

#questions > div:nth-child(1) > span, #questions > div:nth-child(1) > p:nth-child(4)  {
  margin-right: 3em;
}

#questions > div:nth-child(1) > p:nth-child(4) {
  margin-left: 6.8em;
}

#questions > input {
  float: right;
}

#questions {
  padding-bottom: 30px;
}

.widgetCnt.tScroll.fotoPost {
  padding: 0px;
}

.modal-header.panel-heading.brand {
  background-color: #e1e1e1;
}

.modal-footer.panel-footer.brand {
  background-color: #e1e1e1;
}

#edit_daily_activity_316 > div:nth-child(6) > div:nth-child(2) > input {
  margin-bottom: 1em;
}

#fitness-description {
  font-size: 1.1em;
}
.FR.activity_status {
  float: left !important;
  font-size: 10px;
}
li h4 strong {
  margin-top: 1em;
  margin-bottom: 1.5em;
}
.main {
  text-align: justify;
}

.success {
  color: #fa9600;
  font-size: 0.8em;
  margin-right: 0px;
}

.fail {
  color: #e1e1e1;
  font-size: 0.8em;
  margin-right: 0px;
}

/* To remove background from widget title and set text color to blue */
.widgetnew{
  background-color: #fff;
  font-size: 16px;
  padding-top: 0.7em;
}

.widgetnew > span {
  color: #009696 !important;
  font-family: "Flexo Demi";
  font-size: 16px;

}
#accept_reject_images {
  margin: 1.6em 0em 0em -3.6em;
}
#friend_request_avatar > a > img {
  height: 60px;
  width: 60px;
}
#edit_user > div:nth-child(2) > div.col-md-2 > label, #edit_user > div:nth-child(3) > div.col-md-2 > label {
  line-height: 0.2em !important;
}

.btn:hover,.btn:focus{
  color: #fff;
}

#calculate_bmi {

  margin: 5% 0% 5% 30.6%;
}
/* bmi calculate space between feet and inches */
#edit_user > div:nth-child(2) > div.col-md-7.col-xs-12 > div:nth-child(2) {
  margin-left: -10%;
}
#time_ago {
  /*margin-top: 0.7em;*/
}

#wrap > div > div.innerWapper > div.leftWapper > div.bmiBx > p {
  margin-left: 0.39em;
  padding-bottom: 1.6em;
}

.row > #form_element  > label {
  margin-top: 0.3px;
  line-height: 0px !important;
}

div.col-xs-4 > label {
  padding-top: 0em;
}

.camIcon:hover {
    cursor: pointer;
}

.bigText {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  padding-top: 0.4em;
  color: #ffa500;
}

.run > img {
  height: 50px;
  width: 50px;
}

.modal-body.col-md-12 {
  background: #fff !important;
  border-bottom: 1.2px solid #e1e1e1;
}

#map_img, #chart_img, #heart_img {
  height: 40px;
  width: 40px;
}

.first, .second, .third {
  padding-bottom: 2em;
}

.col-md-6.rightcontainer,.col-md-6.leftcontainer {
  margin-top: 1em;
}

.head_modal {
  font-size: 16px;
  font-family: 'Flexo Heavy';
}

.modal_link {
  font-size: 70%;
  color: #ffa500;
  float: right;
}

#text_modal {
  padding-top: 2em;
  padding-bottom: 1em;
}

#text_modal > p {
  margin-bottom: 2em;
}

.small-well {
  min-height: 20px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  /* border: 1px solid #e3e3e3; */
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#header_tnc, #header_priv {
text-decoration: underline;
margin: 1em 0em 2em 12em;
}

#edit_user > span > img {
  margin-top: 0.3em;
}

/* Achievement Unlocked overlay */
.badge_image > img {
  float: center;
  margin: 1.2em;
}

/* Changes for header */
/* Manage devices and apps-Tabs */
#manage_devices_and_apps {
  font-weight: bold;
  font-size: 20px;
}

#Profile_create_small {
  margin-bottom: 3em;
}

#accept_terms_and_conditions {
  margin-left: 30%;
}

/* 404 page */
#Heading_first {
  font-size: 3.6em;
  text-align: center;
}
#Heading_first > .oops {
  font-size: 2.3em;
  text-align: center;
}
#error_page > .container > .row > .col-md-10.col-xs-12 {
  margin-top: 1.4em;
}
/* Team Pages */
.teamBox { background: #FFF; border-radius: 0 5px 0 0; padding: 10px 20px; box-shadow: 6px 6px 1px #CCC; margin-bottom: 8px; position: relative; }
/* show share*/
.showShare { background: #00c8c8; min-height: 260px; }
.leaveTeam { position: absolute; left: 10px; bottom: 10px; }
/* Header */
.topBlineBox { border-bottom: 1px solid #e1e1e1; border-top: 1px solid #e1e1e1; padding: 10px; margin: 10px 0 30px; }
.topBlineBox .box3section { font-size: 12px; }
/* create team-- remove this style if header changes */
#create_team_widget_p { float: right;}
#create_team_widget_p > span { margin: 0em 0.3em 0em 0.3em;}
.topBlineBox > .box3section > p:nth-child(2) {padding: 0px; text-align: center;}
/* form in create teams */
form > div { margin-top: 1em; /* margin-bottom: 1em; */}
/* radio button */
#radio_team_visibility_options > div { margin-left: 1.2em;}
#radio_team_visibility_options > div > input { margin-top: 0.6em;}
/*enter image team banner */
#addon_browse_banner { padding-top: 1em;}
#addon_browse_banner >span { border-top-right-radius: 10%; border-bottom-right-radius: 10%;}
#addon_browse_banner > button {margin-left: -2em; margin-bottom: 0.26em;}
#image_office{padding: 0px; margin: 0.5em 2em 0em -0.6em;}
#team_image_p{margin-left: 11%;}
.number_of_members {margin-top: 0.6em;}
.number_members { height: 2.6em; width: 4.2em; border-top-right-radius: 10%;margin-right:3em;}
.cancel_button { background-color: #e1e1e1; float: left;}

/* custom break line */
hr.style-one {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #bfbfbf, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #bfbfbf, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #bfbfbf, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #bfbfbf, #ccc);
}


.showShare .statusBox { background-color: #009696; }
.shareBorderBox { border: 4px solid #e1e1e1; border-radius: 4px; padding: 10px; background-color: #FFF; }
.shareInfo { margin-left: 28px; }
.shareInfo li { float: left; border-left: 1px solid #e1e1e1; padding: 0 20px; min-height: 40px; }
.shareInfo li:first-child { border: 0px; }

/*challenge completion modal/overlay */


#challengecompletionmodalLabel{color: #646464;}
#challenge_completion_modal_body{
  text-align: center;padding-bottom: 30px;border-bottom: 0px solid #eee;padding-top: 0em;
}
#challenge_completion_modal_body > div.col-md-12{ text-align: justify; padding: 0em;}
/*border left container */
#challenge_completion_modal_body > div.col-md-6.leftcontainer{border-right: 1px solid #eee;}
#challenge_completion_modal_body > div.col-md-6.leftcontainer > p {font-size: 14px;}
/* make message bold-leftcontainer */
#challenge_completion_modal_body > div.col-md-6.leftcontainer > p > span {font-weight: bold; font-family: 'Flexo Demi'}
#challenge_completion_modal_body > div.col-md-12 > div > div{background-color: #009696;color: #fff; padding: 0.6em 0em 0.6em 0em;}
#challenge_completion_modal_body > div.col-md-12 > div > div > span {margin-left: 1.3em;}
.image_class_badge { height: 80px; width: 80px; margin-top: -3em;}
#challenge_completion_modal_body > div.col-md-6.leftcontainer > div:nth-child(2) > span {text-align: center;}
#top_achiever{height: 1.62em; width: 3.4em; background-color: #009696; color: #fff; text-align: center;}
.achievements_challenge_completion {padding: 1em 0em 1em 0em;}
.achievements_challenge_completion > p {/*margin-left: -1.6em; padding-top: 1.3em; */}
/* margin above svg in left container */
#challenge_completion_modal_body > div.col-md-6.leftcontainer > div:nth-child(3) {margin-top: 1.3em;}
/* padding achievement carousel */
#challenge_completion_modal_body > div.col-md-6.leftcontainer > div:nth-child(3) > div.col-md-12.achievements_challenge_completion > div.col-md-12 {padding: 0px;}
#challenge_completion_modal_body > div.col-md-6.leftcontainer > div:nth-child(2) {margin-top: -2em;}
/* font-size text well */
#challenge_completion_modal_body > div.col-md-6.rightcontainer > div.well.well-sm.well_challenge_completion > p.bigText {font-size: 6em;}
#bigText_minutes {font-size: 0.5em;}
/* achievement carousel width */
#achievement_badges_challenge_completion > div.badgesBx > #badgeCarousel > a.right.carousel-control.hidden-xs.hidden-sm > span {margin-left: 2em;}
#achievement_badges_challenge_completion > div.badgesBx {width: 100%;}
/* Text in right container */
.right_challenge_completion > p {font-size: 14px; font-family: Flexo Demi; font-weight: bold;text-align: left;color: #646464;}
.well_challenge_completion {border-radius: 10px; padding: 2em;margin: 4em 1em 1em 1em;}
.well_challenge_completion > h2 {margin-bottom: 0.6em;}
.well_challenge-completion > p {font-size: 1.6em;}
#challenge_completion_modal_body > div.col-md-6.rightcontainer > div.well.well-sm.well_challenge_completion > h2 > strong {font-size: 1.3em;}
#challenge_completion_modal_body > div.col-md-6.rightcontainer > div.well.well-sm.well_challenge_completion > p > strong {font-size: 1.6em;}
/* overlay header message */
#challengecompletionmodalLabel > div.col-md-8.col-xs-11 {margin-top: -1em;}
/* text overlay left container */
#challenge_completion_modal_body > div.col-md-6.leftcontainer > div:nth-child(3) > div.col-md-6.bigText > p {font-size: 30px; margin-top: 2em;}

.tooltip-inner {
  max-width: 350px;
}

.notifications {
  margin-bottom: 20px;
  box-shadow: 6px 6px 1px #CCC;
}

.get {
  color: #00c8c8;
}

.fit {
  color: #fa9600;
}

.go {
  color: #00c8c8;
}

.notifications-refresh {
  cursor: pointer;
  margin-top: 1.5em;
  margin-left: 1em;
}