/* Mobile phones with lower screen size */
@media (max-width: 280px){
/* hiding sync tab header */
#wrap > div > div.innerWapper > div.rightWapper > div.syncTab > ul > div.btn-group > a:nth-child(4) {
  display: none !important;
}
/* edit user information */
#edit_user > div.col-md-offset-1 > div:nth-child(12) > input {
  width: 100%;
  margin-left: -1em;
}
.btn-group { padding: 0.8em 0.2em 0.8em 0.2em;}

#user_photo {width: 80%;}
#edit_user > div.col-md-offset-1 > div:nth-child(5) > div.row > div > p, #profilePicCarousel { display: none;}
#pwd, #pwdchange { width: 100%;}
#edit_user > div.col-md-offset-1 > div:nth-child(6) > div.field.col-md-6.col-xs-6 > input {margin-left: -2em;}
/*social network */
#social > div > div > div > div:nth-child(1) > div.col-md-1.col-xs-2, #social > div > div > div > div:nth-child(5) > div.col-md-1.col-xs-2{margin-top: 0em !important;}
#social > div > div > div > div:nth-child(1) > div.col-md-1.col-xs-2 > span, #social > div > div > div > div:nth-child(5) > div.col-md-1.col-xs-2 > span {margin-left: -1em;}
#device_map > form > div > button{margin-top: 6em !important; margin-left: -5em;}
#wrap > div.container > div.innerWapper > div.rightWapper > div.teamBox > div.challangeLine {display: none;}
#wrap > div.container > div.innerWapper > div.rightWapper > div.subBx2x.FL > div.widgetBx.no-margin > div > div.widgetCnt > div > table > tbody > tr > td > img {display: none;}
}
@media screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 1.50) {
/*sync tab header for pixel ratio 1.50 */

  #wrap > div > div.innerWapper > div.rightWapper > div.syncTab > ul > div.btn-group > a:nth-child(4) {
  display: none !important;
}

.rFoot {margin-right: 0px;}
}
@media screen and (max-width: 360px) and (-webkit-min-device-pixel-ratio: 1.50) {

.rFoot, .rCalo, .rWalk {display: none;}
.top, .top-label { padding-left: 0em; padding-right: 0em; margin-left: 0em !important;}
.top-label > span {margin-right: 0em !important; font-size: 0.8em;}
#wrap > div > div.innerWapper > div.rightWapper > div.syncTab > div > ul > div.col-xs-12 {margin-right: 0px; margin-left: 0px;}
}
/*Mobile Phones */
@media screen and (max-width: 480px){
  #wrap > div.container > div.innerWapper > div.rightWapper > div.syncTab > ul > div.btn-group > a.filter-days {display: inline; padding: 0.9em !important;}
.diatLi .redioBtn{ width:18%;}
.diatLi .redioAct{ width:71%;}
.formElement input{ margin:0px 0px 8px;}
.docBox{ width:15%; float: right;}
.searBx{width:59%; margin-top:2.5%;}
.searBtn{margin-top:2.5%;}
.getfitgoLogo{height:4.6em; width: 8em; float: left;margin-left: -2em;}
.mobInfo{ width:55%; font-size:0.8rem; margin-left: 22%;}
.avatarImg{ width:31%;}
.evName{ width:70%;}
.evnAtt{ width:28%;}
.expEtn .evName{ width:88%;}
.expEtn .evnAtt{ width:10%;}
.badgeAdd .badgeCarousel,.badgeCarousel{ width:84%;}
.badgeAdd .badgeCarousel li{ margin-right:5px;}
.syncTabL{ padding:0 2%; display: inline-table; width: 100%;}
.syncTabL li.infoLine{ font-size:0.55rem;}
.orCount{ font-size: 1.4rem; line-height: 1.8;}
.smBtn a{ font-size:0.8rem; width:32%;}
.smBtn a:first-child{ width:55%;}
.selectStyled2{ margin-top:8px;}
.activityBx{ padding:11px;}
.redioBtn{ width:24px;}
.barIndi1,.barIndi2{ display:none;}
.barBigBx{ margin-bottom:0px;}
.challangeLeftSection{ margin-top:40px;}
.challangeStapes li{width: 0.5%;margin-left: 40px;}
.challangeRightSection{ margin-top:10px; min-height:158px;}
.challangeBox{ padding-bottom:25px;}
.badgeWithTxt li{margin: 0 4px;}
.badgeCarousel li{ padding:0px;}
.textScroll li{ width:210px;}
.teamAction{ bottom:3px;}
.teamAction .updatBtn{ font-size:0.8em;}
.teamStatus span{ float:left !important; line-height:1.5;}
.teamPoint{ font-size:0.7rem !important; width:70%;}
.teamRank{ width:29.5%; font-size:0.7rem;}
.dlRnIfo {padding-left: 0px;}
/* To make it float left */
.rightWapper { float: left; width: 100%;}
.leftWapper { float: left; width: 100% }
.subBx2x{ width:100%;}
.avatarTbx{ height:45px;}
.innerWapper{ width:90%;}
.sec4bxL li { border:0px solid #ccc;}
div.syncTab > div > ul > div.col-xs-12 > li:nth-child(1) {padding-left: 0px; padding-right: 0px;}
div.syncTab > div > ul > div.col-xs-12 > li:nth-child(2) {padding-left: 5px; padding-right: 0px;}
div.syncTab > div > ul > div.col-xs-12 > li:nth-child(3) {padding-left: 15px; padding-right: 0px;}
#wrap > div.container > div.innerWapper > div.rightWapper > div.syncTab > ul > div.btn-group > a.filter-days {display: inline;}
#wrap > div.container > div.innerWapper > div.rightWapper > div.syncTab > ul > div.btn-group {padding-top: 3%}
#wrap > div.container > div.innerWapper > div.rightWapper > div.widgetBx > div:nth-child(3) > div.widgetTitle {padding: 5px 5px;}
#wrap > div.container > div.innerWapper > div.rightWapper > div.syncTab > div > ul > div.col-xs-12 {padding-left: 5px; padding-right: 5px;}
#header_tnc, #header_priv {
  margin: 0px 0px 10px 0px;
  text-align: center;
}
body > footer > div > div.FL, body > footer > div > div.FR {
  float: none !important;
}
footer { text-align: center;}
#wrap > header > div:nth-child(1) > div > div.col-xs-12 > div.navRight.col-xs-6 > div > a {display: inline;}
#wrap > header > div:nth-child(1) > div > div.col-xs-12 > div.navRight.col-xs-6 > div > a > img {height: auto; width: 38px;margin-bottom: 0.4em;}
.navRight a {padding: 0;}
/* Challenge */
div.teamBox > div.joinChallange{padding: 0px;}
#training_plan, #wrap > div.container{padding-left:0px !important; padding-right:0px !important;}
#minutes_per_day, #trainer{width: 100% !important;}
#trainer_form{text-align: center;}
#fb {display: none;}
/* Password*/
#pwdchange{ margin-left: 0px!important;}
/* Edit BMI */
#edit_user > div:nth-child(2), #edit_user > div:nth-child(3) {margin-left: 0px !important;}
#edit_user > div:nth-child(2) > div.col-md-7.col-xs-12, #edit_user > div:nth-child(3) > div.col-md-3.col-xs-12 {padding-left: 5px!important; padding-right: 5px!important;}
#edit_user > div:nth-child(2) > div.col-md-7.col-xs-12 > div:nth-child(2) {padding-left: 0px; padding-right: 5px;}
#edit_user > div:nth-child(3) > div.col-md-2.col-xs-12, #edit_user > div:nth-child(2) > div.col-md-2.col-xs-12 {margin-left: -1em;}
#calculate_bmi {margin: 10%;}
/* Active quotient */
.question_check > li > input[type="radio"] + label{display: inline!important;}
.question_check > li > input[type="radio"] {margin-right: 0em !important;}
#social_net { display: inline;}
#device_map { margin-left: 4.6em !important; margin-top: 1.5em;}
.user_photo {height: 1em; display: inline; margin-bottom: -1em;}
#dashboard_profile > div.user_photo > div.avatarInfo > img {float: left; margin-bottom: -1em; display: none;}
#dashboard_profile > div.user_photo > div.avatarInfo > div.mobInfo > p.avatarTxt.col-xs-9 {margin-top: 2em; margin-bottom: -0.5em;}
#dashboard_profile > div.bmiBx {display: none;}
#wrap > div.container > div.innerWapper > div.rightWapper > div.row.hidden-md.hidden-lg.hidden-sm > div {margin-right: 0px;margin-top: 0px;}
/*#dashboard_profile > div.avProInfoBx {margin-bottom: -2em;} */
#dashboard_profile > div.avatarBx.user_photo {display: none;}
#update_user {margin-bottom: 4em;}
#update_user > div {margin-right: 0px;padding-left: 0px;padding-right: 0px;}
/* bmi calculate space between feet and inches */
#edit_user > div:nth-child(2) > div.col-md-7.col-xs-12 > div:nth-child(2) {
  margin-left: 0%;}
 /* Logo Header
 #logo {
  float: right;
  margin-left: -1.3em;
 }
 #collapse_navbar {
  float: left;
  margin-left: -70%;
 } */
 /*Navbar toggle */
 .navbar-toggle {
  margin: 0px;
 }
 .icon-bar {
  background-color: #fff;
 }
 #menu_bar {
  float:
 }
 #navbar_collapse {
  margin: 0px;
  float: left;
 }
 .navbar {
  margin-bottom: 0px;
 }
 .navRight a {
  border-right: 0px black solid;
 }
 #wrap > header > div.navbar > div > div.col-xs-12 > div.navRight.col-xs-6.dropdown {
  float: left;
  margin-left: -60%;
 }
 #wrap > header > div.navbar > div > div.col-xs-12 > div:nth-child(1) {
  float: right;
  margin-right: 8%;
 }
 #navbar-collapse {
  margin-right: -12.6em !important;
  box-shadow: none;
  margin-left: 10%;
  margin-top: 1em;
 }
 /* changes to screen size to remove extra space on right */
 #wrap {
  overflow: hidden;
 }
 /*sign up page */
 #sign_up_mobile {
  margin-left: 0px !important;
  width: 100%;
 }
 #social_network_sign_up {
  padding-top: 0px !important;
  border-right: 0px solid white !important;
  height: 80px !important;
 }
 #submit_signup {
  float: center;
  margin-left: -60% !important;
 }
 #accept_terms_and_conditions {
  margin-left: -10%;
 }
 #tnc_message {
  padding-left: 1em;
  padding-right: 1em;
 }
 /* create teams */
 #for_responsive_well {padding: 0px;}
}
/*modal responsive */
.modal-body {
  padding-left:0px;
  padding-right:0px;
}
.leftcontainer {
  background-color: #fff;
}
.leftcontainer, .rightcontainer {
  margin-top: 0em;
  margin-bottom: 0em;
}
/* background to user name */
#dashboard_profile > div.col-xs-12{
  background: #fff;
  font-size: 14px;
  font-family: 'Flexo Demi';
}
/* Reduce page title */
#wrap > div.container > div.innerWapper > div.leftWapper > h1 {
  font-size: 2.3rem;
  padding-top: 0px;
}
#dashboard_profile > div.col-xs-12 > p {
  text-align: center;
  width: 100%;
}
.widgetTitle span {
  font-size: 1em;
}
.btn-group > a {
  font-size: 0.8em;
}
#wrap > div > div.innerWapper > div.rightWapper > div.syncTab > div > ul > div.col-xs-12 > li > h2 {
font-size: 1em;
}
/*#wrap > div > div.innerWapper > div.rightWapper > div.widgetBx > div:nth-child(3) > div.widgetTitle > a, .rFoot, .rCalo, .rWalk {
  display: none;
}  to hide the icons*/
#user_profile_challenge {
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
}
/* social network connection */
#social > div > div > div > div:nth-child(1) > div.col-md-1.col-xs-2, #social > div > div > div > div:nth-child(5) > div.col-md-1.col-xs-2
 {
  margin-top: 0.4em !important;
  margin-right: 1em;
}
/*fitbit app connect iphone4 */
#device_map > form > div > button {margin-top: -2em !important;}
}

@media only screen and (max-width: 640px) {}


/* and (min-width:801px) */

@media only screen and (max-width: 960px){
  /* challenge widget width */
  #wrap > div > div.innerWapper > div.rightWapper > div.widgetBx > div:nth-child(3) > div.widgetCnt.col-md-12 { width: 100%;}
.overDoc,.syncTabL .dexCnt{ display:none;}
.mobCnt,.navRight a.mobCnt{ display: none;}
.navRight{ padding-top:0px; float:left; width:65%;}
.navRight a.docImg{ padding:0px; border:0px !important;}
header{ margin-bottom:10px;}
footer .innerWapper{ width:95%;}
footer .innerWapper div:first-child{ width:100%; float:none; margin-bottom:10px;}
footer .innerWapper div:last-child{ float:none; width:100%;}
footer a{ padding:2px;}
footer a:first-child{ padding-left:0px;}
.docBox{ width:15%;float:right;}
.navRight a.docImg img{ width:100%;}
.searBx{ float:right; width:65%; border-radius:0px 5px 5px 0px; margin-top:5.5%; padding-left:0px;}
.searBtn{ float:right;  border-radius:5px 0px 0px 5px; margin-top:5.5%;}
.innerWapper{ width: 90%;}
.getfitgoLogo{ float:left;height: 4.6em; width: 8em; margin-left: -2em;}
.leftWapper ,.search-left,.search-text,.signinLeft{ width:95%;}
.rightWapper,.search-right,.signinRight{ width:95%; margin-top:10px;}
.dlRnIfo {padding-left: 0px;}
/* To make it float left */
.rightWapper { float: left; width: 100%;}
.leftWapper { float: left; width: 100%;}
.subBx2x{ width:100%;}
.avatarTbx{ height:45px;}
.avatarBx{ padding-bottom:10px;}
.avatarInfo{ margin-bottom:10px; margin-bottom:0px; margin-top:-40px;}
.avatarImg{ border:4px solid #FFF; border-radius:50%; float:left; width:26.5%;}
.challangeAvatImg{ float:left; width:18%;}
.avatarImgBx{ float:left; width:20%;}
.mobInfo{ float:left; width:66%;margin-left: 22%;text-align:left; margin-top:26px; font-size:0.8rem;}
.mobInfo .avatarTxt{ font-size:1.2rem; margin-bottom:3px; }
.badgeBx{ float: left; width:60%;}
.badgeBx img{ width:20%; margin-left:10%; cursor:pointer;}
.badgeBx img:first-child{ margin-left:8%;}
.rightArTxt{ float:right; font-size:18px; margin-top:25px;}
.widgetTitle{ padding:2% 3%;}
.widgetTitle span{ font-size:0.95rem;}
.widgetTitle a{ font-size:0.5rem;}
.evName{ width:79%;}
.orCount{font-size: 1rem;}
.evnAtt{ width:19%;}
.expEtn .evName{ width:90%;}
.expEtn .evnAtt{ width:7%;}
.syncTabL{ padding:0 10px; display: inline-table; width: 100%;}
.achiveTitle{ width:100%; float:none; font-size:0.9rem;}
.badgesBx{ width:100%; float:none;}
.badgeCarousel,.badgeAdd .badgeCarousel{ width:82%;}
#wrap > div.container > div.innerWapper > div.rightWapper > div.syncTab > ul > div.btn-group > a.filter-days {display: inline; padding: 1em 4em 1em 4em;}
.sec4bxL li:nth-child(3n){ border:0px;}
.sec4bxL li{ width:40%; padding:3% 4%; border-left: 0px;}
.sec4bxL li h2{font-size: 0.8rem;}
#wrap > div.container > div.innerWapper > div.rightWapper > div.syncTab > div > ul > div.col-xs-12 {padding-left: 5px; padding-right: 5px; display: inline-flex;}
#wrap > div.container > div.innerWapper > div.rightWapper > div.syncTab > ul > div.btn-group {display: inline; padding-top: 3%;}
.smBtn a{ width:44%; margin:10px 1% 0; padding:2%; background-color:#006464; color:#FFF; font-size:0.7rem; display:block; float:left; border-radius:5px; text-align:center;}
.actLeft,.actRight{ width:100%;}
.actRight{ margin-top:10px;}
.tb-data td{ width:auto !important;}
.tb-data td .fieldBx{ width:60px;}
.diatLi li{ width:50%;}
.noteBx{ position:relative; margin:0px 5%; width:86%; padding:2%; font-size: 0.7rem;}
.areaBx{ width:91%; margin-bottom:10px;}
.create-album .fieldBx{ width:91%;}
.viewfoto li,.viewChallanges li{ width:100%;}
.viewfoto li a{ display:block; width:100%;}
.viewfoto li a img,.viewfoto li a img{ width:100%; height:auto;}
.albumLi li{ width:100%;}
.albumLi li .albumBx{ width:100%; height:auto;}
.membAlb .albumBx:hover{ width:98%; height:auto;}
.delOver{width: 76%;height: 28.9%;}
.photoScrol li{ width:100%;}
.photoScrol li img{ width:100%; height:auto;}
.connectionSc li,.search-members li{ width:100%;}
.connectionSc,.photoScrol{ height:auto;}
.frList li{ width:96%; float:none; padding:4% 2%;}
.serCon input{ margin-bottom:8px;}
.serCon .fieldBx{ width:95% !important;}
.serCon .selectStyled2{ margin-top:0px;}
.formRow .formLable,.formRow .formField{ width:100%; float:none; text-align:left;}
.formRow .formField input{ width:90%; margin-top:5px; margin-bottom:5px;}
.changPassLink{ margin-right:0px;}
.formRow input{ margin:5px 0 !important; width:90% !important;}
.aboutPerson{ width:100%;}
.regIndi{ margin-top:20px;}
.bmiNoteBx{ width:100% !important;}
.bmiNoteBx .bmiBx,.orNoteBox{ width:90% !important;}
.goalSetting{ margin-left:0px; margin-bottom:10px;}
.challangeLeftSection,.challangeRightSection{ width:88%; margin:0px; float:right;}
.challangeLeftSection{ margin-top:20px;}
.challangeRightSection{ min-height:174px;}
.challangeBox{ padding-bottom:25px;}
.shareEditBox{ position:absolute; z-index:1; top:-243px; right:0}
.joinChallange .shareEditBox{ z-index:1; top:6px; right:7px;}
.joinForm input,.performAction input{ margin:5px 0px;}
.borderBox{ width:82%;}
.badgeWithTxt li{ margin:0px;}
.challangeAvatar img{ width:95%; height:auto;}
.viewMemberImg{ width:20%;}
.viewInfo{ width:74%;}
.mostActiveAvatar{ width:54%;}
.teamBanner{ height:100px;}
.teamBanner img{ margin-bottom:-3px; height:100%}
.teamStatus span{ float:none !important; display:block;}
.scoreBox{ width:100%;}
.badgeAdd{ width:95%;}
.textScroll li{ width:300px;}
.fbShareLast{ float:none; clear:both; padding-left:0px;}
.countBox{ padding:0 6px; border-right: 0px !important;}
.fbScreen img{ width:100%; height:auto;}
.loginForm { padding:0px; padding-top:10px;}
.loginForm input[type="text"],.loginForm  input[type="password"]{ width:95% !important;}
.loginForm  input[type="password"]{ margin-bottom:5px;}
.loginForm .btn{ width:100% !important; margin-bottom:8px;}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{ bottom:inherit; top:10px;}
.teamBadges img{ margin:0 8px;}
.graphLegend li{ margin-bottom:10px;}
.reportShare{ float:none !important; width:100%;}
.shareBx{ margin-bottom:10px;}
.borderBox{ width:71%;}
.selectStyled{ margin-top:5px;}
.performAction .selectStyled{width: 100%;margin:0px;}
.performAction .css-label{margin-bottom: 10px;}
.performAction .updatBtn{ margin-top:12px;}
.performCal{ margin-top:15px;}
.compar .performCal{ margin:15px 0;}
.challangeAvatar{width: 18%; padding-right: 2%;}
.challangeAction{ width:100%;}
.activityCarousel{ width:80%;}
.activityBx, .dietBx{ padding:0px;}
.addPercentage{ font-family:Flexo;}
.indTxt{ display:none;}
.browseView{ width:164px; margin-bottom:8px;}
.browseBtn{ margin-bottom:8px;}
.teamThumbUpload{ width:100%}
.inviteMsg{ width:91.5%;}
.selected-acitvity li{ margin-bottom:10px;}
.actionBox a{ width:100%; margin-bottom:10px;}
.owenerImg{ width:25%;}
.owenerInfo{ width:70%;}
.teamMemberImg{ width:20%;}
.memberInfo{ margin-bottom:10px;}
.manageChallanges .challangeInfo{ width:80%; margin-bottom:10px;}
.manageChallanges .challangeAction{ width:80%; float:right;}
.challangesList li{ padding:10px 0;}
.memEmailList li{ width:100%;}
.challangeStapes li{ margin-left:38px;}
.showingBox .selectStyled2{ margin:0px; margin-top:5px; float:right; width:100%;}
.selectStyled2 select{ width:100%;}
.joinForm .memberImg{ width:35%; float:none;}
.memDesignation{ float:none; width:100%;}
.memDesignation .btn{ float:none !important;}
.tScroll{ height:auto !important;}
.frInfo{ width:60%;}
.cScroll{ max-height:none !important;}
.cScroll .btn-gr-over{ width:auto;}
.loginForm .checkbox-label{ margin-bottom:10px;}
.teamTopPerformer{ width:100%; border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; margin-top:10px; padding-top:0px; padding-bottom:10px;}
.teamTopPerformer li{ border:0px !important;}
.teamTopPerformer img{ margin-right:10px;}
.challangesList li{ border-top:2px solid #333;}
.challangesBox{ width:100%; float:none; }
.challangesBox p{ display:inline-block;}
.challengInfoBox{ width:100%; margin-top:10px;}
.stepL,.stepR{ font-size:0.7rem;}
.topBlineBox{ padding:10px 0;}
.topBlineBox .box3section img{ width:80%; height:50px;}
/* Terms and conditions */
#header_tnc {
  margin: 0px;
  text-align: center;
}
/* Footer */
body > footer > div > div.FL, body > footer > div > div.FR {float: none !important;}
footer { text-align: center;}
#wrap > header > div:nth-child(1) > div > div.col-xs-12 > div.navRight.col-xs-6 > div > a {display: inline;}
#wrap > header > div:nth-child(1) > div > div.col-xs-12 > div.navRight.col-xs-6 > div > a > img {height: auto; width: 38px;margin-bottom: 0.4em;}
.navRight a {padding: 0;}
/* Challenge */
div.teamBox > div.joinChallange{padding: 0px;}
#training_plan, #wrap > div.container{padding-left:0px !important; padding-right:0px !important;}
#minutes_per_day, #trainer{width: 100% !important;}
#trainer_form{text-align: center;}
#fb {display: none;}
/* Password */
#pwdchange{ margin-left: 0px!important;}
/* Edit BMI */
#edit_user > div:nth-child(2), #edit_user > div:nth-child(3) {margin-left: 0px !important;}
#edit_user > div:nth-child(2) > div.col-md-7.col-xs-12 {padding-left: 5px!important; padding-right: 5px!important;}
/* Active quotient */
.question_check > li > input[type="radio"] + label{display: inline!important;}
.question_check > li > input[type="radio"] {margin-right: 0em !important;}
 /*Navbar toggle */
 .navbar-toggle {
  margin: 0px;
 }
 .icon-bar {
  background-color: #fff;
 }
 #menu_bar {
  float:
 }
   /* navbar */
  #navbar-collapse > ul {margin-top: 4em;}
 #navbar_collapse {
  margin: 0px;
  float: left;
 }
 .navbar {
  margin-bottom: 0px;
 }
 .navRight a {
  border-right: 0px black solid;
 }
 #wrap > header > div.navbar > div > div.col-xs-12 > div.navRight.col-xs-6.dropdown {
  float: left;
  margin-left: -70%;
  margin-top: 0.8em;
 }
 #wrap > header > div.navbar > div > div.col-xs-12 > div:nth-child(1) {
  float: right;
  margin-right: 8%;
 }
 #navbar-collapse {
 margin-right: -9em !important;
   box-shadow: none;
  margin-left: 10%;
 }
 /* Leaderboard */
 #wrap > div.container > div.innerWapper > div.rightWapper > div.subBx2x.FL > div.widgetBx.no-margin > div > div.widgetCnt {
  padding: 1em;
 }
.table-responsive {
border: 0px solid #fff;
}
#wrap > div.container > div.innerWapper > div.leftWapper {
  margin-bottom: 1em;
}
/*update button large */
#update_user {padding: 0em;}
#update_user > div {margin-right: 0px;padding-left: 0px;padding-right: 0px;}
.top, .top-label { margin-left: 2.1em;}

}

/* and (min-width: 769px)  */
@media only screen and (max-width: 800px) {
/* Dashboard widget title */
#wrap > div.container > div.innerWapper > div.rightWapper > div.syncTab > ul > div.btn-group > a.filter-days {display: inline; padding: 1em 3.3em 1em 3.3em;}
}

/* and (min-width: 641px) */
@media only screen and (max-width: 768px) {
  /* getfitgo champs challenge page */
  .table-responsive {
    border: 0px solid #fff;
  }
 /* #navbar-collapse {
    margin-right: -36% !important;
  }
} */
/* and (min-width: 481px) */
/* @media only screen  and (max-width: 640px) {
  #navbar-collapse {
    margin-right: -58% !important;
  }
} */
@media screen and (max-width: 320px){}
@media screen and (max-width: 360px){
  #navbar-collapse { margin-right: -12em !important;}
 /* #wrap > div.container > div.innerWapper > div.rightWapper > div.teamBox > div.challangeLine {display: none;}
  #wrap > div.container > div.innerWapper > div.rightWapper > div.subBx2x.FL > div.widgetBx.no-margin > div > div.widgetCnt > div > table > tbody > tr > td > img {display: none;}
 */
}