$('#notifications').hide();

var s = '<% unless @notifications.empty? %><div id="notifications" class="notifications"><%= escape_javascript(render "dashboards/notifications", notifications: @notifications) %></div><% end %>';
var div = document.createElement('div');
div.innerHTML = s;

$('.rightWapper').prepend($(div.firstChild).hide().fadeIn('slow'));

$('#notificationsCarousel').carousel('pause');

$('.left.carousel-control').hide();
$('.carousel.slide').on('slid.bs.carousel', function (ev) {
  var carouselData = $(this).data('bs.carousel');
  var currentIndex = carouselData.getActiveIndex();

  if(currentIndex >= 1) {
    $('#' + carouselData.$element[0].id + ' .left.carousel-control').show();
  }
  else {
    $('#' + carouselData.$element[0].id + ' .left.carousel-control').hide();
  }

  if(currentIndex === (carouselData.$items.length-1)) {
    $('#' + carouselData.$element[0].id + ' .right.carousel-control').hide();
    $('#' + carouselData.$element[0].id + ' .left.carousel-control').show();
  }
  else {
    $('#' + carouselData.$element[0].id + ' .right.carousel-control').show();
  }

  if(carouselData.$element[0].id == 'notificationsCarousel') {
    $.ajax({
      url: '/notifications/mark_as_read',
      method: 'PUT',
      data: { id: $('#notificationsCarousel .active').attr('id') },
      type: 'script'
    })
  }
})