@font-face {
    font-family: "Flaticon";
    src: url("flaticon.eot");
    src: url("flaticon.eot#iefix") format("embedded-opentype"), url("flaticon.woff") format("woff"), url("flaticon.ttf") format("truetype"), url("flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
}

.flaticon-advanced:before {
    content: "\e000";
}

.flaticon-create1:before {
    content: "\e001";
}

.flaticon-door9:before {
    content: "\e002";
}

.flaticon-fire14:before {
    content: "\e003";
}

.flaticon-footsteps:before {
    content: "\e004";
}

.flaticon-help:before {
    content: "\e005";
}

.flaticon-home63:before {
    content: "\e006";
}

.flaticon-log:before {
    content: "\e007";
}

.flaticon-login6:before {
    content: "\e008";
}

.flaticon-simple18:before {
    content: "\e009";
}

.flaticon-user47:before {
    content: "\e00a";
}

.flaticon-walking3:before {
    content: "\e00b";
}
