@font-face {
    font-family: "Flaticon";
    src: url("footer.eot");
    src: url("footer.eot#iefix") format("embedded-opentype"), url("footer.woff") format("woff"), url("footer.ttf") format("truetype"), url("footer.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
}

.flaticon-facebok:before {
    content: "\e000";
}

.flaticon-opened4:before {
    content: "\e001";
}

.flaticon-social71:before {
    content: "\e002";
}

.flaticon-support2:before {
    content: "\e003";
}
