<%# TODO: Need more helper methods perhaps %>
<div class="widgetTitle">
  <span>Buzz</span>
  <div class="CL"></div>
</div>

<div class="widgetCnt tScroll fotoPost">
  <ul class="eventLi extCha">
    <% if (!(current_user.eql?(user)) && current_user.mutual_friends.include?(user)) || current_user.eql?(user) %>
      <div id="new_post"><%= render "shared/post_form" %></div>
    <% end %>
    <div id="buzz">
      <% session[:activities_showing] = 10 %>
      <% (user.activities + @posts).sort{|a,b| b.created_at <=> a.created_at }.first(session[:activities_showing]).each do |activity| %>
        <div id="<%= "activity_#{activity.id}_#{activity.class}" %>" >
          <%= render "activities/activity", current_user: current_user, user: user, activity: activity %>
        </div>
      <% end %>
      <p style="text-align: center; padding-bottom: 20px;">
        <%= link_to 'View more ...', activities_view_more_path(num: session[:activities_showing], user_id: user.id), method: :get, class: 'colored-link', onclick: "$(this).parent().hide();$('#buzz').append(\"<div class='col-md-12' style='padding-bottom: 20px;'><div class='col-md-offset-5' id='activity-spinner-#{session[:activities_showing]}'><img src='/loader2.gif' width='40px;' /></div></div><div class='CL'></div>\");", remote: true %>
      </p>
    </div>
  </ul>
</div>

