<% current_challenge = current_user_activity.challenge %>

<% unless current_user_activity.nil? %>
  <div class="widgetTitle">
    <span class="brand"><%= challenge_title(current_challenge, user) %></span> <%= challenge_details(current_challenge, view_challenge) %>
    <div class="CL"></div>
  </div>
  <% content_for(:challenge_title, 'My Dashboard') %>
  <% if current_challenge.not_warm_up? %>
    <% if current_page?(monthly_challenge_path) %>
      <%= render 'users/performance', user: user, current_user_activity: current_user_activity %>
    <% else %>
      <%= render 'users/current_challenge', user: user, current_user_activity: current_user_activity %>
    <% end %>
  <% elsif current_challenge.number_of_days.eql? 7 %>
    <%= render 'users/warm_up_challenge', user: user, current_user_activity: current_user_activity %>
  <% end %>
<% end %>

