<div class="widgetTitle">
  <span>Connections</span>
  <div class="CL"></div>
</div>
<div class="widgetCnt" style="list-style: none;">
  <% user.mutual_friends.each do |user| %>
  <li>
    <% if user.photo.url == "/photos/original/missing.png" %>
      <a href="/users/<%= user.id %>" rel='tooltip' title='<%= user.user_name %>'><%= image_tag "/walking_man.png", :size => '48x48' %></a>
    <% else %>
      <a href="/users/<%= user.id %>" rel='tooltip' title='<%= user.user_name %>'><%= display_picture user, 'community' %></a>
    <% end %>
    <%= link_to user.user_name, user_path(user.id), class: "colored-link" %><!-- (<%#= link_to "remove", Friendship.where(user:current_user,friend:user).first,method: :delete %>) -->
   <% end %>
  </li>
</div>

