<% current_challenge = current_user_activity.challenge %>
<% user_progress = user.progress %>
<% challenge_dates = current_user_activity.dates %>

<div class="widgetCnt" style="position:relative;">
  <div class="runIcon hidden-xs hidden-sm"></div>
  <div class="dlRnIfo"> <span class="greyTitle">Walk <%= current_challenge.number_of_steps %> in <%= current_challenge.number_of_days/7 %> weeks</span>
    <!--<input type="button" value="PAUSE" class="btn FR">-->
    <div class="CL"></div>
    <span class="FL greyTxt hidden-xs"><i class="fa fa-calendar"></i> <%= challenge_dates.first.strftime('%d/%m/%Y') %> to <%= challenge_dates.last.strftime('%d/%m/%Y') %></span>
    <div class="CL"></div>
    <div class="barBx">
      <div class="proBar" style="width:<%= user_progress %>%;"></div>
    </div>
    <div style="margin-top: 2px;">
      <span class="FL greyTxt"><%= user_progress %>% completed</span> <span class="FR greyTxt"><%= current_user_activity.days_left %> more days to go</span>
    </div>
    <div class="CL"></div>
    <p style="line-height:1;"></p>
    <p style="line-height:1;"><div class="FL">Average run rate: </div> <div class="FR"><%= current_user_activity.average %> steps/day</div></p>
    <div class="CL"></div>
    <p style="line-height:1;"><div class="FL">Target run rate: </div> <div class="FR hidden-xs"><%= current_user_activity.daily_goal %> steps/day</div></p>
    <div class="CL"></div>
    <p style="line-height:1;"><div class="FL">Required run rate: </div> <div class="FR"><%= user.total_required_run_rate %> steps/day</div></p>
    <div class="CL"></div>
    <br/>
    <p class="greyTxt">
      <% if current_challenge.participating_users.include? current_user %>
        <span class="blueTxt"><%= link_to "#{current_challenge.user_activities.count - 1} people", current_challenge, class:"colored-link" %></span>
      <% else %>
        <%= "#{current_challenge.user_activities.count - 1} people" %>
      <% end %> you know have taken up this challenge
    </p>
  </div>
  <% if current_user.eql?(@user) %>
    <div class="altGrBx">
      <div class="col-xs-2">
        <i class="bulbIcon"></i>
      </div>
      <div class="col-xs-10" style="text-align: justify">
        <%= (Qualification.profile user).html_safe %>
      </div>
      <div class="CL"></div>
    </div>
  <% end %>
</div>