<div class="widgetTitle interests">
	<span>Interests</span>
</div>

<div class="widgetCnt">
	<a class="jcarousel-prev" style="margin-top: 18px"></a><a class="jcarousel-next" style="margin-top: 18px"></a>
	<div class="badgeCarousel intrest">
		<ul>
		  <% user.interests.each do |interest| %>
		    <li><%= image_tag("/#{interest.downcase}.png")%></li>
		  <% end %>
		</ul>
	</div>
	<div class="CL"></div>
</div>