<% current_challenge = current_user_activity.challenge %>
<% user_progress = user.progress %>
<% challenge_dates = current_user_activity.dates %>
<% best_performance = current_user_activity.daily_activities.where.not(steps_covered: nil).order(steps_covered: :desc).first %>
<% worst_performance = current_user_activity.daily_activities.where.not(steps_covered:nil).order(steps_covered: :desc).last %>
<% best_week = current_user_activity.daily_activities.where.not(steps_covered:nil).group_by_week('daily_activities.start_time', week_start: user.confirmed_at.strftime('%a').downcase.to_sym).sum(:steps_covered) %>
<% best_week_performance = best_week.values.max %>
<% best_week_start_day = best_week.select{|k, v| v == best_week_performance}.keys.first %>

<div class="widgetCnt" style="padding: 10px;">
  <div class="col-xs-12" style="padding-left: 0px;">
    <div class="col-xs-7">
      <%= content_tag :div, "", id: "performance_donut_chart", :style => 'height: 150px;', data: {report: [{label: 'Achieved', value: user_progress}, {label: 'Yet to achieve', value: [(100 - user_progress), 0].max}]} %>
      <p style="line-height:1;"><div class="col-xs-6" style="padding-left: 0px;">Average run rate: </div> <div class="col-xs-6" style="padding-left: 0px;"><%= current_user_activity.average %> steps/day</div></p><br/><br/>
      <p style="line-height:1;"><div class="col-xs-6" style="padding-left: 0px;">Target run rate: </div> <div class="col-xs-6" style="padding-left: 0px;"><%= current_user_activity.daily_goal %> steps/day</div></p>
      <!-- <p style="line-height:1;"><div class="col-xs-6" style="padding-left: 0px;>Required run rate: </div> <div class="col-xs-6" style="padding-left: 0px;><%= user.total_required_run_rate %> steps/day</div></p> -->
    </div>
    <div class="col-xs-5" style="text-align: center; padding-right: 0px;">
      <% if best_performance %>
        <div class="small-well">
          <p><strong style="color: #009696;">Best Day</strong><p>
          <p><%= best_performance.start_time.strftime("#{best_performance.start_time.day.ordinalize} %B") %></p>
          <p><%= best_performance.steps_covered %> steps</p>
        </div>
      <% end %>
      <% if worst_performance && (best_performance.steps_covered > worst_performance.steps_covered) %>
        <div class="small-well">
          <p><strong style="color: #009696;">Slowest Day</strong></p>
          <p><%= worst_performance.start_time.strftime("#{worst_performance.start_time.day.ordinalize} %B") %></p>
          <p><%= worst_performance.steps_covered %> steps</p>
        </div>
      <% end %>
      <% if best_week.count >= 2 %>
        <div class="small-well">
          <p><strong style="color: #009696;">Best Week</strong></p>
          <p><%= best_week_start_day.strftime("#{best_week_start_day.day.ordinalize} %B") + "-" + (best_week_start_day + 7.days).strftime("#{(best_week_start_day + 6.days).day.ordinalize} %B") %></p>
          <p><%= best_week_performance %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="CL"></div>
</div>

<script>
  new Morris.Donut({
    element: 'performance_donut_chart',
    data: $('#performance_donut_chart').data('report'),
    backgroundColor: '#ccc',
    labelColor: 'black',
    colors: [
      '#96c800',
      '#e1e1e1'
    ],
    formatter: function (x) { return x + "%";}
  }).select(0);
</script>