<div class="">
    <div class="panel panel-default panel-info">
        <div class="panel-heading col-xs-12">
            <div class="col-xs-6">
                <h5 rel='tooltip' title='Total Steps Walked'>
                    <strong><%= user.steps_covered %><i class="flaticon-footsteps"></i></strong></h5>
            </div>
            <div class="col-xs-6">
                <h5 rel='tooltip' title='Total Calories Burnt'>
                    <strong><%= user.total_calories_burnt %><i class="flaticon-fire14"></i></strong></h5>
            </div>
        </div>
        <div class="panel-body">
            <% days ||= '0' %>
            <br/>
            <button class="btn btn-info" onclick="resizeHandler();" style="float:right" rel='tooltip' title='Refresh data'>
                <i class="fa fa-refresh"></i></button>

            <ul class="nav nav-tabs">
                <li class="active"><a href="#steps" data-toggle="tab">Steps Covered</a></li>
                <li><a href="#calories" data-toggle="tab">Calories Burnt</a></li>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm filter-days active" data-user="<%= user.id %>" data-days="0">Overall</button>
                    <button type="button" class="btn btn-default btn-sm filter-days" data-user="<%= user.id %>" data-days="7">Last
                        Week
                    </button>
                    <button type="button" class="btn btn-default btn-sm filter-days" data-user="<%= user.id %>" data-days="30">Last
                        Month
                    </button>
                </div>

            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active" id="steps">
                    <%= content_tag :div, "", id: "steps_covered_chart", :style => 'height: 150px;', data: {report: report(user, {:days => days, :filter => 'steps_covered'})} %>
                </div>
                <div class="tab-pane fade" id="calories">
                    <%= content_tag :div, "", id: "calories_chart", :style => 'height: 150px;', data: {report: report(user, {:days => days, :filter => 'calories'})} %>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  drawChart('steps_covered', 'Steps Covered', '#00c8c8');
  drawChart('calories', 'Calories Burnt', '#fa9600')
</script>
