<% current_challenge = current_user_activity.challenge %>
<% user_progress = user.progress %>
<% challenge_dates = current_user_activity.dates %>

<div class="widgetCnt" style="position:relative;">
  <div class="runIcon hidden-xs hidden-sm"></div>
  <div class="dlRnIfo"> <span class="greyTitle">Warm up for <%= current_challenge.number_of_days %> days</span>
    <!-- <input type="button" value="PAUSE" class="btn FR"> -->
    <div class="CL"></div>
    <span class="FL greyTxt"><i class="fa fa-calendar"></i> <%= user.current_challenge.challenge_status %> </span>
        <div class="CL"></div>
        <div class="barBx">
          <div class="proBar" style="width:<%= user_progress %>%;"></div>
        </div>
        <div style="margin-top: 2px;">
          <span class="FL greyTxt"> Updated: <%= user.current_challenge.updated_daily_activities.count %> of <%= current_challenge.number_of_days %> <%= 'day'.pluralize(user.current_challenge.updated_daily_activities.count) %> </span> <span class="FR greyTxt"><%= current_user_activity.days_left %> more days to go</span>
        </div>
        <div class="CL"></div>
        <p style="line-height:1;"></p>
        <p style="line-height:1;"><div class="FL">Average run rate: </div><div class="FR"><%= current_user_activity.average %> steps/day</div></p>
        <div class="CL"></div><br/>
        <div style="text-align: justify">
          <%= message_for_warmup(user).html_safe %>
        </div>
  </div>
  <% if current_user.eql?(@user) %>
    <div class="altGrBx">
      <div class="col-xs-2">
        <i class="bulbIcon"></i>
      </div>
      <div class="col-xs-10" style="text-align: justify">
        <%= (Qualification.profile user).html_safe %>
      </div>
      <div class="CL"></div>
    </div>
  <% end %>
</div>
