$('.syncTab').html("<%= escape_javascript(render 'dashboards/sync', user: @user, days: params[:number_of_days].to_i) %>")
$('#user-report').html("<%= escape_javascript(render 'dashboards/report', user: @user, days: params[:number_of_days]) %>")
