<% content_for(:title, @user.user_name) %>

<% achievements = @user.achievements.includes(:badge).order('created_at DESC') %>
<% achievements_count = achievements.count %>

<div class="leftWapper">
  <h1 class="page-title"><%= (current_user.eql? @user) ? 'My Profile': @user.user_name + '\'s Profile' %></h1>
  <span id="dashboard_profile">
    <%= render 'dashboards/profile', user: @user,resource: current_user,resource_name: "user" %>
  </span>

   <% if current_user.eql? @user %>
   <div class="widgetCnt hidden-xs hidden-sm">
   <%= link_to "Manage Profile", edit_user_registration_path(current_user)%>
   </div>
   <% end %>
</div>

<div class="rightWapper">
  <div class="achivevBx hidden-xs hidden-sm"><span class="achiveTitle"><%= 'ACHIEVEMENT'.pluralize(achievements_count).upcase + " (#{achievements_count})" %></span>
    <%= render 'dashboards/achievements_carousel', achievements: achievements, user: @user, size: 64 %>
     <div class="CL"></div>
  </div>
  <div class="widgetBx hidden-xs hidden-sm" style="margin-bottom: 20px;" id="friend_request_widget">
    <% if current_user.eql?(@user) && Friendship.where(friend:current_user,confirmed: false).count > 0 %>
      <%= render 'dashboards/friend_requests', user: @user %>
    <% end %>
  </div>
  <div class="widgetBx hidden-xs hidden-sm">
    <% if current_user.eql?(@user) %>
      <%= render 'dashboards/lifestyle_profile_widget', user: @user %>
    <% end %>
  </div>
  <div class="CL"></div>
  <div class="subBx2x FL">
    <div class="widgetBx" id="activity_feed">
      <%= render 'users/activity_feed', user: @user %>

    </div>

    <div class="widgetBx" style="margin-bottom: 20px;">
      <% if @user.mutual_friends.count > 0 %>
      <%= render 'connections', user: @user %>
      <% end %>
    </div>
  </div>
  <div class="subBx2x FR">
   <% if @user.interests.count > 0 %>
    <div class="widgetBx">
      <%= (render 'users/interests', user: @user) %>
    </div>
    <% end %>


    <div class="widgetBx">
      <%= (render 'users/challenge_widget', user: @user, view_challenge: true, current_user_activity: @user.current_challenge) if @user.confirmed? %>
    </div>
  </div>
  <div class="CL"></div>
</div>

