<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put })
    do |f| %>
    <%= devise_error_messages! %>

    <div id="form_element"><%= f.label :email %><br/>
      <%= f.email_field :email, :autofocus => true,class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div id="form_element"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
      <%= f.password_field :password, :autocomplete => "off",class: "form-control" %>
    </div>

    <div id="form_element">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation ,class: "form-control" %>
    </div>

    <div id="form_element"><%= f.label :foot %><%= f.number_field :foot,maximum:7,minimum:5 %>
      <%= f.label :inches %><%= f.number_field :inches,maximum:12,minimum:1 %>
      <div>

        <div id="form_element"><%= f.label :city %><br/>
          <%= f.text_field :city, :autocomplete => "off",class: "form-control" %>
        </div>

        <div id="form_element"><%= f.label :organisation %><br/>
          <%= f.text_field :organisation, :autocomplete => "off",class: "form-control" %>
        </div>

        <div id="form_element"><%= f.label :birth_date %><br/>
          <%= f.date_field :birth_date, :autocomplete => "off",class: "form-control" %>
        </div>

        <div id="form_element"><%= f.label :weight %><br/>
          <%= f.number_field :weight, :autocomplete => "off",class: "form-control" %>
        </div>

        <div id="form_element">
          <%= f.label :photo %>
          <%= f.file_field :photo,class:"col-md-5" %>
        </div>

        <div><%= f.submit "Update" ,class:"btn btn-primary"%></div>
        <% end %>

        <!-- <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

        <%= link_to "Back", :back %> -->
