<div style="text-align: center">

    <h2>Change your password</h2><br/>
    <%= devise_error_messages! %>
    <br/>

    <div class="row">
        <div class="col-md-offset-1 col-md-9 jumbotron">
            <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put}) do |f| %>
              <%= f.hidden_field :reset_password_token %>

              <div class="row">
                  <div class="col-md-4" style="padding-top: 10px;">
                      <%= f.label :password, "New password" %>
                  </div>
                  <div class="col-md-8">
                      <%= f.password_field :password, :autofocus => true, :class => "form-control" %>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-4" style="padding-top: 10px;">
                      <%= f.label :password_confirmation, "Confirm new password" %>
                  </div>
                  <div class="col-md-8">
                      <%= f.password_field :password_confirmation, :class => "form-control" %></div>
              </div>

              <div class="row">
                  <div class="field col-md-5" style="float: right"><%= f.submit "Change my password", :class => 'btn btn-info' %></div>
              </div>

            <% end %>
        </div>

    </div>
    <br/>

</div>
