<div style="text-align: center">

    <h2>Can't sign in? Forgot your password?</h2><br/>
    <h4>Enter your email address below and we'll send you password reset instructions.</h4>
    <%= devise_error_messages! %>
    <br/>

    <div class="row">
        <div class="col-md-offset-1 col-md-9 jumbotron">
            <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f| %>

              <div class="row">
                  <div class="col-md-4" style="padding-top: 10px;">
                      <%= f.label :email %>
                  </div>
                  <div class="col-md-8">
                      <%= f.email_field :email, :autofocus => true, :class => "form-control" %>
                  </div>
              </div>
              <div class="row">
                  <div class="field col-md-5" style="float: right"><%= f.submit "Send me password reset instructions", :class => 'btn btn-info' %></div>
              </div>

            <% end %>
        </div>

  </div>
  <br/><hr class="style-six" />
  <div class="row">
    <h3>A note about spam filters</h3>
  </div>
  <div class="row">
    <h4>If you don't get an email from us within a few minutes, please be sure to check your spam filter.</h4>
  </div>

</div>
