<div class="postBx">
  <%= form_for(Post.new,remote: true) do |f| %>
    <div class="field">
      <%= f.text_area :name, placeholder: "Share something interesting...",class: "form-control"  %>
      <%= hidden_field_tag 'user_id', @user.id  %>
    </div>
    <p align="right">
      <label>
        <i class="camIcon"></i>
        <%= f.file_field :image,style:"display:none;" %>
      </label>
      <span id="post_spinner" style="display:none;position:relative;float:left;margin-left:15%;margin-top:15%;"><img class="loader" src='/ajax-loader.gif'/></span>
      <%= f.submit "Post", class: "btn-branding btn", id: "post_button", onclick: "$('#post_spinner').show();", 'data-disable-with'.to_sym => "Please wait ..." %>
    </p>
  <% end %>
</div>
