<div class="CL"></div>
<% if (!(current_user.eql?(user)) && current_user.mutual_friends.include?(user)) || current_user.eql?(user) %>
  <div class="postBx comment" style="margin-top: 0px; background: #cacaca">
    <%= form_tag(comments_path, remote: true) do %>
      <div class="field">
        <%= text_area_tag 'body', nil, placeholder: "Write a comment...", class: "form-control", style: 'width: 100%;'  %>
        <!-- <label class="camIcon" > -->
         <%#= f.file_field :image,style:"display:none;" %>
        <!-- </label> -->
        <%= hidden_field_tag 'commentable_id', commentable.id %>
        <%= hidden_field_tag 'commentable_type', commentable.class.to_s %>
        <%= hidden_field_tag 'parent_id', parent_id %>
        <%= hidden_field_tag 'user_id', current_user.id  %>
        <%= hidden_field_tag 'activity_feed_user_id', @user.id %>
      </div>
      <p align="right">
        <!-- <img src="/wh-smiley.png" width="16" height="16" alt="" class="vm-mr-5"> -->
        <input id="post-comment-button" class="btn-branding btn" name="commit" type="submit" value="Comment" data-disable-with="Please wait ...">
      </p>
    <% end %>
  </div>
 <% end %>