<!-- <%#= link_to_function pluralize(Comment.where(commentable: commentable).pluck(:user_id).uniq.count, 'person'), "$('#commentorsModal').modal('show');", class: 'colored-link' %> commented on this -->
<div id="comments-<%= commentable.id %>-<%= commentable.class.to_s %>">
  <% display_threaded_comments(commentable).each { |parent_comment| %>
    <%= render 'shared/show_comment', comment: parent_comment, user: user %>
  <% } %>
</div>
<div id="comment-<%= commentable.id %>-<%= commentable.class %>"><%= render 'shared/post_comment', commentable: commentable, parent_id: nil, user: user %></div>

<div class="modal fade" id="commentorsModal" tabindex="-1" role="dialog" aria-labelledby="commentorsLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content panel panel-info">
      <div class="modal-body postBx defaultColor">
      <ul>
        <% commentors = User.find(Comment.where(commentable: commentable).pluck(:user_id).uniq).each { |user| %>
          <li>
            <%= link_to user.user_name, user_path(user.id) %>
          </li>
        <% } %>
      </ul>
      </div>
    </div>
  </div>
</div>