<% comment.each { |current_comment, child_comments| %>
  <div>
  	<div class="row">
      <div class="col-md-12" style="margin-top: 10px;">
        <div class="col-md-2">
          <%= image_tag current_comment.user.photo.url(:thumb), size: '40x40' %>
        </div>
        <div class="col-md-10">
          <p>
            <strong><%= link_to current_comment.user.user_name, user_path(current_comment.user.id), class: "colored-link show-comments" %></strong>
            <div style="text-align: justify">
              <% if current_comment.body.length > 200 %>
                <%= truncate(current_comment.body, length: 200) %>
                  <%= link_to_function 'Read more', "$(this).parent().html('#{escape_javascript current_comment.body}')", class: 'colored-link' %>
                <% else %>
                  <%= current_comment.body %>
                <% end %>
            </div>
          </p>
          <p>
            <span id="comment_<%= current_comment.id %>_comment_count"><%= render 'activities/comment_count', comment: current_comment %></span> <%= link_to "javascript:void(0);" do %>
              <i class="msgIcon" onclick="showComments('<%= current_comment.class.to_s %>','<%= current_comment.id %>')"></i>
            <% end %> <span style="float:right;"><%= local_time_ago(current_comment.created_at) %></span>
          </p>
        </div>
      </div>
    </div>
  </div><hr style="style-six"/>

  <div class="nest" id="<%= current_comment.class.to_s %>-<%= current_comment.id %>",  style="display: none">
    <div id="comments-<%= current_comment.id %>-<%= current_comment.class.to_s %>">
      <% child_comments.each { |parent_comment| %>
        <%= render 'shared/show_comment', comment: parent_comment, commentable: current_comment.commentable, user: user %>
      <% } if child_comments.present? %>
    </div>
    <div id="comment-<%= current_comment.id %>-<%= current_comment.class %>" style=" margin-top: 10px;"><%= render 'shared/post_comment', parent_id: current_comment.id, commentable: current_comment.commentable, user: user %></div>
  </div>
<% }  %>

<script type="text/javascript">
	$(".colored-link.show-comments").on('click', function() {
    var comment = document.getElementByClassName(".postBx").find(".nest");
    comment.style.display = ((comment.style.display != 'block') ? 'block' : 'none');
});
</script>
