<div class="row">
  <div class="col-md-8">
	<img src="">
	<H3>Hey,</H3>
	<h5>Thanks for your interest in getfitgo. We are currently a beta site,testing out key flows and are open by invitation only.</h5>

  <h5>We are glad to have users like you interested in checking out and using our platform. Please share your email ID below and we’ll send you an invitation as soon as we are ready.</h5>
  <input></input>
</div>
  <div class="col-md-4">
  <span>
  	<img src="placeholder.jpg">
  </span>
	
  </div>
</div>