<%= form_for @corporate do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.file_field :photo%>
  <%= f.label :message %>
  <%= f.text_area :message %>
  <%= f.label :start_date %>
  <%= f.date_field :start_date %>
  <%= f.label :end_date %>
  <%= f.date_field :end_date %>
  <%= f.label :max_employees %>
  <%= f.number_field :max_employees %>
  <%= f.text_area :members %>
  <%= f.submit "Create Corporate" %>
<% end %>