<% invitations_left = current_user.invitation_limit %>
<% content_for :title, 'Invite Gmail contacts' %>

<div class="widgetBx" style="margin-bottom: 10px;">
  <div class="widgetTitle">
    <span class="brand">Invite friends to <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span> (<%= invitations_left %> invitations left)</span>
    <div class="CL"></div>
  </div>
  <div class="widgetCnt" style="position:relative;">
    <div class="">
     <!--<button class="btn btn-info" rel="tooltip" title="Invite friends by email"><i class="fa fa-envelope fa-2x"></i></button>-->
     <!-- <a href="/contacts/gmail" class="cs_import btn btn-warning" rel="tooltip" title="Invite friends from address book"><i class="fa fa-book fa-2x"></i></a> -->
     <!-- <button class="btn btn-facebook" rel="tooltip" title="Invite Facebook friends" onclick="Login()"><i class="fa fa-facebook fa-2x"></i></button> -->
     <!-- <button class="btn btn-google-plus" rel="tooltip" title="Invite Google+ friends"><i class="fa fa-google-plus fa-2x"></i></button> -->
    </div>

    <div class="" style="margin-left: 18px;">
      <div class="row">
        <h5><strong>Invite friends via <a href="/users/invitation/new" class="cs_import colored-link">email</a> or fetch Gmail Contacts</strong></h5>
        <h6><em>We never share your data with third party accounts or send promotional emails to your contacts.</em></h6>
      </div>
      <div class="">
        <%= form_tag batch_invite_path, :method => :post do %>
          <div class="">
            <h4>
              <div class="row">
                <div class="col-xs-12">
                  <div class="col-xs-offset-3 col-xs-3"></div>
                  <div class="col-xs-6"></div>
                </div>
              </div>
              <% @contacts.each do |contact| %>
                <% if contact[:email] %>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="col-xs-offset-3 col-xs-3">
                        <%= check_box_tag 'user_emails[]', "#{contact[:email]}" -%> <%= contact[:name] %>
                      </div>
                      <div class="col-xs-6">
                        <em><%= contact[:email] %></em>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </h4>

            <div class="FR">
              <%= submit_tag "Send Invites", :class => 'btn-branding btn' %>
            </div>
            <div class="CL"></div>
          </div>
        <% end %>
      </div>
      <div class="CL"></div>
    </div>

    <div class="altGrBx">
      <span class="blueTxt">
        <% if current_user.has_invitations_left? %>
          Invite friends and earn a referral bonus of 50 points once they join you on <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span>!
        <% else %>
          You will earn a referral bonus of 50 points for each invited friend who joins you on <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span>! The points will automatically reflect in your Dashboard.
        <% end %>
    </div>
  </div>
</div>

<!-- # TODO: Put into custom.js -->
<script>
  // $('input[type="checkbox"]').click(function () {
  //   if($("input:checkbox:checked").length >= invitations_left) {
  //     console.log('hi');
  //   }
  // }
</script>
