<div class="widgetBx" id="survey">
  <!-- <div class="widgetTitle">
    <span style="margin-top: 5px;">
      <span class="brand"><%= @survey.name %></span>
    </span>
    <span class="FR greyTxt">
    </span>
  <div class="CL"></div>
  </div> -->
  <div class="widgetCnt" style="position:relative;">
    <h4 style="color: #00c8c8;"><%= image_tag '/ActiveQuotient.png' %> <strong class="hidden-xs">Your ActiveQuotient</strong> <strong class="hidden-md hidden-lg hidden-sm">ActiveQuotient</strong>
       <span class="hidden-xs hidden-sm" style="float: right; font-size: 75%;"><a class="colored-link" href="javascript:void(0);" data-id="survey" onclick="nextTab('#tab'); $('#' + $(this).data('id')).toggle();">Skip>></a></span>
    </h4>
    <hr class="style-six"/>
    <%#= image_tag("/lifestyle.png",style:"float:left;") %>
    <h4 style="text-align:left;">The lifestyle risk assessment survey helps our experts understand your lifestyle better and recommend personal goals and tips to you on an ongoing basis.</h4>
    <br>
    <%= form_for @attempt ,url: questionnaires_attempt_path(@attempt),remote: true do |f| %>
      <%= render 'questionnaires/attempts/form',f: f %>
    <% end -%>
    <div class="CL"></div>
  </div>
</div>
