
<ul>
  <% @unanswered_questions.each_with_index do |question, index| %>
  <li><%= question.text %>
    <h5 style="text-align:left;"></h5>
    <%= hidden_field_tag "survey_attempt[answers_attributes][#{index}][question_id]", question.id %>
    <% if question.has_one_option %>
    <ul class="question_check">
      <% question.options.each do |option| %>
      <li>
        <%= radio_button_tag "survey_attempt[answers_attributes][#{index}][option_id][]", option.id,false, class: "radio" %>
        <%= label_tag "survey_attempt[answers_attributes][#{index}][option_id][]", option.text %>
      </li>

      <% end %>
    </ul>
    <% else %>


    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->

      <div class="carousel-inner hidden-xs hidden-sm">

        <% question.options.each_slice(5).with_index do |(x, y, z, a, b), i| %>

        <div class='row item <%= "active" if i == 0%>'>
          <div class="col-xs-1"></div>
          <div class="col-xs-2 hidecheck">
            <% if x != nil %>
            <%= check_box_tag "survey_attempt[answers_attributes][0][option_id][]", x.id,false, id: "#{5*i}" %>
            <%= label_tag "#{5*i}", image_tag("/#{x.text.downcase}.png") + x.text %>
            <% end %>
          </div>
          <div class="col-xs-2 hidecheck">
            <% if y != nil %>
            <%= check_box_tag "survey_attempt[answers_attributes][0][option_id][]", y.id, false, id: "#{5*i + 1}" %>
            <%= label_tag "#{5*i + 1}", image_tag("/#{y.text.downcase}.png") + y.text %>
            <% end %>
          </div>
          <div class="col-xs-2 hidecheck">
            <% if z != nil %>
            <%= check_box_tag "survey_attempt[answers_attributes][0][option_id][]", z.id, false, id: "#{5*i + 2}" %>
            <%= label_tag "#{5*i + 2}", image_tag("/#{z.text.downcase}.png") + z.text %>
            <% end %>
          </div>
          <div class="col-xs-2 hidecheck">
            <% if a != nil %>
            <%= check_box_tag "survey_attempt[answers_attributes][0][option_id][]", a.id,false, id: "#{5*i + 3}" %>
            <%= label_tag "#{5*i + 3}",image_tag("/#{a.text.downcase}.png") + a.text %>
            <% end %>
          </div>
          <div class="col-xs-2 hidecheck">
            <% if b != nil %>
            <%= check_box_tag "survey_attempt[answers_attributes][0][option_id][]", b.id, false, id: "#{5*i + 4}" %>
            <%= label_tag "#{5*i + 4}",image_tag("/#{b.text.downcase}.png") + b.text %>
            <% end %>
          </div>
          <div class="col-xs-1"></div>

        </div>
        <% end %>
      </div>

      <div class="carousel-inner hidden-md hidden-lg">

        <% question.options.each_slice(3).with_index do |(x, y, z), i| %>

        <div class='row item <%= "active" if i == 0%>'>
          <div class="col-xs-4 hidecheck">
            <% if x != nil %>
            <%= check_box_tag "survey_attempt[answers_attributes][0][option_id][]", x.id,false, id: "#{3*i}" %>
            <%= label_tag "#{3*i}", image_tag("/#{x.text.downcase}.png") + x.text %>
            <% end %>
          </div>
          <div class="col-xs-4 hidecheck">
            <% if y != nil %>
            <%= check_box_tag "survey_attempt[answers_attributes][0][option_id][]", y.id, false, id: "#{3*i + 1}" %>
            <%= label_tag "#{3*i + 1}", image_tag("/#{y.text.downcase}.png") + y.text %>
            <% end %>
          </div>
          <div class="col-xs-3 hidecheck">
            <% if z != nil %>
            <%= check_box_tag "survey_attempt[answers_attributes][0][option_id][]", z.id, false, id: "#{3*i + 2}" %>
            <%= label_tag "#{3*i + 2}", image_tag("/#{z.text.downcase}.png") + z.text %>
            <% end %>
          </div>
          <div class="col-xs-1"></div>

        </div>
        <% end %>
      </div>
    
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev" style="width:30px;">‹</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
    </div>

    <% end %>
  </li>
  <% end -%>
</ul>
<div class="row" style="padding-top: 2em;">
  <div class="col-md-1" style="margin-top: 0.3em;">
    <span>
  <%= @unanswered_questions.first.id - Survey::Survey.first.questions.sort.first.id + 1 %>/<%= Survey::Survey.first.questions.count %> </span>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-3">
     <%= f.submit "Next", class: "btn btn-branding", style: "float: right" %>
  </div>

   <div class="col-md-5"></div>

</div>


