<% if current_user.fitness %>
<% current_user.fitness.number_of_stars.times do %>
<img src="/images/star-active.png" width="80" height="80" alt="">
<% end %>
<% (5-current_user.fitness.number_of_stars).times do %>
<img src="/images/star-inactive.png" width="80" height="80" alt="">
<% end %>

<% else %>
<%= link_to "Lifestyle Survey",edit_user_registration_path(current_user),style: "font-size:80%;color:orange;" %>
<% end %>
