<div class="widgetBx" id="survey">
  <!-- <div class="widgetTitle">
    <span style="margin-top: 5px;">
      <span class="brand" style="color:#00c8c8">YOUR ACTIVE QUOTIENT</span>
    </span>
    <span class="FR greyTxt">

    </span>
    <div class="CL"></div>
  </div> -->
  <div class="widgetCnt" style="position:relative;">
    <h4 style="color: #00c8c8;"><%= image_tag '/ActiveQuotient.png' %> <strong class="hidden-xs hidden-sm">Your ActiveQuotient</strong><strong class="hidden-md hidden-lg">ActiveQuotient</strong>
    </h4>
    <hr class="style-six">

    <div class="hidden-xs" style="text-align:left;font-size: 1.2em;margin-bottom: 1em;">You have completed the ACTIVEQUOTIENT Lifestyle Profiling survey. Our expert Coaches will now be able to recommend your Training programs and provide personalised insights & feedback to help you #feelgoodnow
    </div>
    <div class="hidden-md hidden-lg" style="text-align:left;font-size: 1.2em;margin-bottom: 1em;">You have completed the ACTIVEQUOTIENT Lifestyle Profiling survey.
    </div>

    <div style="text-align:left;font-size: 1.2em;margin-bottom: 1em;">
      <br>
      Your ACTIVEQUOTIENT: <%= current_user.fitness.name %>
      <% current_user.fitness.number_of_stars.times do %>
        <i class="fa fa-star success"  width="8"></i>
      <% end %>
      <% (5-current_user.fitness.number_of_stars).times do %>
        <i class="fa fa-star fail"  width="8"></i>
      <% end %>
    </div>
    <br>
    <span>
      Survey completed on <%= Survey::Attempt.all.find_by_participant_id(current_user.id).answers.order("updated_at").last.updated_at.strftime("%a %b #{Survey::Attempt.all.find_by_participant_id(current_user.id).answers.order("updated_at").last.updated_at.day.ordinalize}")  %>
    </span>

    </br><br>
    <div class="row">
      <div class="col-md-3">
        <%= image_tag("/lifestyle_man.png") %>
      </div>
      <div id="fitness-description" class="col-md-9" style="background-color:#e1e1e1;padding:2%;text-align:left;"><%= current_user.fitness.description %></div>
    </div>
    <div class="CL"></div>
  </div>
</div>
