$(".tab-content .active").removeClass("active")
$("li.active").removeClass("active")
$("#survey-link").parent().addClass("active")
$("#survey").addClass("active in")
$("#survey").html("<%= escape_javascript(render 'new') %>")
$("#update_profile_survey").html("<%= escape_javascript(render 'new') %>")


