$(".tab-content .active").removeClass("active")
$("#tab li.active").removeClass("in.active")
$("#survey-link").parent().addClass("active")
$("#survey").addClass("active in")
$("#survey").html("<%= escape_javascript(render 'thank_you')%>")
$("#fitness").html("<%= escape_javascript(render 'lifestyle_rating')%>")
