<% content_for(:title, 'The Personal & Social way to Good Health') %>

<div id="login-first-section" style="text-align: center;color: white; font-size: 125%;">
  <!-- <h1 style="color: white;">
    <strong style="font-size: 150%">getfitgo is the social and personal way to good health</strong>
  </h1> -->

  <!-- <div class="FL" style="color: white; margin-top:270px;">
    <h1>
      <strong style="font-size: 150%"> #feelgoodnow <span style="color:white"></span></strong>
    </h1>
  </div> -->
  <div class="push-middle"></div>
  <div class="col-xs-12 col-md-offset-4 col-md-4">
    <div class="widgetBx">
      <div class="altGrBx social title" style="margin-bottom: 0px !important; text-align: justify;">
        <h4 style="color: #00c8c8;"><strong>Sign In</strong></h4>
        <div class="CL"></div>
      </div>
      <div class="widgetCnt" style="background: rgba(100, 100, 100, 0.75);">
        <div class="col-xs-12">
          <%= devise_error_messages! %>

          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), class: 'row') do |f| %>

            <div class="row">
              <div class="col-xs-3 hidden-xs"  style="padding-top: 5px; text-align: left">
                <%= f.label :email %>
              </div>
              <div class="col-md-9 col-xs-12">
                <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email" %>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-3 hidden-xs" style="padding-top: 5px; text-align: left">
                <%= f.label :password, :minlength => 8 %>
              </div>
              <div class="col-md-9 col-xs-12">
                <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
              </div>
            </div>

            <div class="row">
              <% if devise_mapping.rememberable? -%>
              <div class="col-xs-8">
                <div class="row" style="margin-top: 2px;">
                  <div class="col-md-2 col-xs-2">
                    <%= f.check_box :remember_me %>
                  </div>
                  <div class="col-xs-9" style="text-align: left !important; margin-top: -8px; padding-left: 0px;">
                    <%= f.label :keep_me_signed_in, 'Keep me Signed In', :class => "hidden-xs" %>
                    <%= f.label :keep_me_signed_in, 'Remember', :class => "hidden-sm hidden-md hidden-lg" %>
                  </div>
                </div>
              </div>
              <%= f.submit "Sign in", class: "btn-branding btn col-md-3 hidden-xs", style: "padding-left: 10px; float: right; margin-right: 15px;" %>
              <div class="col-xs-12">
              <div class="col-xs-4"></div>
              <%= f.submit "Sign in", class: "btn-branding btn col-xs-4 hidden-sm hidden-md hidden-lg" %></div>
              
              <% end -%>
            </div>
            <br/>
            <div class="row">
              <div class="col-xs-offset-1 col-xs-6 hidden-xs" style='text-align: left; padding-left: 10px;'>
                <%= link_to "Forgot password?", new_password_path(resource_name), style: "color: white;" %>
              </div>
              <div class="col-xs-8 hidden-md hidden-lg hidden-sm" style='text-align: left; padding-left: 1em;'>
                <%= link_to "Forgot password?", new_password_path(resource_name), style: "color: white;" %>
              </div>
              <!-- <div class="col-login_bottomxs-6" style='text-align: right; padding-right: 30px;'>
                <div class="row replace">
                  <a href='#'>New to getfitgo?<br/><br/></a>
                </div>
                <%#= link_to "Sign up", new_registration_path(resource_name) %>
              </div> -->
              <!-- <div class="col-xs-4" style='float: right'>
                <%= link_to "Resend confirmation email", new_confirmation_path(resource_name) %>
              </div> -->
            </div>
          <% end %>
        </div>
        <div class="CL"></div>
        <br/>
        <hr class="style-six"/>
        <div class="altGrBx social" style="text-align: center">
          <div class=" col-xs-12">
            <div class="col-md-6 hidden-xs" style="margin-top: 12px;font-size: 125%;">
              or Sign In using
            </div>
            <div class="col-xs-10 hidden-md hidden-sm hidden-lg" style="padding-bottom: 5%;">or Sign In using</div>
            <div class="col-md-6 col-xs-10">
              <% [[:facebook, 'facebook'], [:google_oauth2, 'googleplus']].each { |provider| %>
                <% session[:omniauth_callback_url] = request.original_fullpath %>
                <%= link_to "/auth/#{provider[0]}" do %>
                  <%= image_tag "/#{provider[1]}.png", style: "margin-left: 10px;" %>
                <% end %>
              <% } %>
            </div>
            <div class="CL"></div>
          </div>
          <div class="CL"></div>
        </div>
      </div>
    </div><br/>
    <div id="request-invite">
      <div class="widgetCnt" style="background: rgba(100, 100, 100, 0.75);">
          We are currently in Private Beta. <strong onclick="requestInvite();" style="color: #00c8c8;cursor: pointer;">Request Invite</strong>
      </div>
    </div>
    <div id="request-invite-email" style="display: none">
      <button type="button" class="close" onclick="requestInviteClose('request-invite-email');" style="background: #646464;border: 1px solid white; border-radius: 50%; padding-left: 5px; padding-right: 5px;">&times;</button>
      <div class="widgetCnt" style="background: rgba(100, 100, 100, 0.75);">
        <div class="col-xs-12">
          <%= form_for(User.new, :as => 'user', :url => request_invite_path, remote: true) do |f| %>
            <div class="row">
              <div class="col-xs-3"  style="padding-top: 5px; text-align: left; padding-right: 0px;">
                <%= f.label :email, 'Your Email' %>
              </div>
              <div class="col-xs-9">
                <%= f.email_field :email, :class => "form-control" %>
              </div>
            </div>
            <div class="row">
              <%= f.submit "Request Invite", class: "btn-branding btn col-xs-offset-4 col-xs-4" %>
            </div>
          <% end %>
          <div class="FR">
            No spam. Promise
          </div>
          <div class="CL"></div>
        </div>
        <div class="CL"></div>
      </div>
    </div>
    <div id="request-invite-accepted" style="display: none;">
      <button type="button" class="close" onclick="requestInviteClose('request-invite-accepted');" style="background: #646464;border: 1px solid white; border-radius: 50%; padding-left: 5px; padding-right: 5px;">&times;</button>
      <div class="widgetCnt" style="background: rgba(100, 100, 100, 0.75);">
          <p>Thanks. Feels greats to see people wanting to test drive us. We'll ping you when we are ready to get more people to <span style="color: #faaf00;">#</span>feelgoodnow</p>
          <div class="altGrBx social">
            <div class=" col-xs-12">
              <div class="FL" style="margin-top: 12px;">
                Till then, catch us on
              </div>
              <div class="FR">
                <% [['https://www.facebook.com/getfitgo', 'facebook'], ['https://twitter.com/getfitgo123', 'twitter'], ['http://getfitgo.in', 'rss']].each { |provider| %>
                <%= link_to provider[0], target: '_blank' do %>
                  <%= image_tag "/#{provider[1]}.png", style: "margin-left: 10px;" %>
                <% end %>
                <% } %>
              </div>
              <div class="CL"></div>
            </div>
            <div class="CL"></div>
          </div>
      </div>
    </div>
  </div>
  <div class="CL"></div>
</div>
<div class="CL"></div>
<div class="push-login"></div>
<%= render 'devise/shared/login_bottom' %>
