<% content_for :title, 'Sign Up' %>

<div id="sign-up-first-section" style="text-align: center;color: white; font-size: 125%;">
  <h3 style="color: white; text-align: center;">
    <strong style="font-size: 150%">Welcome to <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span></strong>
  </h3>

  <div class="push-middle"></div>
  <!-- <div class="FL" style="color: white; margin-top:250px;">
    <h6><%= link_to 'The Key to Your Success', 'https://www.flickr.com/photos/clearlyambiguous/96998932', class: 'colored-link' %> by Scott Robinson / <%= link_to 'CC BY', 'http://creativecommons.org/licenses/by/2.0/', class: 'colored-link' %></h6>
  </div> -->
  <div class="col-xs-offset-3 col-xs-6" id="sign_up_mobile">
    <div class="widgetBx" >
      <div class="altGrBx social title" style="margin-bottom: 0px !important; text-align: center;">
        <h4 style="color: #00c8c8;"><strong>Sign up using your Social Network or create an account</strong></h4>
        <div class="CL"></div>
      </div>
      <div class="widgetCnt" style="background: rgba(100, 100, 100, 0.75);">
        <div class="col-md-12">
          <div class="col-md-4 col-xs-12">
            <div id="social_network_sign_up"style="text-align: center; padding-top: 50px; border-right:1px solid white;height:180px;">
              <% [[:facebook, 'facebook'], [:google_oauth2, 'googleplus']].each { |provider| %>
                <% session[:omniauth_callback_url] = request.original_fullpath %>
                <%= link_to "/auth/#{provider[0]}" do %>
                  <%= image_tag "/#{provider[1]}-large.png", size: '50x50', style: "margin-right: 10px; margin-top: 10px;" %>
                <% end %>
              <% } %>
              <!-- <div style="border: 1px solid #e1e1e1; border-radius: 50%;">OR</div> -->
            </div>
            <div class="CL"></div>
          </div>
          <div class="col-md-8 col-xs-12">
            <%= devise_error_messages! %>

            <%= form_for(resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :put}) do |f| %>
            <%= f.hidden_field :invitation_token %>

            <div class="row">
              <div class="col-md-3 hidden-xs" style="padding-top: 5px; text-align: left;">
                <%= f.label :email %>
              </div>
              <div class="col-md-9 col-xs-12">
                <%= f.text_field :email, :class => "form-control", readonly: true,  placeholder: "Email" %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 hidden-xs" style="padding-top: 5px; text-align: left;">
                <%= f.label :name %>
              </div>
              <div class="col-md-9 col-xs-12">
                <%= f.text_field :user_name, :autofocus => true, :class => "form-control", placeholder: "Name" %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 hidden-xs" style="padding-top: 5px; text-align: left;">
                <%= f.label :password %>
              </div>
              <div class="input-group col-md-9 col-xs-12" style="padding-left: 15px; padding-right: 15px;">
              <span class="input-group-addon" style="width: 20px;"><i class="fa fa-key fa-fw" onmousedown="togglePassword(true)" onmouseout="togglePassword(false)"></i></span>
                <%= f.password_field :password, :class => 'form-control', placeholder: "Password" %>
              </div>
            </div>
            <br/>


          </div>
        </div>
        <div class="CL"></div>
        <div class="col-xs-12">
          <div class="col-md-6 col-xs-12" id="accept_terms_and_conditions">
              <div class="row" style="margin-top: 10px;">
                <div class="col-xs-1" style="text-align: left;">
                  <input id= 'tnc' type="checkbox" onclick="toggleSubmit(checked)">
                </div>
                <div class="col-xs-10" style="text-align: left; margin-top: -8px;padding-left: 0px;white-space: nowrap">
                  <label style="float: left;">
                    I accept the <a href="/terms_and_conditions" class="colored-link">Terms and Conditions</a>
                  </label>
                </div>
              </div>
            </div>
            <div class="FR" style="padding-right: 14px;">
              <div class="row">
                <div class="col-xs-4" id="submit_signup">
                  <%= f.submit t("devise.invitations.edit.submit_button"), :class => 'btn-branding btn', onclick: "checkTnC()", id: 'create_account', disabled: true %>
                </div>
              </div>
            </div>
          </div>
        <div class="CL"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="CL"></div>
<div class="push-login"></div>
<h6 id="tnc_message" style="color: white; text-align: left; padding-top: 100px;">
  <strong>By logging in using Facebook, Google Plus, you are accepting <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span>’s User agreement and <a href='/terms_and_conditions' target="_blank" class="colored-link">Terms and Conditions</a>.</strong>
</h4>

<!-- <div class="row login-bottom" style="text-align: justify;">
  <div class="widgetBx">
    <div class="widgetTitle">
      <span>How does getgitgo work?</span>
      <div class="CL"></div>
    </div>
    <div class="widgetCnt" style="position:relative;">
      <h4>
        <ul class="col-xs-offset-3">
          <li>
            <i class=""></i> <strong>Get familiar with <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span>.</strong> Start a 7-day warm up.
          </li>
          <li>
            <i class=""></i> <strong>Track</strong> your fitness data with a <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span> tracker and update it on your personal dashboard.
          </li>
          <li>
            <i class=""></i> <strong>Get personal guidance</strong> and health & fitness tips from our professional trainers, who keep track of your fitness activity.
          </li>
          <li>
            <i class=""></i> <strong>Connect</strong> with your friends, get fitter together and
          </li>
          <li>
            <i class=""></i> <strong>Earn</strong> rewards and recognition along the way.
          </li>

        </ul>
        <div style="text-align: center">
          Make fitness a habit, not a boring routine activity!
        </div>
      </h4>
    </div>
  </div>
</div> -->
