<% invitations_left = current_user.invitation_limit %>
<div class="widgetBx" style="margin-bottom: 10px;">
  <div class="widgetTitle">
    <span class="brand">Invite friends to <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span> (<%= invitations_left %> invitations left)</span>
    <div class="CL"></div>
  </div>
  <div class="widgetCnt" style="position:relative;">
    <div class="">
     <!--<button class="btn btn-info" rel="tooltip" title="Invite friends by email"><i class="fa fa-envelope fa-2x"></i></button>-->
     <!-- <a href="/contacts/gmail" class="cs_import btn btn-warning" rel="tooltip" title="Invite friends from address book"><i class="fa fa-book fa-2x"></i></a> -->
     <!-- <button class="btn btn-facebook" rel="tooltip" title="Invite Facebook friends" onclick="Login()"><i class="fa fa-facebook fa-2x"></i></button> -->
     <!-- <button class="btn btn-google-plus" rel="tooltip" title="Invite Google+ friends"><i class="fa fa-google-plus fa-2x"></i></button> -->
    </div>

    <div class="" style="margin-left: 18px;">
      <div class="row">
        <h5><strong>Invite friends via email or fetch <a href="/contacts/gmail" class="cs_import colored-link">Gmail Contacts</a></strong></h5>
        <h6><em>We never share your data with third party accounts or send promotional emails to your contacts.</em></h6>
      </div>
      <div class="">
        <%= form_tag batch_invite_path, :method => :post do %>
          <div>
            <%= text_area_tag :user_emails, nil, id: "contact_list", :class => 'form-control', :size => '20x5', :placeholder => "You can invite #{invitations_left} friends to getfitgo." %>
          </div>

          <div class="FR" onclick="checkInvitesLeft()">
          <%= submit_tag "Send Invites", :class => 'btn-branding btn', 'data-invites'.to_sym => invitations_left %>
          </div>
        <% end %>
      </div>
      <div class="CL"></div>
    </div>

    <div class="altGrBx">
      <span class="blueTxt">
        <% if current_user.has_invitations_left? %>
          Invite friends and earn a referral bonus of 50 points once they join you on <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span>!
        <% else %>
          You will earn a referral bonus of 50 points for each invited friend who joins you on <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span>! The points will automatically reflect in your Dashboard.
        <% end %>
    </div>
  </div>
</div>

<!-- This textarea will be populated with the contacts returned by CloudSponge -->
<!-- <textarea id="contact_list" style="width:450px;height:82px"></textarea>
 -->
<!-- Set your options, including the domain_key -->
<script type="text/javascript">
  // these values will hold the owner information
  // these values will hold the owner information
  var owner_email, owner_first_name, owner_last_name;
  var appendInTextarea = false;  // whether to append to existing contacts in the textarea
  var emailSep = ", ";  // email address separator to use in textarea
  function populateTextarea(contacts, source, owner) {
    var contact, name, email, entry;
    var emails = [];
    var textarea = document.getElementById('contact_list');

    // preserve the original value in the textarea
    if (appendInTextarea && textarea.value.strip().length > 0) {
      emails = textarea.value.split(emailSep);
    }

    // format each email address properly
    for (var i = 0; i < contacts.length; i++) {
      contact = contacts[i];
      name = contact.fullName();
      email = contact.selectedEmail();
      entry = email;
      if (emails.indexOf(entry) < 0) {
        emails.push(entry);
      }
    }
    // dump everything into the textarea
    textarea.value = emails.join(emailSep);

  }
  var csPageOptions = {
    domain_key: '4UYBPBNEL2JWDP7HCNPS',
    textarea_id: "contact_list",
    afterSubmitContacts: populateTextarea
  };
</script>

<!-- Include the script at the end of the body section -->
<!-- <script type="text/javascript" src="//api.cloudsponge.com/address_books.js"></script>
 -->
