<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_tag batch_invite_path, :method => :post do %>
  <%= hidden_field_tag :invited_to_team_id, resource.invited_to_team_id %>
  <%= label_tag "Email ids of people you'd like to invite." %>
  <%= text_area_tag :user_emails, nil, id: "contact_list", :size => "40x6" %></p>
  <%= submit_tag "Invite!" %>
<% end %>
<button onclick="Login()">Invite facebook friends</button>
<!-- Any link with a class="cs_import" will start the import process -->
<a class="cs_import">Add from Address Book</a>

<!-- This textarea will be populated with the contacts returned by CloudSponge -->
<!-- <textarea id="contact_list" style="width:450px;height:82px"></textarea>
 -->
<!-- Set your options, including the domain_key -->
<script type="text/javascript">
  // these values will hold the owner information
  // these values will hold the owner information
  var owner_email, owner_first_name, owner_last_name;
  var appendInTextarea = false;  // whether to append to existing contacts in the textarea
  var emailSep = ", ";  // email address separator to use in textarea
  function populateTextarea(contacts, source, owner) {
    var contact, name, email, entry;
    var emails = [];
    var textarea = document.getElementById('contact_list');

    // preserve the original value in the textarea
    if (appendInTextarea && textarea.value.strip().length > 0) {
      emails = textarea.value.split(emailSep);
    }

    // format each email address properly
    for (var i = 0; i < contacts.length; i++) {
      contact = contacts[i];
      name = contact.fullName();
      email = contact.selectedEmail();
      entry = email;
      if (emails.indexOf(entry) < 0) {
        emails.push(entry);
      }
    }
    // dump everything into the textarea
    textarea.value = emails.join(emailSep);

  }
  var csPageOptions = {
    domain_key: '2ZKJ25TC4BRQSG4DPTPU',
    textarea_id: "contact_list",
    afterSubmitContacts: populateTextarea
  };
</script>

<!-- Include the script at the end of the body section -->
<script type="text/javascript" src="//api.cloudsponge.com/address_books.js"></script>
