<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>You have a connection request on getfitgo.</title>
  <style type="text/css">
  @import: url(http://alpha.getfitgo.in/fonts/flexo-regular-webfont.woff);
  @import: url(alpha.getfitgo.in/fonts/flexo-thin-webfont.woff);
  @import: url(alpha.getfitgo.in/fonts/flexo-demi-webfont.woff);
  @font-face {
  font-family: 'Flexo';
  src: url('alpha.getfitgo.in/fonts/flexo-demi-webfont.woff') format('woff'),
       url('alpha.getfitgo.in/fonts/flexo-thin-webfont.woff') format('woff');
}
    body{ margin:0px; padding:0px; font-size:12px; font-family:Flexo,Fallback,sans-serif; font-variant: Flexo Thin; }
    p{ margin:0px; padding:0px; color: #64646; }
  </style>
</head>

  <body>
    <table width="700px" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" valign="top" style="padding:0 50px;"><img src="<%= ENV["HOST"] %>/mail1/get-logo.jpg" width="185" height="93" alt="" style="vertical-align:middle; margin-right:20px;" /><span style="font-size:24px; color:#9fa4a4; vertical-align:middle;"><%= User.confirmed_users.count%> members</span></td>
  </tr>
  <tr>
    <td align="left" valign="top" style="background-color:#006464; padding:0 50px 50px; color:#FFF;"><table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="right" valign="top" style="padding:10px 0px;"><%= Time.now.to_date %></td>
      </tr>
      <tr>
        <td align="left" valign="top" style="background-color:#FFF; font-size:14px; color:#646464; padding:20px 0px;"><table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>

            <td width="168" align="left" valign="top"><img src="<%= ENV["HOST"] %>/mail1/view-img.jpg" width="168" height="101" alt="" /></td>
            <td width="432" align="left" valign="top" style="padding-right:60px;"><p style="font-size:24px; font-weight:bold; color:#009696;">Hi <%= @user.user_name %></p><br/>
               For reasons not fully known to us, there was an Authentication error while trying to sync data from your Fitbit account. For now, we have disconnected Fitbit from your getfitgo account. All your old data remains intact. Please <%= link_to "login", ENV['HOST'] + "/users/edit#devices" %> and connect your Fitbit account again to get the sync going again Connect with your fitbit account. 
            </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="left" valign="top" height="10"></td>
      </tr>
      <tr>
        
      <tr>
        <td align="center" valign="top" style="padding-top:50px; color: black;"><p>Apologies for the inconvenience caused<br />
          <p>In case you have any queries, please reach out to us at <%= link_to "http://support.getfitgo.in","http://support.getfitgo.in"%></p>
 
            <p>&nbsp;</p>
          <p>Happy #feelgoodnow<br />
            Team getfitgo</p>

          <p></p></td>
      </tr>
    </table></td>
  </tr>
</table>

 
  </body>
</html>
