<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>You have a connection request on getfitgo.</title>
  <style type="text/css">
  @import: url(http://alpha.getfitgo.in/fonts/flexo-regular-webfont.woff);
  @import: url(alpha.getfitgo.in/fonts/flexo-thin-webfont.woff);
  @import: url(alpha.getfitgo.in/fonts/flexo-demi-webfont.woff);
  @font-face {
  font-family: 'Flexo';
  src: url('alpha.getfitgo.in/fonts/flexo-demi-webfont.woff') format('woff'),
       url('alpha.getfitgo.in/fonts/flexo-thin-webfont.woff') format('woff');
}
    body{ margin:0px; padding:0px; font-size:12px; font-family:Flexo,Fallback,sans-serif; font-variant: Flexo Thin; }
    p{ margin:0px; padding:0px; color: #64646; }
  </style>
</head>

<body>
  <table width="700" border="0" align="center" cellpadding="0" cellspacing="0">

    <tr>
      <td align="left" valign="top" style="background-color:#006464; padding:0 50px 50px; color:#FFF;"><table width="600" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="right" valign="top" style="padding:10px 0px;"></td>
        </tr>

        <tr><td><p style="font-size:24px; font-weight:bold; background: #fff; color:#009696;font-variant: Flexo Demi; ">Hi <%= @friendship.user.user_name %></p></td></tr>
        <tr>
          <td align="left" valign="top" style="background-color:#FFF; font-size:12px; color:#646464; padding:20px 0px;"><table width="600" border="0" cellspacing="0" cellpadding="0">


            <tr>
              <td  align="left" valign="top" style="text-align: justify;font-size: 12px;">
          <td width="45%" align="center" valign="top"><%= link_to avatar_email(@friendship.friend), ENV['HOST'] + "/users/" + @friendship.friend.id.to_s%></td>
            <td width="55%" align="left" valign="top">
            <p><%= link_to @friendship.friend.user_name, ENV['HOST'] + "/users/" + @friendship.friend.id.to_s %> has accepted your friend request.</p>
                <p>&nbsp;</p>


              </td></td>
            </tr>
          </table></td>
        </tr>
      <tr><td align="left" valign="top" style="background: #fff; color: #646464; padding: 10px;"><table width="100%">
                <p>&nbsp;</p>
                <p>getfitgo encourages people with common goals and interests to connect with each other towards motivating one another on the wellness journey. We believe that the road to #feelgoodnow is best treaded together.</p><br/>
                <p style="font-variant: Flexo Demi;">You can view your profile <%= link_to "here",ENV['HOST'] + "/users/" + @friendship.user.id.to_s%>.</p>
                <p>&nbsp;</p>
                <p>Team getfitgo</p>
      </table>

      </td></tr>
        <tr>
          <td align="left" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0">
          </tr>
          <tr><td align="centre" style="background-color: #fff;color: #646464; padding: 20px;">
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="5">
              <p>&nbsp;</p>
              <p style="font-variant: Flexo Demi; color:#009696;"><strong><a href="http://getfitgo.in/" style="color: #009696;text-decoration: none;">getfitgo</a> - the Social and Personal way to Good Health</strong></p>
              <tr><td style="display: inline;"><span><a href="http://getfitgo.in/"><img src="https://s3-ap-southeast-1.amazonaws.com/getfitgo/images/mailer/getfitgo+logo.png"></a></span>
                <span style="float: right; margin-top: 2.8em;"><a href="https://www.facebook.com/getfitgo"><img src="https://s3-ap-southeast-1.amazonaws.com/getfitgo/images/mailer/facebook+icon.png" style="height:20px; width: 20px; margin-right: 5px;"></a><a href="https://twitter.com/getfitgo123"><img src="https://s3-ap-southeast-1.amazonaws.com/getfitgo/images/mailer/twitter+icon.png" style="height:20px; width: 20px; margin-right: 5px;"></a> <a href="mailto: hello@getfitgo.in"><img src="https://s3-ap-southeast-1.amazonaws.com/getfitgo/images/mailer/Email+icon.png" style="height:20px; width: 20px; margin-right: 5px;"></a><a href="http://support.getfitgo.in/"><img src="https://s3-ap-southeast-1.amazonaws.com/getfitgo/images/mailer/Support+Help+icon.png" style="height:20px; width: 20px; margin-right: 5px;"></a></span></td></tr>

              </table></td></tr>
            </table>

            <tr>
              <td align="center" valign="top" style="padding-top:50px;">
                <p>© getfitgo.in 2014. All rights reserved<br />
                  Mumbai 400 059</p>
                  <p>&nbsp;</p>
                  <p></p></td>
                </tr>
              </table></td>
            </tr>
          </table>
        </body>
        </html>
