<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
 @import: url(http://alpha.getfitgo.in/fonts/flexo-regular-webfont.woff);
  @import: url(alpha.getfitgo.in/fonts/flexo-thin-webfont.woff);
  @import: url(alpha.getfitgo.in/fonts/flexo-demi-webfont.woff);
  @font-face {
  font-family: 'Flexo';
  src: url('alpha.getfitgo.in/fonts/flexo-demi-webfont.woff') format('woff'),
       url('alpha.getfitgo.in/fonts/flexo-thin-webfont.woff') format('woff'); 
}
body{ margin:0px; padding:0px; font-size:12px; font-family:Flexo,Fallback,sans-serif; font-variant: Flexo Thin;}
p{ margin:0px; padding:0px; }
</style>
</head>

<body>
<table width="700px" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" valign="top" style="padding:0 50px;"><img src="<%= Rails.root %>/public/mail1/get-logo.jpg" width="185" height="93" alt="" style="vertical-align:middle; margin-right:20px;" /><span style="font-size:24px; color:#9fa4a4; vertical-align:middle;">1244 members</span></td>
  </tr>
  <tr>
    <td align="left" valign="top" style="background-color:#006464; padding:0 50px 50px; color:#FFF;"><table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="right" valign="top" style="padding:10px 0px;">26 MAR 2014</td>
      </tr>
      <tr>
        <td align="left" valign="top" style="background-color:#FFF; font-size:14px; color:#646464; padding:20px 10px;"><table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top" style="padding:10px 60px 10px 60px;"><p style="font-size:24px; font-weight:bold; color:#009696;"> Hi! <%=@user.user_name %> </p><br/>
            <p style="font-size: 14px;">Congratulations on joining getfitgo. You are about to start an exciting journey that makes getting fit & healthy fun and engaging. We promise this is going to exciting and fun all the way! </p>

<p style="font-size: 14px;">Since we are just meeting each other, you can find out more about us at www.getfitgo.in. We’d also love 

to know more about you. We encourage you to provide us more information about yourself so that our 

experts can understand you better and recommend personal tips and fitness and diet challenges that best</p></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="left" valign="top" height="10"></td>
      </tr>
      <tr>
        <td align="left" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="300px" align="left" valign="top" style="background-color:#FFF; color:#646464; padding:20px 10px; "><p style="padding-right:60px;"><p style="font-size:24px; font-weight:bold; color:#009696;">getfitgo is all about</p>
              <p>&nbsp;</p>
              <table width="100%" border="0" align="center" cellpadding="0" cellspacing="5">
                <tr>
                  <td width="87%" align="left" valign="top"><strong>Connecting</strong> with your friends, take up challenges together and track each others activities</td>
                  </tr>
                <tr>
                  <td align="left" valign="top">&nbsp;</td>
                  <td align="left" valign="top">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" valign="top"><strong>Tracking</strong> your daily activities with your getfitgo device and enter the details online. Earn extra points for entering your activity daily </td>
                  </tr>
                <tr>
                  <td align="left" valign="top">&nbsp;</td>
                  <td align="left" valign="top">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" valign="top"><strong>Enjoying</strong> the rewards and <br />
                    recognitions</td>
                  </tr>
              </table>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p><strong>It’s really easy! <br />
                You’ll find out as you get started</strong><br />
              </p>
              <p>&nbsp;</p>
              <p style="background:#faaf00; width:275px; padding:10px 0; text-align:center; border-radius:5px; color: #fff;">GET STARTED</p>
              <p>&nbsp; </p></td>
            <td width="300px" align="left" valign="top" style="padding:20px 10px; background-color:#e1e1e1; color:#646464;"><p style="font-size:16px; color:#009696; font-weight:bold;">Here’s how getfitgo works</p>
             <p>&nbsp;</p>
              <table width="100%" border="0" align="center" cellpadding="0" cellspacing="5">
                <tr>
                  <td width="85%" align="left" valign="top"><strong>A tracker</strong> –Don’t have a personal tracker? Email us at hello@getfitgo.in and we’ll help you get one.</td>
                  </tr>
                <tr>
                  <td align="left" valign="top">&nbsp;</td>
                  <td align="left" valign="top">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" valign="top"><strong>Warm up, get familiar,</strong> update your fitness activityon your personal getfitgo dashboard</td>
                  </tr>
                <tr>
                  <td align="left" valign="top">&nbsp;</td>
                  <td align="left" valign="top">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" valign="top"><strong>Update your profile</strong>- Help us know you better, getpersonal feedback and recommendations on fitness and diet from our experts
                  </tr>
              </table>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p style="background:#faaf00; width:275px; padding:10px 0; text-align:center; border-radius:5px; color: #fff;">UPDATE PROFILE</p>
              <p>&nbsp; </p></td>
        </table></td>
      </tr>
      <tr>
        <td align="center" valign="top" style="padding-top:50px;"><p>You are receiving this email because you are a member or getfitgo<br />
          This is an auto-generated email adress, please do not reply to this email.<br />
          Read our <a href="#." style="color:#007dfa; text-decoration:none;">Privacy Policy</a> here.</p>
          <p>&nbsp;</p>
          <p>© getfitgo.in 2014. All rights reserved<br />
            Andheri, Mumbai 400 005</p>
          <p>&nbsp;</p>
          <p>Wish to <a href="#." style="color:#007dfa; text-decoration:none;">Unsubscribe</a> from emails?, <a href="#." style="color:#007dfa; text-decoration:none;">click here</a><br />
            or Change your <a href="#." style="color:#007dfa; text-decoration:none;">notification settings</a></p>
          <p></p></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
