<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Daily Activity Update Reminder</title>
<style type="text/css">
 @import: url(http://alpha.getfitgo.in/fonts/flexo-regular-webfont.woff);
  @import: url(alpha.getfitgo.in/fonts/flexo-thin-webfont.woff);
  @import: url(alpha.getfitgo.in/fonts/flexo-demi-webfont.woff);
  @font-face {
  font-family: 'Flexo';
  src: url('alpha.getfitgo.in/fonts/flexo-demi-webfont.woff') format('woff'),
       url('alpha.getfitgo.in/fonts/flexo-thin-webfont.woff') format('woff');
}
body{ margin:0px; padding:0px; font-size:16px; font-family:Flexo,Fallback,sans-serif; font-variant: Flexo Thin;}
p{ margin:0px; padding:0px;  }
a{color: #fff; text-decoration: none;color: #646464;}
td{color: #646464;}
</style>
</head>

<body>
<table width="700px" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" valign="top" style="padding:0 50px;"><img src="<%= ENV["HOST"] %>/mail1/get-logo.jpg" width="185" height="93" alt="" style="vertical-align:middle; margin-right:20px;" /><span style="font-size:24px; color:#9fa4a4; vertical-align:middle;"><%= User.confirmed_users.count%> members</span></td>
  </tr>
  <tr>
    <td align="left" valign="top" style="background-color:#006464; padding:0 50px 50px; color:#FFF;"><table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="right" valign="top" style="padding:10px 0px;"><%= Time.now.to_date %></td>
      </tr>
      <tr>
        <td align="left" valign="top" style="background-color:#FFF; font-size:14px; color:#646464; padding:20px 0px;"><table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>

            <td width="168" align="left" valign="top"><img src="<%= ENV["HOST"] %>/mail1/view-img.jpg" width="168" height="101" alt="" /></td>
            <td width="432" align="left" valign="top" style="padding-right:60px;"><p style="font-size:24px; font-weight:bold; color:#009696;">Hi <%= @user.user_name %></p><br/>
              <p>Have you been carrying your personal getfitgo activity tracker with you? It captures your total steps and the calories burnt daily. Ensure to update your daily activity on getfitgo.</p><br/>

              <p style="background-color:#faaf00; width: 125px; color:#FFF; border:0px; padding:4px 8px; border-radius:3px; text-align: center; float: right"><%= link_to 'UPDATE ACTIVITY',  dashboard_url, style:"color:#fff; text-decoration:none;" %></p></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="left" valign="top" height="10"></td>
      </tr>
      <tr>
        <td align="left" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="351px" align="left" valign="top" style="background-color:#FFF; color:#646464; padding:20px; "><p style="padding-right:0px;"><p style="font-size:16px; font-weight:bold; color:#009696; margin-top: 1em;">Just follow these steps and update your activity
                            </p>
              <p>&nbsp;</p>
              <p></p>
              <table width="100%" border="0" align="center" cellpadding="0" cellspacing="5">
                <tr>

                <td width="13%" align="left" valign="top"><img src="<%= ENV["HOST"] %>/mail1/img1.jpg" width="30" height="30" alt="" /></td>

          <td width="97%" align="left" valign="top" >Step 1 - Just log onto your personal <%= link_to 'getfitgo Dashboard', dashboard_url, style: "color:#009696" %> </td>
                  </tr>
                <tr>
                  <td align="left" valign="top">&nbsp;</td>
                </tr>
                <tr>
                <td width="13%" align="left" valign="top"><img src="<%= ENV["HOST"] %>/mail1/img2.jpg" width="30" height="30" alt="" /></td>
                  <td align="left" valign="top">Step 2 - Click on the Update Activity button</td>
                  </tr>
                <tr>
                  <td align="left" valign="top">&nbsp;</td>
                  <td align="left" valign="top">&nbsp;</td>
                </tr>
                <tr>
                <td width="13%" align="left" valign="top"><img src="<%= ENV["HOST"] %>/mail1/img3.jpg" width="30" height="30" alt="" /></td>
                  <td align="left" valign="top">Step 3 - Select the date and enter the total steps and calories burnt as shown on your device for the day </td>
                  </tr>
              </table>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>You can also sync your activity tracker to your laptop and download your daily activity data. Use the download link to download the app.<br />
              </p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p align="left">All the best!</p>
              <p align="left">Team getfitgo </p></td>
            <td width="250" align="left" valign="top" style="background-color:#fff; color:#646464; ">
            <ul style="padding-left: 20px; background-color: rgb(250, 175, 0); font-size: 16px; height: 280px; margin-top: -0.01em;">
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p><strong>Entering your data daily helps,</strong>
              </p><p>&nbsp;</p>
              <li>Track your daily activity levels</li>
              <p>&nbsp;</p>
              <li>Experts at getfitgo give you personalized feedback and goals for you.</li>

              <p>&nbsp;</p>
              <li>Earn points for entering your data daily.</li>
              <p>&nbsp;</p>
              </ul>
            <table style="border: #black 2px solid; background: white; margin: -1em 2em 2em 2em" >

              <tr style="margin-left: 20px;"><td colspan="2"><img src="<%= ENV["HOST"] %>/Download.png" style="height: 40px; width: 40px;margin-top: 30px;">
              <span style="color: #009696">Download</span></td></tr>
              <tr style="margin-left: 20px;"><td>Have the activity tracker?</td></tr>
              <tr style="margin-left: 20px;"><td>Get the windows app to sync data.</td></tr>

            </table>

             </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" valign="top" style="padding-top:50px; color: black;"><p>You are receiving this email because you are a member of getfitgo.<br />
          This is an auto-generated email, please do not reply to this email.<br />
          Read our Privacy policy here <a href="<%= ENV["HOST"] %>/policy" style="color:#007dfa; text-decoration:none;">Privacy policy</a>.</p>
          <p>&nbsp;</p>
          <p>© getfitgo.in 2014. All rights reserved<br />
            Andheri, Mumbai 400 059</p>

          <p></p></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
