<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Invitation Email</title>
<style type="text/css">
 @import: url(http://alpha.getfitgo.in/fonts/flexo-regular-webfont.woff);
  @import: url(alpha.getfitgo.in/fonts/flexo-thin-webfont.woff);
  @import: url(alpha.getfitgo.in/fonts/flexo-demi-webfont.woff);
  @font-face {
  font-family: 'Flexo';
  src: url('alpha.getfitgo.in/fonts/flexo-demi-webfont.woff') format('woff'),
       url('alpha.getfitgo.in/fonts/flexo-thin-webfont.woff') format('woff'); 
}
body{ margin:0px; padding:0px; font-size:12px; font-family:Flexo,Fallback,sans-serif; font-variant: Flexo Thin;}
p{ margin:0px; padding:0px;  }
a{color: #fff; text-decoration: none;color: #646464;}
td{color: #646464;}
</style>
</head>

<body>
<table width="700px" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" valign="top" style="padding:0 50px;"><img src="<%= ENV["HOST"] %>/mail1/get-logo.jpg" width="185" height="93" alt="" style="vertical-align:middle; margin-right:20px;" /><span style="font-size:24px; color:#9fa4a4; vertical-align:middle;"><%= User.confirmed_users.count%> members</span></td>
  </tr>
  <tr>
    <td align="left" valign="top" style="background-color:#006464; padding:0 50px 50px; color:#FFF;"><table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
         <td align="right" valign="top" style="padding:10px 0px;"><%= Time.now.to_date %></td>
      </tr>
      <tr>
        <td align="left" valign="top" style="background-color:#FFF; font-size:14px; color:#646464; padding:20px 0px;"><table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="168" align="left" valign="top"><img src="<%= ENV["HOST"] %>/mail1/view-img.jpg" width="168" height="101" alt="" /></td>
            <td width="432" align="left" valign="top" style="padding-right:60px;"><p style="font-size:24px; font-weight:bold; color:#009696;">Hi <%= @user.user_name %></p><br/>
              <p>Congratulations on joining getfitgo. You are about to start an exciting journey that makes getting fit & healthy fun and engaging. We promise this is going to be exciting and fun all the way! </p><br/>
              <p>Since we are just meeting each other, you can find out more about us at www.getfitgo.in. We’d also love to know more about you. We encourage you to provide us with more information about yourself so that our experts can understand you better, recommend personal tips as well as assign fitness or diet challenges that best suit you.</p><br/>
              </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="left" valign="top" height="10"></td>
      </tr>
      <tr>
        <td align="left" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="300px" align="left" valign="top" style="border: #929292 2px solid; background-color:#FFF; color:#646464; "><p style="padding: 0.5em;font-size:16px; font-weight:bold; background-color:#009696; color: #fff; margin: 0px;">What's Next?</p>
              <p>&nbsp;</p>
              <table width="100%" border="0" align="center" cellpadding="0" cellspacing="5">
                <tr>
                <td>
                <ul>
                  <li><strong>Own a tracker</strong> –Don’t have a personal tracker? Email us at hello@getfitgo.in and we’ll help you get one. </li>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <li><strong>Warm up, get familiar</strong>, update your fitness activity on your personal getfitgo dashboard </li>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <li><strong>Update your profile</strong>- Help us know you better, get personal feedback and recommendations on fitness and diet from our experts</li>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p style="background-color:#faaf00; width: 125px; color:#FFF; border:0px; padding:4px 8px; border-radius:3px; height:1.6em; text-align: center; float: center;"><%= link_to "UPDATE PROFILE",update_profile_url , style: 'color: #fff; text-decoration: none;'%></p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>All the best</p>
                  <p>Team getfitgo</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                </ul></td></tr></table></td>
             <td width="300px" align="left" valign="top" style="border: #929292 2px solid; background-color:#FFF; color:#646464; "><p style="padding: 0.5em; font-size:16px; font-weight:bold; background-color:#009696; color: #fff; margin: 0px;">getfitgo is all about..</p>
              <p>&nbsp;</p>
              <table width="100%" border="0" align="center" cellpadding="0" cellspacing="5">
                <tr>
                <td>
                <ul>
                  <li><strong>Connecting</strong> with your friends, taking up challenges together and tracking each others activities </li>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <li><strong>Tracking</strong> your daily activities with your getfitgo device and entering details online. Earn extra points for entering your activity daily </li>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>

                  <li><strong>Enjoying</strong> rewards and recognition</li>
                   <p>&nbsp;</p>
                    <p>&nbsp;</p>
                 <p>It’s really easy! You’ll find out as you get started</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p style="background-color:#faaf00; width: 125px; color:#FFF; border:0px; padding:4px 8px; border-radius:3px; height: 1.6em; text-align: center; float: center;"><%= link_to "GET STARTED",root_url , style: 'color: #fff; text-decoration: none;'%></p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                </ul></td></tr></table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" valign="top" style="padding-top:50px; color: black;"><p>You are receiving this email because you are a member of getfitgo<br />
          This is an auto-generated email, please do not reply to this email.<br />
          Read our <a href="<%= ENV["HOST"] %>/policy" style="color:#007dfa; text-decoration:none;">Privacy policy</a> here.</p>
          <p>&nbsp;</p>
          <p>© getfitgo.in 2014. All rights reserved<br />
            Mumbai 400 005</p>

          <p></p></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
