<% badges_won = Badge.where(id: session[:achievements_unlocked][:badges_id]) %>
<div class="modal fade" id="achievementsUnlockedModal" tabindex="-1" role="dialog" aria-labelledby="achievementsunlockedmodalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-right: 0.7em;margin-top: -0.3em;">&times;</button>
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="color lBluTxt">
              <div class="col-md-12 col-xs-12">
                <span class="col-md-2 col-xs-2"></span>
                <h6 class="col-md-4 col-xs-4" style="text-align: center; font-size: 18px;"> Congratulations!</h6>
              </div>
              <div class="col-md-12 col-xs-12">
                <span class="col-md-3 col-xs-3"></span>
                <h6 style="font-size: 15px;">
                  <% if badges_won.count.eql?(1) %>
                    You achieved a new milestone. Here's a reason to <span class="yellowTxt">#</span>feelgoodnow
                  <% else %>
                    You achieved new milestones. Here are reasons to <span class="yellowTxt">#</span>feelgoodnow
                  <% end %>
                </h6>
              </div>
            </div>
          </div>
          <div class="CL"></div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12" style="margin-bottom: 1em;">
            <% badges_won.each { |badge| %>
              <span class="badge_image"><%= image_tag badge.image %></span>
            <% } %>
          </div>
          <div class="CL"></div>
        </div>
        <% if current_user.identities.find_by(provider: "facebook") %>
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <!--<div class="col-md-4 col-xs-4"></div>-->
              <div class="" style="font-size: 15px;"> We think that's mighty cool.</div>
            </div>
            <div class="col-md-12 col-xs-12">
              <!--<div class="col-md-3 col-xs-3"></div> -->
              <div class="" style="font-size: 15px;"> Guess your friends would too!</div>
            </div>
            <div class="CL"></div>
          </div>
          <div class="row" style="margin-top:1em;">
            <div class="col-md-3 col-xs-3"></div>
            <div class="col-md-6 col-xs-6">
              <%= link_to image_tag('/facebook.png'), post_badge_won_path(badge_ids: badges_won.pluck(:id)), method: :post, data: { confirm: 'Ready to share your achievement on FB?' },remote: true, style: "margin-left: 0.6em;margin-right: 0.6em;" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="CL"></div>
    </div>
  </div>
</div>
