<% number_of_achievements = number_of_achievements || 6 %>
<% carousel_id = carousel_id || 'badgeCarousel' %>
<% width = width || 15%>
<% # TODO: Number of queries need to be reduced, specially include? check for each badge %>
<div class="badgesBx">
  <div id="<%= carousel_id %>" class="carousel slide" style="height:100%;">
    <div class="carousel-inner">
      <% if achievements.present? %>
        <% achievements.each_slice(number_of_achievements).with_index { |achievement, i| %>
          <% badges = []; badges = achievement.map {|cell| cell.badge rescue cell } %>
          <% if i == 0 %>
            <div class="item active">
          <% else %>
            <div class="item">
          <% end %>
              <div class="inner-item">
                <div class="row">
                  <% badges.each { |badge| %>
                    <div class="col-xs-2" style="text-align: center; width: <%= width %>%;">
                      <%= image_tag badge.image, class: "tag-tooltip #{'greyed-out' unless user.badges.include?(badge)}", data: { toggle: 'tooltip', 'original-title' => "#{render 'dashboards/badge_details', badge: badge, user: user, achievement: achievements.find_by(badge_id: badge.id)}", placement: 'bottom', html: 'true', trigger: 'hover', container: 'body' }, style: "#{unless badge.is_a?(StreakBadge); "margin-left: 10px; margin-right: 10px; #{if badge.is_a?(CummulativeBadge); 'margin-top: 5px;'; end }"; end }" %>
                      <!--<h6 style="margin-left: -15px;"><%= badge.name %></h6>-->
                    </div>
                  <% } %>
                </div>
              </div>
            </div>
          <% } %>
      <% else %>
        <div class="item active hidden-xs hidden-sm">
          <div class="inner-item">
            <div>
              <div class="col-xs-11" style="text-align: center; color: #646464;">
                <p>
                  <% if current_user.eql? user %>
                    Hey! Your showcase is empty. Get started with a regular Active routine and see Badges & Medals come your way. The first one awaits you when you cover 3000 steps in a day.
                  <% else %>
                    "<%= user.user_name %> has just started a fitness journey and will soon have badges and medals coming along. A word of motivation from you can go a long way in helping <%= user.user_name.split(' ').first %>."
                  <% end %>
                </p>
                <h6 style="font-weight: bold;">Track your activity and update it here. </h6>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <a class="left carousel-control hidden-xs hidden-sm" href="#<%= carousel_id %>" data-slide="prev" style="vertical-align:middle; margin-left: -50px;"><span class="rigtArIcon mirror-img" style="margin-top: 15px;"></span></a>
    <a class="right carousel-control hidden-xs hidden-sm" href="#<%= carousel_id %>" data-slide="next" style="vertical-align:middle; margin-right: -20px;"><span class="rigtArIcon" style="margin-top: 15px;"></span></a>

  </div>
</div>
 <script type="text/javascript">
    $(document).ready(function() {
    $('.tag-tooltip').tooltip({ container: 'body' });
});
  </script>
