<div class="widgetTitle"> <span>MY ACTIVE CONNECTIONS</span>
  <div class="CL"></div>
</div>
<div class="widgetCnt">
  <ul class="connLi">
    <li>
      <div class="imgView"><i class="strIcon"></i> <img src="images/avatar.jpg" alt=""> </div>
      <div class="avName">Rob Simson</div>
      <div class="avStyle">regular runner</div>
      <i class="runSmBlIcon"></i>
      <div class="CL"></div>
    </li>
    <li>
      <div class="imgView"><i class="tickIcon"></i> <img src="images/avatar.jpg" alt=""> </div>
      <div class="avName">Aditi Rao</div>
      <div class="avStyle">regular swimmer</div>
      <i class="swiSmBlIcon"></i>
      <div class="CL"></div>
    </li>
    <li>
      <div class="imgView"><i class="tickIcon"></i> <img src="images/avatar.jpg" alt=""> </div>
      <div class="avName">Smita Singh</div>
      <div class="avStyle">regular cyclist</div>
      <i class="cycSmBlIcon"></i>
      <div class="CL"></div>
    </li>
    <li>
      <div class="imgView"><i class="tickIcon"></i> <img src="images/avatar.jpg" alt=""> </div>
      <div class="avName">Samir Pandey</div>
      <div class="avStyle">regular workout</div>
      <i class="worSmBlIcon"></i>
      <div class="CL"></div>
    </li>
  </ul>
</div>
