<% # TODO: Indent properly and make it DRY! %>
<% if (current_user.eql? user) %>
      <% unless activity.deleted %>
        <li>
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <div class="col-md-2 col-xs-2 col-sm-2">
                <%= link_to image_tag(activity.photo.url(:thumb), size: '40x40'), activity.user_to_link_to %>
              </div>
              <div class="col-md-10 col-xs-10 col-sm-10">

                <% if activity.class == Post %>
                  <% if (current_user.eql? user) %>
                    <%= !activity.user.eql?(current_user) %>
                    <% if !activity.user.eql?(current_user) %>
                      <% if activity.image.exists? %>
                        You posted a photo on <%= activity.user.user_name %>'s wall.
                      <% else %>
                        You wrote on <%= activity.user.user_name %>'s wall.
                    <% end %>
                    <% else %>
                     <% if activity.image.exists? %>
                      You posted a photo on your wall.
                    <% else %>
                      You wrote on your wall.
                    <% end %>
                      <% end %>
                  <% end %>

                  <br><br>
                  <p><%= activity.name %></p>
                <% if activity.image.exists? %>
                   <%= link_to image_tag(activity.image.url(:thumb)),activity.image.url(:large), data: { lightbox: activity.id } %>
                <% end %>
                <% else %>
                  <p> <%= activity.name %></p>
                <% end %>
                <div class="col-md-12"></div>
                <div class="activity_status" id="activity_<%= activity.id %>"> <%= activity.votes.size %>
                  <% if !(current_user.eql? user) && !(user.voted_for? activity) %>
                    <%= link_to image_tag('/wowable.png'), activity_wow_path(activity), method: :post, id: "wow_#{activity.id}", disabled: !(current_user.mutual_friends.include? user),:class => "btn", style: 'padding-left:0px;',remote: true %>
                    <%= activity.root_comments.count %>
                    <%= link_to "javascript:void(0);", style: 'margin-left: 5px;' do %>
                      <i class="msgIcon" onclick="showComments('<%= activity.class.to_s %>','<%= activity.id %>')"></i>
                    <% end %>
                    <span id="time_ago"><%= time_ago_in_words(activity.created_at) %> ago</span>
                  <% elsif !(current_user.eql? user) && (user.voted_for? activity) %>
                    <%= link_to image_tag('/wowdisable.png'), activity_wow_path(activity), method: :post, id: "wow_#{activity.id}", disabled: !(current_user.mutual_friends.include? user), :class => "btn", style: 'padding-left:0px;',remote: true %>
                    <%= activity.root_comments.count %>
                    <%= link_to "javascript:void(0);", style: 'margin-left: 5px;' do %>
                      <i class="msgIcon" onclick="showComments('<%= activity.class.to_s %>','<%= activity.id %>')"></i>
                    <% end %>
                    <span  id="time_ago"><%= time_ago_in_words(activity.created_at) %> ago</span>
                  <% end %>
                   <% if (current_user.eql? user) && (activity.votes.size == 0) %>
                    <%= link_to image_tag('/wowable.png'), activity_wow_path(activity), method: :post, id: "wow_#{activity.id}", disabled: true, :class => "btn", style: 'padding-left:0px;',remote: true %>
                    <%= activity.root_comments.count %>
                    <%= link_to "javascript:void(0);", style: 'margin-left: 5px;' do %>
                      <i class="msgIcon" onclick="showComments('<%= activity.class.to_s %>','<%= activity.id %>')"></i>
                    <% end %>
                    <span id="time_ago"><%= time_ago_in_words(activity.created_at) %> ago</span>
                  <% elsif (current_user.eql? user) && (activity.votes.size > 0) %>
                    <%= link_to image_tag('/wowdisable.png'), activity_wow_path(activity), method: :post, id: "wow_#{activity.id}", disabled: true, :class => "btn", style: 'padding-left:0px;',remote: true %>
                    <%= activity.root_comments.count %>
                    <%= link_to "javascript:void(0);", style: 'margin-left: 5px;' do %>
                      <i class="msgIcon" onclick="showComments('<%= activity.class.to_s %>','<%= activity.id %>')"></i>
                    <% end %>
                     <span  id="time_ago"><%= time_ago_in_words(activity.created_at) %> ago</span>
                  <% end %>
                </div>
                <div class="CL"></div>
                <hr class="style-six" />
              </div>
              <div id="<%= activity.class.to_s %>-<%= activity.id %>" style="display: none;">
                <%= render 'shared/show_comments', commentable: activity, user: user %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
      <% else %>
        <li>
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12" style="margin-top: 1.3em;">
              <div class="col-md-2 col-xs-2 col-sm-2">
                <%= link_to image_tag(activity.photo.url(:thumb), size: '40x40'), activity.user_to_link_to %>
              </div>
              <div class="col-md-10 col-xs-10 col-sm-10" id="<%= activity.id%>">
               <% if activity.class == Post %>
                  <% if (current_user.eql? user) %>
                  <% else %>
                    <% if activity.image.exists? %>
                      <%= current_user.user_name %> posted a photo on <%= activity.user.user_name %>'s wall.
                    <% else %>
                      <%= current_user.user_name %> wrote on <%= activity.user.user_name %>'s wall.
                    <% end %>
                  <% end %>

                  <br><br>
                  <p><%= activity.name %></p>
                <% if activity.image.exists? %>
                  <%= link_to image_tag(activity.image.url(:thumb)),activity.image.url(:large), data: { lightbox: activity.id }  %>
                <% end %>
                <% else %>
                  <p> <%= activity.name %></p>
                <% end %>
               <div><span id="<%="activity_#{activity.id}"%>"><%= activity.votes.size %></span>
                 <% if !(current_user.voted_for? activity) %>
                    <%= link_to image_tag('/wowable.png'), activity_wow_path(activity,class:activity.class), method: :post, id: "wow_#{activity.id}", disabled: !(current_user.mutual_friends.include? user),:class => "btn", style: 'padding-left:0px;',remote: true %>
                    <%= activity.root_comments.count %>
                    <%= link_to "javascript:void(0);", style: 'margin-left: 5px;' do %>
                      <i class="msgIcon" onclick="showComments('<%= activity.class.to_s %>','<%= activity.id %>')"></i>
                    <% end %>
                    <span  id="time_ago"><%= time_ago_in_words(activity.created_at) %> ago</span>
                  <% elsif (current_user.voted_for? activity) %>
                    <%= link_to image_tag('/wowdisable.png'), activity_unwow_path(activity,class:activity.class), method: :delete, id: "wow_#{activity.id}", disabled: !(current_user.mutual_friends.include? user), :class => "btn", style: 'padding-left:0px;',remote: true %>
                    <%= activity.root_comments.count %>
                    <%= link_to "javascript:void(0);", style: 'margin-left: 5px;' do %>
                      <i class="msgIcon" onclick="showComments('<%= activity.class.to_s %>','<%= activity.id %>')"></i>
                    <% end %>
                    <span  id="time_ago"><%= time_ago_in_words(activity.created_at) %> ago</span>
                  <% end %>

                </div>
                <div class="CL"></div>
              </div>
              <div id="<%= activity.class.to_s %>-<%= activity.id %>" style="display: none;">
                <%= render 'shared/show_comments', commentable: activity, user: user %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
