<% date_achieved = achievement.try(:achievement_date) || achievement.try(:created_at) %>
<% achiever = (current_user.eql? user) ? 'You' : user.user_name %>
<div style="margin-top: 20px;">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <%= image_tag badge.image %>
      </div>
      <div class="col-md-9">
        <p class="headLine4" style="font-family:'Flexo Heavy';"><%= badge.name %></p>
        <p style="text-align: left">
          <%= badge.details(achiever, date_achieved, current_user) %>
        </p>
      </div>
    </div>
  </div>
  <br/>
</div>
<div class="CL"></div>
