<%# Ignore IDE error about missing div close tag, it is due to runtime injection of div tag %>
<div>
    <div id="badgeCarousel" class="carousel slide" style="height:100%;">
        <div class="carousel-inner">
            <% if !(badges = user.achievements.includes(:badge)).empty? %>
              <% badges.reverse.each_slice(3).with_index { |(x, y, z), i| %>
                <% x = x.badge; if y;
                                  y = y.badge;
                                  if z;
                                    z = z.badge
                                  end
                                end %>
                <% if i == 0 %>
                  <div class="item active">
                <% else %>
                  <div class="item">
                <% end %>
                <div class="inner-item">
                    <div class="row">
                        <div class="<%= if y;
                                          unless z;
                                            'col-xs-offset-2'
                                          end
                                        else
                                          'col-xs-offset-4'
                                        end %> col-xs-4">
                            <%= image_tag x.image, :size => '75x75', :style => 'max-width:100%' %>
                            <h6><%= x.name %></h6>
                        </div>
                        <% if y %>
                          <div class="col-xs-4">
                              <%= image_tag y.image, :size => '75x75', :style => 'max-width:100%' %>
                              <h6><%= y.name %></h6>
                          </div>
                          <% if z %>
                            <div class="col-xs-4">
                                <%= image_tag z.image, :size => '75x75', :style => 'max-width:100%' %>
                                <h6><%= z.name %></h6>
                            </div>
                          <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="carousel-caption text-center">
                    <!--<h4><i><%= x.name %></i></h4>-->
                </div>
                </div>
              <% } %>
            <% else %>
              <div class="item active">
                  <div class="inner-item">
                      <div class="greyed-out">
                          <% if Badge.count > 0 %>
                            <%= image_tag Badge.first.image, :size => '75x75', :style => 'max-width:100%' %>
                            <h6><%= Badge.first.name %></h6>
                          <% end %>
                      </div>
                  </div>
                  <div class="carousel-caption text-center">
                      <!--<h4 style="color: black">Earn this</h4>-->
                  </div>
              </div>
            <% end %>
            </div>
        </div>
        <a class="left carousel-control" href="#badgeCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#badgeCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
