<div class="widgetTitle">
  <span>Achievements</span>
  <!--<a href="#." class="FR">View All CHALLENGES</a>-->
  <div class="CL"></div>
</div>
<div class="widgetCnt">
  <br/><%= render 'dashboards/badges_carousel', :user => user %>
            <% if current_user.identities.find_by(provider: "facebook") %>
              <% if (current_user.eql? user) && user.has_achievements? %>
                Share your <%= user.last_won_badge.name %>
                badge <%= link_to image_tag('/ufb.png',id:"fb"), post_badge_won_path(user.last_won_badge) %>
              <% end %>
            <% end %>
</div>

