<% # TODO: Damn you, stupid hacks %>
<% left = (user.bmi(pure:true) - 16.5)/(32.5-16.5).to_f*100 - 2.5 %>
<% left = 97.5 if left > 97.5 %>
<% left = -2.5 if left < -2.5 %>
<% current_page?(edit_user_registration_path) ? nil : left-=2.5 %>
<div class="bmiBx">
  <p class="headLine1 lBluTxt">BMI</p>
  <div class="barHolder">
    <br/>
    <div class="countShow" style="left: <%= left %>% !important;">
      <div class="barCount"><%= user.bmi %></div>
      <div class="bArw"></div>
      <div class="round"></div>
    </div>
    <div class="bmiBar-yellow" data-toggle="tooltip" data-title="<p>Underweight</p><=18.5" data-trigger="hover" data-html="true" style="width:12.5%;"></div>
    <div class="bmiBar-green" data-toggle="tooltip" data-title="<p>Normal</p>18.5-24.9" data-trigger="hover" data-html="true" style="width:40%;"></div>
    <div class="bmiBar-orange" data-toggle="tooltip" data-title="<p>Overweight</p>25-29.9" data-trigger="hover" data-html="true"style="width:30.5%;"></div>
    <div class="bmiBar-red" data-toggle="tooltip" data-title="<p>Obese</p>>=30" data-trigger="hover" data-html="true" style="width:17%;"></div>
    <div class="CL"></div>
  </div>
  <script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip();
  </script>
  H: <%= user.height %>&nbsp;&nbsp;&nbsp;I&nbsp;&nbsp;&nbsp;W: <%= user.weight_in_kg %>
</div>
