<% last_completed_challenge = current_user.last_completed_challenge %>
<% applicable_daily_activities = last_completed_challenge.daily_activities.where.not(steps_covered: nil) %>
<% best_performance = applicable_daily_activities.order(steps_covered: :desc).first %>
<% average_steps = (applicable_daily_activities.sum(:steps_covered)/applicable_daily_activities.count).round(0) rescue applicable_daily_activities.sum(:steps_covered) %>
<% leaders_ids = last_completed_challenge.challenge.user_activities.select { |ua| ua.updated_daily_activities.count >= 5 }.map(&:user_id) %>
<% leader = User.find(leaders_ids).sort_by { |user| -user.user_activities.where(challenge_id: last_completed_challenge.challenge.id).last.average }.first %>
<% leader_name = if leader.eql? current_user; 'You'; else; leader.user_name.split(' ').first if leader; end; %>
<% applicable_achievements = Achievement.where(user_id: current_user.id) %>
<% last_challenge_progress = (last_completed_challenge.total_steps_covered/last_completed_challenge.goal.to_f*100) %>
<% last_challenge_progress = last_challenge_progress.round(0) rescue 0 %>
<% next_challenge_details = ChallengeTransition.new(current_user).assign_next_challenge({fake: true}) %>
<% applicable_points = Point.where(user_id: current_user.id, created_at: [(Date.today - 27.days)..Date.today]).sum(:score) %>

<div class="modal fade" id="challengeCompletionModal" tabindex="-1" role="dialog" aria-labelledby="challengeCompletionmodalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="modal-content panel panel-default">
    <div class="modal-header panel-heading brand" style="padding: 2.6em;">
      <h5 class="modal-title" id="challengeCompletionModalLabel" style="color: #646464;">
        <div class="col-md-2 hidden-xs">
          <% if (last_challenge_progress >= 100) %>
            <%= image_tag '/Badgesoverlay.png',size: '100x100', class: 'image_class_badge' %>
          <% else %>
            <%= image_tag '/vote_1.png',size: '100x100', class: 'image_class_badge' %>
          <% end %>
        </div>
        <% if (last_challenge_progress >= 100) %>
          <div class="col-md-10 col-xs-11">Congratulations! You’ve completed your 4 week training plan and exceeded your target by <%= (last_challenge_progress - 100) %>%. That’s brilliant! This is the first step towards your journey to a fitter lifestyle. getfitgo is full of opportunities waiting to be grabbed.</div>
        <% elsif (last_challenge_progress < 50) %>
          <div class="col-md-10 col-xs-11">You’ve completed your 4 week training plan. That’s a fair attempt! This is the first step towards your journey to a fitter lifestyle. getfitgo is full of opportunities waiting to be grabbed.</div>
        <% elsif (last_challenge_progress >= 50) && (last_challenge_progress < 80) %>
          <div class="col-md-10 col-xs-11">You’ve completed your 4 week training plan. That’s a good attempt! This is the first step towards your journey to a fitter lifestyle. getfitgo is full of opportunities waiting to be grabbed.</div>
        <% elsif (last_challenge_progress >= 80) && (last_challenge_progress < 100) %>
          <div class="col-md-10 col-xs-11">You’ve completed your 4 week training plan. That’s a great attempt! This is the first step towards your journey to a fitter lifestyle. getfitgo is full of opportunities waiting to be grabbed.</div>
        <% end %>
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="CL"></div>
    </div>

    <div class="modal-body col-md-12" id="challenge_completion_modal_body">
      <div class="col-md-12" style="padding-left:0em; padding-right: 0em;">
        <div class="head_modal">
          <div class="col-md-6" ><span>Your Performance</span> </div>
          <div class="col-md-6"><span>What's Next</span></div>
        </div>
      </div>
      <div class="col-md-6 leftcontainer">
        <p style="text-align: left;">
          <% if (last_challenge_progress >= 100) %>
            <span class="yellowTxt">Congratulations on your brilliant performance!</span>
          <% else %>
            <span>It’s alright if you didn’t meet your target.</span>
          <% end %>
        </p>
        <!--<div class="col-md-12">
          <span><strong>You have completed <%= last_challenge_progress %>% of your challenge</strong></span>
        </div> -->
        <div class="col-md-12">
          <div class="col-md-6">
            <%= content_tag :div, "", id: "performance_donut_chart", :style => 'height: 170px; width: 140px; margin-top: 1.3em;', data: {report: [{label: 'Achieved', value: last_challenge_progress}, {label: 'Yet to achieve', value: [(100 - last_challenge_progress), 0].max}]} %>
            <div class="CL"></div>
          </div>
          <% if (last_challenge_progress >= 100) %>
            <div class='col-md-6'>
              <h4 style="font-size: 30px; margin-top: 2em;"> Keep it up! </h4>
            </div>
          <% else %>
            <div class="col-md-6" style="margin-top: 3em;">
              <div class=""><strong style="font-size: 6em;"><%= steps_to_minutes((last_completed_challenge.goal-last_completed_challenge.total_steps_covered).to_f/last_completed_challenge.challenge.number_of_days) %></strong></div>
              <p><strong>minutes of extra walking everyday could get you there</strong></p>
            </div>
          <% end %>
          <div class="CL"></div>
          <div class="col-md-12 achievements_challenge_completion">
            <div class="col-md-6 achievements_challenge_completion">
              <p class="lBluTxt"><strong>Achievements</strong><span style="margin-left: 1em;"><%= applicable_points %> Points</span></p>
            </div>
            <div class="col-md-12" id="achievement_badges_challenge_completion">
              <% unless applicable_achievements.empty? %>
              <%= render 'dashboards/achievements_carousel', achievements: applicable_achievements, user: current_user, carousel_id: 'challengeAchievementsCarousel', number_of_achievements: 5, width: 17 %>
             <% end %>
            </div>
           </div>
        </div>
        <div class="col-md-12 lBluTxt">
          <div class="col-md-4"><h5><strong>Best Day</strong></h5></div>
          <div class="col-md-4"><h5><strong>Average Steps</strong></h5></div>
          <div class="col-md-4"><h5><strong>Top Performer</strong></h5></div>
        </div>
        <div class="col-md-12">
          <div class="col-md-4"><%= best_performance.steps_covered rescue 0 %> steps</div>
          <div class="col-md-4"><%= average_steps %> steps</div>
          <div class="col-md-4">
            <p><%= link_to leader_name, user_path(leader.id), method: :get, target: '_blank', class: 'btn btn-branding btn-sm btn_leader', style: 'background-color: #009696;font-size: 10px !important;margin-top: -0.5em;' %></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 rightcontainer">
        <div class="col-md-12 right_challenge_completion">
          <p style="">Based on your previous performance and feedback our coaches recommend your next training plan</p>
        </div>
        <div class="col-md-12" style="margin-top: 1em;">
          <h4 class="lBluTxt" style="font-family: Flexo Demi;">Walk <%= next_challenge_details[0].number_of_steps %> steps in 4 weeks</h4>
          <h6>Starting on <span><%= next_challenge_details[1].strftime("#{next_challenge_details[1].day.ordinalize} %B") %></span></h6>
        </div>
        <div class="CL"></div>
        <div class="well well-sm well_challenge_completion" style="">
          <p class="bigText"><%= next_challenge_details[0].number_of_minutes %><span id="bigText_minutes"> minutes</span></p>
          <p style=""><strong>of daily walking and you’ll breeze through the challenge</strong></p>
        </div>
        <div class="col-md-12">
          <% if current_user.identities.find_by(provider: "facebook") %>
            <%= link_to image_tag("/facebook.png"), post_challenge_completion_path(current_user.current_challenge.challenge), class: "share col-md-4", style: "padding-top: 2em; float: center;", remote: true %>
          <% end %>
        </div>
        <div class="CL"></div>
     </div>
    </div>
    <div class="CL"></div>
    <div class="modal-footer panel-footer no-margin brand" style="text-align: center; background: #fff; padding-top: 0.5em; border-top: 0em solid #646464; "></div>
    </div>
  </div>
</div>
<script>
  new Morris.Donut({
    element: 'performance_donut_chart',
    data: $('#performance_donut_chart').data('report'),
    backgroundColor: '#ccc',
    labelColor: 'black',
    colors: [
      '#96c800',
      '#e1e1e1'
    ],
    formatter: function (x) { return x + "%";}
  }).select(0);
</script>