<% current_challenge = current_user_activity.challenge %>

<% unless current_user_activity.nil? %>
  <div class="widgetTitle">
    <span class="brand"><%= challenge_title(current_challenge, user) %></span><%= challenge_details(current_challenge, view_challenge)%>
    <div class="CL"></div>
  </div>
  <% content_for(:challenge_title, 'My Dashboard') %>

  <% if current_challenge.not_warm_up? %>
    <%= render 'dashboards/current_challenge', user: user, current_user_activity: current_user_activity %>
  <% else %>
    <%= render 'dashboards/warm_up_challenge', user: user, current_user_activity: current_user_activity %>
  <% end %>
<% end %>

