<% # TODO: This view is crying, "don't make me CRY, make me DRY!" %>
<% # TODO: Idea is nice but no need to keep logic here %>

<% current_challenge = user.current_challenge.challenge %>

<div class="widgetBx" style="margin-bottom: 20px;">
  <div class="widgetTitle">
    <span class="brand">
      <% if defined? title %>
        All Participants
      <% else %>
        <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span> Community
      <% end %>
    </span>
    <span class="FR greyTxt" style="line-height: 1;">
      <% if current_page?(dashboard_path) || current_page?(user_path) %>
        <%= User.confirmed_users.count - 1 %>
      <% elsif current_page?(monthly_challenge_path) %>
        <%= current_challenge.participating_users.count %>
      <% end %>
    </span>
    <div class="CL"></div>
  </div>
  <div class="widgetCnt" style="position:relative;">
    <% if current_page?(dashboard_path) || current_page?(user_path) %>
      <% community_users = User.sort_community_by_activity - [current_user] - [nil] %>
      <% collapsed_community_users = community_users.each_slice(20).to_a %>
      <% last = collapsed_community_users.pop %>
      <% last_id = collapsed_community_users.count %>
      <% showing = 0 %>

      <% collapsed_community_users.each_with_index { |users, i| %>
      <div id="community-<%= i %>" style="margin-top: -12px; <%= "display: none;" unless i.eql? 0 %>">
        <% users.each { |user| %>
          <% if user.photo.url == "/photos/original/missing.png" %>
            <a href="/users/<%= user.id %>" rel='tooltip' title='<%= user.user_name %>'><%= image_tag "/walking_man.png", :size => '48x48' %></a>
          <% else %>
            <a href="/users/<%= user.id %>" rel='tooltip' title='<%= user.user_name %>'><%= display_picture user, 'community' %></a>
          <% end %>
        <% } %>
        <br/><br/>
        <span class="FL" id="showing-<%= i %>">Showing <%= showing += users.count %>/<%= community_users.count %></span>
        <%= link_to "View more ...", "javascript:void(0);", id: "show-community-#{i}", class: "FR colored-link", onclick: "$('#community-#{i+1}').show();$('#show-community-#{i}').hide();$('#showing-#{i}').hide();$('#showing-#{i+1}').show();" %>
      </div>
      <% } %>

      <div id="community-<%= last_id %>" style="margin-top: -12px; <%= "display: none; " unless collapsed_community_users.empty? %>">
        <% last.each { |user| %>
          <% if user.photo.url == "/photos/original/missing.png" %>
            <a href="/users/<%= user.id %>" rel='tooltip' title='<%= user.user_name %>'><%= image_tag "/walking_man.png", :size => '48x48' %></a>
          <% else %>
            <a href="/users/<%= user.id %>" rel='tooltip' title='<%= user.user_name %>'><%= display_picture user, 'community' %></a>
          <% end %>
        <% } unless last.nil? %>
        <br/><br/>
        <span class="FL">Showing <%= showing += last.count rescue 0 %>/<%= community_users.count %></span>
        <%= (link_to "Hide ...", "javascript:void(0);", class: "FR colored-link", onclick: "$('div[id*=community-]').hide();$('#community-0').show();$('[id*=show-community-]').show();$('#showing-0').show();") unless collapsed_community_users.empty? %>
      </div>

    <% elsif current_page?(monthly_challenge_path) %>
      <% challenge_users = current_challenge.participating_users %>
      <% collapsed_challenge_users = challenge_users.each_slice(20).to_a %>
      <% last = collapsed_challenge_users.pop %>
      <% last_id = collapsed_challenge_users.count %>
      <% showing = 0 %>

      <% collapsed_challenge_users.each_with_index { |users, i| %>
      <div id="community-<%= i %>" style="margin-top: -12px; <%= "display: none;" unless i.eql? 0 %>">
        <% users.each { |user| %>
          <% if user.photo.url == "/photos/original/missing.png" %>
            <a href="/users/<%= user.id %>" rel='tooltip' title='<%= user.user_name %>'><%= image_tag "/walking_man.png", :size => '48x48' %></a>
          <% else %>
            <a href="/users/<%= user.id %>" rel='tooltip' title='<%= user.user_name %>'><%= display_picture user, 'community' %></a>
          <% end %>
        <% } %>
        <br/><br/>
        <span class="FL" id="showing-<%= i %>">Showing <%= showing += users.count %>/<%= challenge_users.count %></span>
        <%= link_to "View more ...", "javascript:void(0);", id: "show-community-#{i}", class: "FR colored-link", onclick: "$('#community-#{i+1}').show();$('#show-community-#{i}').hide();$('#showing-#{i}').hide();$('#showing-#{i+1}').show();" %>
      </div>
      <% } %>

      <div id="community-<%= last_id %>" style="margin-top: -12px; <%= "display: none;" unless collapsed_challenge_users.empty? %>">
        <% last.each { |user| %>
          <% if user.photo.url == "/photos/original/missing.png" %>
            <a href="/users/<%= user.id %>" rel='tooltip' title='<%= user.user_name %>'><%= image_tag "/walking_man.png", :size => '48x48' %></a>
          <% else %>
            <a href="/users/<%= user.id %>" rel='tooltip' title='<%= user.user_name %>'><%= display_picture user, 'community' %></a>
          <% end %>
        <% } unless last.nil? %>
        <br/><br/>
        <span class="FL">Showing <%= showing += last.count %>/<%= challenge_users.count %></span>
        <%= (link_to "Hide ...", "javascript:void(0);", class: "FR colored-link", onclick: "$('div[id*=community-]').hide();$('#community-0').show();$('[id*=show-community-]').show();$('#showing-0').show();") unless collapsed_challenge_users.empty? %>
      </div>
    <% end %>

    <br/><br/>
    <% if current_user.eql?(user) && (current_user.invitation_limit > 0) %>
      <%= link_to "Invite friends", new_user_invitation_path, :class => 'btn-branding btn FR' %>
    <% end %>
    <div class="CL"></div>
  </div>
</div>
