<% challenge_dates = current_user.current_challenge.dates %>

<div class="modal fade" id="currentChallengeModal" tabindex="-1" role="dialog" aria-labelledby="updateProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content panel panel-default">
      <div class="modal-header panel-heading brand" style="background: #fff;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title" id="welcomeModalLabel" style="color: #646464;">
          <div class="col-xs-12 " style="text-align: center; font-family: 'Flexo Demi';">
            <p>Congratulations! You've completed your 7-day warm up and earned <%= if current_user.badges.count > 0; pluralize(current_user.badges.count, 'badge') + " and "; end %> <%= current_user.score %> points.<br/>
              Now start an exciting 4-Week Training Plan - <span class="lBluTxt">Walk <%= current_user.current_challenge.challenge.number_of_steps %> Steps in 4 Weeks</p>
            </div>
          </h5>
          <div class="CL"></div>
        </div>
        <div class="modal-body col-md-12">
          <div class="col-md-12">
          <span class="head_modal">YOUR 4-WEEKS TRAINING PLAN</span>
            <span class="modal_link"><%= link_to 'VIEW CHALLENGE', challenge_path(current_user.current_challenge.challenge.id), style: "color: #faaf00;", target: '_blank' %></span>
          </div>
          <div class="col-md-6 hidden-xs leftcontainer">
            <div class="run col-md-2 hidden-xs hidden-sm"><img src="/walk_man_round.png"></div>
            <div class="col-md-10 hidden-xs"> <span class="greyTitle">Walk <%= current_user.current_challenge.challenge.number_of_steps %> in 4 Weeks</span>
              <p class="greyTxt" id="date_challenge"><%= challenge_dates.first.strftime('%d/%m/%Y') %> to <%= challenge_dates.last.strftime('%d/%m/%Y') %></p>
              <% if current_user.current_challenge.challenge.user_activities.count > 1 %>
                <p class="greyTxt" style="float: right;"><span class="blueTxt"><%= link_to "#{pluralize((current_user.current_challenge.challenge.user_activities.count - 1), 'member')}", current_user.current_challenge.challenge, class:"colored-link" %></span> participating.</p>
              <% end %>
              <div class="CL"></div>
              <div class="bigText hidden-sm"><%= current_user.current_challenge.challenge.number_of_minutes %></div>
              <span class="col-md-3"></span>
              <span class="centered col-md-6">minutes of focused walking each day.</span>

              <div class="CL"></div>
                <% if current_user.identities.find_by(provider: "facebook") %>
                  <%= link_to image_tag('/ufb.png',id:"fb"), post_challenge_join_path(current_user.current_challenge.challenge), class: "share col-md-4", style: 'margin-left: -6.5em; padding-top: 3.5em;' %>
                <% end %>
              <div class="CL"></div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 rightcontainer">
           <div class="col-md-12 first">
            <span class="col-md-2 col-xs-2"><img id="map_img" src="/map.png"></span>
            <span class="col-md-9 "><span class="blueTxt"><p>TRACK</p></span>
              <p>Carry your tracker with you & track your daily activity</p>
            </span>
          </div>
          <div class="col-md-12 second">
            <span class="col-md-2 col-xs-2"><img id="chart_img" src="/chart.png"></span>
            <span class="col-md-9"><span class="blueTxt"><p>UPDATE</p></span>
              <p>your daily activity on your getfitgo dashboard</p>
            </span>
          </div>
          <div class="col-md-12 third">
            <span class="col-md-2 col-xs-2"><img id="heart_img" src="/heart.png"></span>
            <span class="col-md-9"><span class="blueTxt"><p>#FEELGOODNOW</p></span>
              <p>Get expert feedback on fitness and diet. Earn Rewards</p>
            </span>
          </div>
          <div class="col-md-12">
            <div class="col-md-7"></div>
            <div class="col-md-4"><button type="button" class="btn btn-branding" data-dismiss="modal" aria-hidden="true">GET STARTED</button></div>
          </div>
        </div>

      </div>
      <!-- <div class="modal-footer panel-footer no-margin brand" style="text-align: center; background: #fff; padding-top: 0.5em; border-top: 1em solid #646464; font-family:'Flexo Demi';">
        <p style="padding-top: 1.3em;"></p>Your 4-Week Training Plan will start as you soon as you finish your warm up. Keep your profile and activity data updated for our experts to recommend your 4-Week Training Plan.
      </div> -->
    </div>
  </div>
</div>