<% current_challenge = current_user_activity.challenge %>
<% user_progress = user.progress %>
<% challenge_dates = current_user_activity.dates %>
<% relative_progress = (user.current_run_rate.to_f/current_user_activity.daily_goal*75).abs %>
<% relative_progress_required = (user.total_required_run_rate.to_f/current_user_activity.daily_goal*75).abs %>

<div class="widgetCnt col-md-12" style="float: left; height: 100%; border: #eee 1px solid">

  <div class="col-md-7 left">
    <div class="runIcon hidden-xs hidden-sm"></div>
    <div class="dlRnIfo"> <span class="greyTitle">Walk <%= current_challenge.number_of_steps %> in <%= current_challenge.number_of_days/7 %> weeks</span>
      <p class="greyTxt"><span class="blueTxt"><%= link_to "#{current_challenge.user_activities.count - 1} people", current_challenge, class:"colored-link" %></span> you know have taken up this challenge</p>
      <!--<input type="button" value="PAUSE" class="btn FR">-->
      <div class="CL"></div>
      <!-- <span class="FL greyTxt"><i class="fa fa-calendar"></i> <%= challenge_dates.first.strftime('%d/%m/%Y') %> to <%= challenge_dates.last.strftime('%d/%m/%Y') %></span> -->
      <div class="CL"></div>
      <div class="barBx ">
        <div class="proBar" style="width:<%= user_progress %>%;"></div>
      </div>
      <div style="margin-top: 2px;">
        <span class="FL greyTxt hidden-xs hidden-sm"><%= user_progress %>% completed</span> <span class="FR greyTxt"><i class="fa fa-clock-o"></i><%= current_user_activity.days_left %> more days to go</span>
      </div>
      <div class="CL"></div>
      <p style="line-height:1;"></p>

      <p class="hidden-xs hidden-sm"style="line-height:1; color: #006464; font-weight: bold;">Performance Trend</p>
      <p style="line-height:1;"></p>
      <div class="bars-target hidden-xs hidden-sm">
        <p class="col-md-2 title"> Current </p>
        <div class="progress blank col-md-5">
          <div class="progress-bar" role="progressbar" style="width:<%= relative_progress %>%;"></div>
        </div>
        <p class="col-md-4" style="font-size: 10px"><%= current_user_activity.average %></p>
      </div>
      <div class="CL"></div>
      <div class="bars-target hidden-xs hidden-sm">
        <p class="col-md-2 title"> Target </p>
        <div class="progress col-md-5 target">
          <div class="progress-bar" role="progressbar" style="width: 75%;"></div>
        </div>
        <p class="col-md-4" style="font-size: 10px"><%= current_user_activity.daily_goal %></p>
      </div>
      <div class="CL"></div>
      <div class="bars-target hidden-xs hidden-sm">
        <p class="col-md-2 title"> Required </p>
        <div class="progress blank col-md-5">
          <div class="progress-bar progress-b-<%= progress_bar_color relative_progress %>" role="progressbar" style="width: <%= relative_progress_required %>%"></div>
        </div>
        <p class="col-md-4" style="font-size: 10px"><%= user.total_required_run_rate %></p>
      </div>
      <div class="CL"></div>
    </div>
  </div>
  <div class="col-md-5 rightcontainer">
    <span class="greyTxt hidden-xs"><i class="fa fa-calendar"></i> <%= challenge_dates.first.strftime('%d/%m/%Y') %> to <%= challenge_dates.last.strftime('%d/%m/%Y') %></span>
    <div class="altGrBx">
      <i class="bulbIcon"></i><p style="color: #006464; font-weight: bold">Expert Insight</p>
      <div class="col-xs-10" id="user_profile_challenge" style="text-align: justify; margin-left: -15px;">
        <%= (Qualification.profile(user)).html_safe %>
      </div>
      <div class="CL"></div>
    </div>
    <div class="altGrBx" style="margin-bottom: 9px;">
      <i class="bulbIcon"></i><p style="color: #006464; font-weight: bold">Tip of the day</p>
      <div class="col-xs-10" id="user_profile_challenge" style="text-align: justify; margin-left: -15px;">
        <%= Action.where(tag: 'Tip of the Day').sample.message.html_safe %>
      </div>
      <div class="CL"></div>
    </div>
  </div>
</div>
