<!-- Alert in current challenge if profile not complete -->

<div class="red-bottom"><i class="fa fa-exclamation-circle"></i>
	Your profile is incomplete. We need to know more about you and your lifestyle to recommend a 30 day fitness plan best suited for you. <%= link_to 'Update Profile', update_profile_path %></a>
</div>