<div class="modal fade" id="currentChallengeupdateprofileModal" tabindex="-1" role="dialog" aria-labelledby="updateProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content panel panel-default">
      <div class="modal-header panel-heading brand" style="background: #fff;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title" id="welcomeModalLabel" style="color: #646464;">
          <div class="col-xs-12" style="text-align: center; font-family: 'Flexo Demi';">
          <div class="col-md-2"><img src="/id.png"></div>
          <div class="col-md-10"></div>
            <p style="text-align: justify;">We’re missing you. You’ve completed your 7-day warm up.<br/>
            Update your profile, so our expert coaches know you better and can recommend your next 4-Week Training Plan.</p>
         </div>
        </h5>
        <div class="CL"></div>
      </div>
      <div class="modal-body col-md-12">
      <div class="col-md-5"><p class="head_modal">WHAT'S NEXT ...</p></div>
      <div class="col-md-12" id="text_modal">
        <p>Update your profile so that our expert coaches can understand your lifestyle better, provide personal feedback as well as recommend fitness and diet challenges best suited for you.</p>
        <% if current_user.friends_in_monthly_challenges > 0 %>
          <p>
            <%= pluralize(current_user.friends_in_monthly_challenges, 'friend') %> you know have started their 4-Week Training Plans. You are 1 step away from joining them.
          </p>
        <% end %>
      </div>

    <div class="col-md-12">
      <div class="col-md-9"></div>
      <div class="col-md-2"><%= link_to 'Update Profile', update_profile_path, class: "btn btn-branding", style: "margin-left: 3.5em;"%></div>
    </div>
    </div>

  </div>
      <div class="modal-footer panel-footer no-margin brand" style="text-align: center; background: #fff; padding-top: 0.5em; border-top: 1em solid #646464; font-family:'Flexo Demi';">
       <p style="padding-top: 1.3em;">Your 4-Week Training Plan will start as you soon as you finish your warm up and your profile. Keep your profile and activity data updated for our experts to recommend your 4-Week Training Plan.</p>

      </div>
    </div>
  </div>
</div>