<div class="modal fade" id="dailyInputModal" tabindex="-1" role="dialog" aria-labelledby="dailyInputModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header widgetTitle">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <span class="modal-title" id="dailyInputModalLabel">Update Daily Activity</span>
        <div class="CL"></div>
      </div>
      <div class="modal-body postBx">
        <%= render 'dashboards/daily_input', daily_activity: daily_activity %>
      </div>
    </div>
  </div>
</div>
