<div class="postBx">
  <div style="text-align: left">
    <%= form_for daily_activity, remote: false do |f|%>
      <div class="row">
        <!--<div class="col-md-3">-->
        <%#= f.label :date, :style => 'padding-top:15px;' %>
        <!--<i class="flaticon-simple18"></i>-->
        <!--</div>-->
        <div class="col-md-12">
          <div class="input-group date">
            <%= f.text_field :start_time, :class => "form-control", :value => date_value(daily_activity, current_user), 'data-min'.to_sym => date_min(daily_activity), 'data-max'.to_sym => date_max(daily_activity), 'data-excluded'.to_sym => date_excluded(daily_activity).map!(&:to_s).join(','), 'data-behaviour'.to_sym => 'datepicker' %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          </div>
        </div>
      </div><br/>

      <div class="row">
        <!--<div class="col-md-3">-->
        <%#= f.label :steps_walked %>
        <!--<i class="flaticon-footsteps"></i>-->
        <!--</div>-->
        <div class="col-md-12">
          <%= f.number_field :steps_covered, class: "form-control",min: 1000,max:100000,required: true, :placeholder => 'Steps Walked' %>
        </div>
      </div>

      <div class="row">
        <!--<div class="col-md-3">-->
        <%#= f.label :calories_burnt %>
        <!--<i class="flaticon-fire14"></i>-->
        <!--</div>-->
        <div class="col-md-12">
          <%= f.number_field :calories,class:"form-control", :placeholder => 'Calories Burnt' %>
        </div>
      </div>

      <div class="row">
        <!--<div class="col-md-3">-->
        <%#= f.label :calories_burnt %>
        <!--<i class="flaticon-fire14"></i>-->
        <!--</div>-->

        <div class="col-md-11" id="smile">
        <span>How did your day feel?</span>
          <div class="top col-xs-12">
            <input type="radio" class="radiobutton" name="daily_activity[feel]" id="Awesome" value="Awesome"><label for="Awesome"><img src="/Awesome.png"></label></input>
            <input type="radio" class="radiobutton" name="daily_activity[feel]" id="Good" value="Good"><label for="Good"><img src="/Good.png"></label></input>
            <input type="radio" class="radiobutton" name="daily_activity[feel]" id="Tired" value="Tired"><label for="Tired"><img src="/Tired.png"></label></input>
          </div>
          <div class="top-label col-xs-12">
            <span class="">Awesome</span>
            <span class="">Relaxed</span>
            <span class="">Tired</span>
          </div>
          <!--<div class="bottom">
            <input type="radio" id="Ok"><label for="Ok"><img src="/OK.png"></label></input>
            <input type="radio" id="Great"><label for="Great"><img src="/Great.png"></label></input>
            <input type="radio" id="Painful"><label for="Painful"><img src="/Painful.png"></label></input>
          </div> -->
        </div>
      <div>
        <% if daily_activity.new_record? or daily_activity.start_time == Time.now.to_date %>
          <%= f.submit "Save",class: "btn btn-warning col-xs-12 disabled", style: "margin-bottom: 1.3em;" %>
        <% else %>
          <%= f.submit "Save",class: "btn btn-warning col-xs-12", 'data-average'.to_sym => current_user.last_week_average_steps_covered, onclick: "$('#dailyInputModal').modal('hide');", style: "margin-bottom: 1.3em;" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

