<div id="feedbackwidget">
	<div class="col-md-12">
		<span class="headLine1 lBluTxt" style="padding-bottom: 2em;"> DOWNLOAD </span>
		<br/>
		
		<div class="row">
			<div class="col-md-3"></div>
		<div class="col-md-4"><img src="Download.png" style="padding: 1em; height: 64px; width: 64px; margin-left: 1em "></div>
		</div>
		<div class="row">
			<p style="font-weight: bold; text-align: center; margin-top: 1em;">Get the windows app</p>
		</div>
		<br />
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-4" id="a_button" style="margin-left: 0em;"><a href="https://dl.dropboxusercontent.com/u/2796/app/getfitgo%20APP-setup%20for%20JP-1301%20USB.exe" target="_blank"><input type="button" class="btn btn-branding" value="Download" style="margin-bottom: 1em;"></a></div>
		</div>
		
	</div>
</div>
    
