<div class="panel panel-default panel-info">
  <div class="panel-heading">
    <%= image_tag '/Quick Tip icon.png', :size => '40x40' %>
  </div>
  <div class="panel-body">
    <div>
      <div><h6><i class="fa fa-quote-left pull-left fa-border"></i> <%= ['Enjoy fast food weekly, but make smart choices.', 'Drink 3 litres of water everyday.', 'Try and take staircases instead of lift as much as possible.', 'Eat salad before meals.', 'Have your juice with fibres. Don\'t throw away that precious roughage.', 'Go out for a walk for about 30 minutes every day in the morning. Remain fresh throughout the day.', 'Count four colors in each  meal, and no, Gems don\'t count. :)'].sample %></h6></div>
      </h6>
    </div>
  </div>
</div>
