<div class="widgetTitle"> <span>EXPERTS RECOMMEND</span> <a href="#." class="FR">View All </a>
  <div class="CL"></div>
</div>
<div class="widgetCnt">
  <ul class="eventLi expEtn">
    <li>
      <div class="evName">Why Bike to Work?<span>Jeff Harey</span></div>
      <div class="evnAtt">
        <div class="upGAr"></div>
        +29</div>
      <img src="images/test-img.jpg" width="70" height="70" alt="" class="FL" style="margin-right:8px; margin-top:2px;">
      <div>Cycling is low-impact exercise that can be enjoyed by people of all ages. Regular cycling has many …</div>
      <div class="CL"></div>
    </li>
    <li>
      <div class="evName"><a href="#.">Health benefits of cycling </a><span>Jeff Harey</span></div>
      <div class="evnAtt">
        <div class="upGAr"></div>
        +29</div>
    </li>
    <li>
      <div class="evName"><a href="#.">Having almonds in the morning</a><span>Jeff Harey</span></div>
      <div class="evnAtt">
        <div class="upGAr"></div>
        +29</div>
    </li>
  </ul>
</div>
