<div class="widgetBx hidden-sm hidden-xs" id="feel">
	<div class="widgetTitle widgetnew headLine1">
		<span class="brand heading">REASONS TO BE FIT</span>
	</div>
	<div class="widgetCnt" id="widget-feel">
		<img src="<%= @dashboard.random_feel_image %>">
	</div>

</div>