<div id="feedbackwidget">
	<div class="col-md-12">
		<span class="headLine1 lBluTxt" style="padding-bottom: 2em;"> YOUR FEEDBACK </span>
		<br/>
		<div class="row">
			<div class="col-md-3"></div>
		<div class="col-md-4"><img src="user-feedback.png" style="padding: 1em; height: 64px; width: 64px; margin-left: 1em "></div>
		</div>

		<br />
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-4" style="margin-left: 1em;"><a href="http://getfitgo.freshdesk.com/support/tickets/new" ><input type="button" class="btn btn-branding" value="Tell us" style="margin-bottom: 1em;"></a></div>
		</div>

	</div>
</div>