<div class="widgetTitle headLine1 widgetnew" >
  <span>YOUR DATE OF BIRTH</span>
  <div class="CL"></div>
</div>
<div class="widgetCnt" id="questions" class="lifestyle_check_dob" style="padding-bottom: 40px;">
  <div class="row">
  <span class="col-md-1"><img src="/Personal Information.png"></span>
    <p> Tell us about your lifestyle and get personalised tips and recommendations from our experts.</p>
    <p>Your date of birth</p>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" >
     <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :multipart => true}, :remote => true) do |f| %>
      <div class="input-group date" style="margin-top: 20px;">
          <div class="row" style="margin-bottom: 1em;">
            <div class="col-md-3" style="padding-top: 10px;">
              <%= f.label :birth_date %>
            </div>
            <div class="col-md-9">
              <div class="input-group date">
                <%= f.text_field :birth_date, placeholder: "DD/MM/YYYY", :autocomplete => "off",class: "form-control",'data-behaviour'.to_sym => 'datepicker','data-max'.to_sym => "01/01/#{18.years.ago.year}", :value => if resource.birth_date; resource.birth_date.strftime('%d/%m/%Y') end %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
              </div>
            </div>
          </div>
        </div>
        <%= f.hidden_field :tab, :value => from %>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-5"></div>
            <div class="col-md-4">
             <%= f.submit 'Update', class:'btn-branding continue-bt btn' %>
             </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>