<div class="widgetTitle headLine1 widgetnew" >
	<span>YOUR ACTIVEQUOTIENT</span>
	<div class="CL"></div>
</div>
<div class="widgetCnt" id="questions">
  <div class="row">
    <span class="col-md-1"><img src="/ActiveQuotient.png"></span>
    <p style="margin-bottom: 1.6em;"> Tell us about your lifestyle and get personalised tips and recommendations from our experts.</p>
    <div class="col-md-10">
    	<%= form_for(@attempt, :url => questionnaires_attempts_path(@attempt) + "#survey") do |f| %>
      <%= render 'questionnaires/attempts/form',f: f %>
    <% end -%>
    </div>
  </div>
  <div class="row"></div>
</div>