
 <% if !@unanswered_questions.first.nil? %>
    <%= render 'dashboards/lifestyle_check_question', attempt: @attempt %>
  <% elsif !user.bmi.is_a? Float %>
    <%= render 'dashboards/lifestyle_check_bmi' %>
  <% elsif !user.age %>
      <%= render 'dashboards/lifestyle_check_dob',resource: user, resource_name:"user", from:"DOB_dashboard" %>
  <% end %>