<div class="widgetTitle headLine1 widgetnew" >
	<span>YOUR BODY MASS INDEX</span>
	<div class="CL"></div>
</div>
<div class="widgetCnt" id="questions">
  <div class="row">
    <span class="col-md-1"><img src="/BMI.png"></span>
    <p> Tell us about your lifestyle and get personalised tips and recommendations from our experts.</p>
    <p>Calculate your BMI</p>
    <div style="text-align: left">
      <%= render 'devise/shared/bmi_calculator_form', :resource => current_user, :resource_name => "user", from:"BMI_dashboard" %>
    </div>
  </div>
</div>