<% if i == 0 %>
  <div class="item active" id="<%= notification.id %>">
<% else %>
  <div class="item" id="<%= notification.id %>">
<% end %>
    <div class="inner-item">
      <div class="col-md-3">
        <%= image_tag(notification.attachment.try(:url), size: '100x100') %>
      </div>
      <div class="col-md-9">
        <h4 class="yellowTxt"><%= notification.subject.html_safe %></h4>
        <p><%= notification.body.html_safe %></p>
      </div>
    </div>
  </div>