<div class="widgetCnt">
  <div id="notificationsCarousel" class="carousel slide">
    <div class="carousel-inner">
      <% notifications.each_with_index { |notification, i| %>
        <%= render 'dashboards/notification', notification: notification, i: i %>
      <% } %>
    </div>
    <a class="left carousel-control hidden-xs hidden-sm" href="#notificationsCarousel" data-slide="prev" style="vertical-align:middle; margin-left: -50px;"><span class="rigtArIcon mirror-img" style="margin-top: 15px;"></span></a>
    <a class="right carousel-control hidden-xs hidden-sm" href="#notificationsCarousel" data-slide="next" style="vertical-align:middle; margin-right: -20px;"><span class="rigtArIcon" style="margin-top: 15px;"></span></a>
  </div>
</div>