<div class="modal fade" id="profilePicModal" tabindex="-1" role="dialog" aria-labelledby="profilePicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content panel panel-default">
      <div class="modal-header panel-heading brand" style="background: #fff;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5><strong>Update your picture</strong></h5>
        <div style="padding-left: 21%;">
          <span class="btn fileinput-button photo_file_upload col-md-offset-3">
            <img src='/camera_icon_profile.png'/>
            <%= f.file_field :photo, :class => 'btn btnFile', onclick: "setTimeout(function(){$('#profilePicModal').modal('hide');},1000);" %>
          </span>
          <%= f.hidden_field :tab, :value => "Photo" %>
        </div>
        <div class="CL"></div>
        <br/>
        <h5><strong>Or try out an avatar</strong></h5>
        <%= form_for(current_user, :url => user_registration_path, :html => {:method => :put, :multipart => true}, :remote => true) do |f| %>
          <%= render 'devise/shared/profile_pic' %>
          <%= f.submit 'Change', class: 'btn-branding btn btn-lg', id: 'change_avatar_button', style: 'display: none;', onclick: "setTimeout(function(){$('#profilePicModal').modal('hide');},1000);" %>
        <% end %>

        <div class="CL"></div>
      </div>
    </div>
  </div>
</div>