<div class="avatarTbx hidden-xs"></div>
<div class="avatarBx user_photo">
  <div class="avatarInfo hidden-xs user_photo">
    <% if current_user.eql?(user) && current_user.photo.url != "/tshirt%20blue.png" %>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :multipart => true, id: "edit_user_dashboard"}, :remote => true) do |f| %>
        <div class="row">
          <div class="col-md-12" style="position:relative">
            <%= avatar(user) %>
            <span class="btn fileinput-button photo_file_upload col-md-offset-3" style="position:absolute;top:50%;left: 15%;" onclick="$('#profilePicModal').modal('show');">
              <img  src='/camera_icon_profile.png'/>
            </span>
          </div>
        </div>
        <%= render 'dashboards/profile_pic', f: f %>
      <% end %>
    <% elsif current_user.eql?(user) && current_user.photo.url == "/tshirt%20blue.png"%>
      <%= avatar(user) %>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :multipart => true, id: "edit_user_dashboard"}, :remote => true) do |f| %>
        <span class="fileinput-button" style="float:right;" onclick="$('#profilePicModal').modal('show');">
          <img class="hidden-xs" src='/camera_icon_profile.png'/>
        </span>
        <%= render 'dashboards/profile_pic', f: f %>
      <% end %>
    <% else %>
      <%= link_to avatar(user), user_path(user.id) %>
    <% end %>
    <div class="mobInfo">
      <p class="avatarTxt"><%= link_to user.user_name, user_path(user.id) %></p>
      <span id="photo_spinner" style="display:none;position:relative;float:left;margin-left:60%;margin-top:10%;"><img class="loader" src='/loader3.gif'/></span>
      <p><%= user.living %></p>
      <% unless (current_user.eql? user) %>
          <% if current_user.mutual_friends.include?(user) %>
            <%= link_to "Friend", friendships_path(:friend_id => user.id), :method => :post, class: "btn btn-primary", disabled: true %>
          <% elsif  !current_user.friendships.find_by(friend_id: user.id) %>
            <%= link_to "Add Friend", friendships_path(:friend_id => user.id), :method => :post, class: "btn btn-branding",remote: true,id:"friend" %>
          <% elsif  !(current_user.friendships.find_by(friend_id: user.id).confirmed?) %>
            <%= link_to "SENT REQUEST", friendships_path(:friend_id => user.id), :method => :post, class: "btn btn-primary", disabled: true %>
          <% end %>
        <% end %>
      </div>
    <div class="CL"></div>
  </div>
  <p class="dexCnt">
    <!--Duis placerat nisi et neque lao-->
    <!--ornare. Duis vitae dolor eget-->
    <!--dignissim luctus ac nec mi. Pra-->
    <!--dictum lectus.-->
  </p>
  <div class="mobCnt">
    <div class="badgeBx">
      <% user.badges.each { |badge| %>
        <%= image_tag badge.image %>
      <% } %>
    </div>
    <a href="#." class="rightArTxt"><span class="blueTxt"><%= pluralize(user.achievements.count, 'badge') %></span> won<span class="rigtArIcon"></span></a>
    <div class="CL"></div>
  </div>
</div>
<div class="col-xs-12">
  <% if current_user.eql?(user) %>
<span class="col-xs-4 hidden-xs hidden-sm"></span>
<p class="hidden-sm hidden-md hidden-lg col-xs-8"><%= link_to user.user_name, user_path(user.id) %></p>
<% end %>
</div><div class="CL"></div>
<div class="avProInfoBx">
  <ul class="infoList dexCnt">
    <!-- <li>
      <span class="liTxt">Fitness Quotient</span> <span class="conTxt">9/10</span>
      <div class="CL"></div>
    </li> -->
     <li>
     <span class="liTxt">Level</span> <span class="conTxt"  style="font-size: 15px;"><%= user.current_level %></span>

      <div class="CL"></div>
    </li>
    <li>
    <span class="liTxt">Lifestyle Rating</span> <span class="conTxt" style="margin-top: -2px;">
        <span id="fitness_level"><% if @unanswered_questions.first.nil? && user.fitness %>
          <% user.fitness.number_of_stars.times do %>
          <i class="fa fa-star success"  width="8"></i>

          <% end %>
          <% (5-user.fitness.number_of_stars).times do %>
            <i class="fa fa-star fail"  width="8"></i>
          <% end %>

          <% elsif current_user.eql?(user) %>
            <%= link_to "Take survey",edit_user_registration_path + "#survey",style: "font-size:60%;color:orange;" %>
          <% end %>
        </span>
      </span>
      <div class="CL"></div>
    </li>
    <li>

      <span class="liTxt"><% if current_user.eql? user %>My<% else %><%= user.user_name.split(' ').first %>'s<% end %> Points</span> <span class="conTxt" style="font-size: 15px;"><%= user.score %></span>
      <div class="CL"></div>
    </li>
  </ul>
</div>
<!--<p>Profile visits 45 : today 21</p>-->
<% if (current_user.eql?(user)) && @team == nil %>
  <%= render 'dashboards/bmi_chart', :user => user %>
<% end %>