<% days ||= '0' %>
<div class="updatBtnGrp">
  
  <button class="btn-branding btn updatBtn hidden-xs " data-toggle="modal" data-target="#dailyInputModal">Update</button>
  <!-- <button class="btn-branding" onclick="resizeHandler();" rel="tooltip" title="Refresh data" style="margin-top: 1px;"><i class="fa fa-refresh"></i></button> -->
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#steps" data-toggle="tab">Steps Covered</a></li>
  <li class=""><a href="#calories" data-toggle="tab">Calories Burnt</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="steps">
    <%= content_tag :div, "", id: "steps_covered_chart", :style => 'height: 172px;', data: {report: report(user, {:days => days, :filter => 'steps_covered'}) } %>
  </div>
  <div class="tab-pane fade" id="calories">
    <%= content_tag :div, "", id: "calories_chart", :style => 'height: 172px;', data: {report: report(user, {:days => days, :filter => 'calories'}) } %>
  </div>
</div>

<script>
  drawChart('steps_covered', 'Steps Covered', '#00c8c8');
  drawChart('calories', 'Calories Burnt', '#fa9600');
</script>

