<% days ||= 0 %>
<% steps_covered ||= 0 %>
<% total_calories_burnt ||= 0 %>
<% total_steps_to_kms ||= 0 %>

<% last_updated_daily_activity = user.last_updated_daily_activity %>
<% activities = user.daily_activities.sort { |x, y| x.start_time <=> y.start_time } %>

<% unless activities.empty? %>
  <% case days %>
  <% when 0 %>
    <% start_time ||= activities.first.start_time.to_date %>
  <% else %>
    <% start_time = Date.today - days.days %>
  <% end %>

  <% (start_time..(Date.today)).map do |date| %>
    <% steps_covered = user.steps_covered({ days: days }) %>
    <% total_calories_burnt = user.total_calories_burnt({ days: days }) %>
    <% total_steps_to_kms = user.total_steps_to_kms({ days: days }) %>
  <% end %>
<% end %>

<ul class="syncTabL">
  <div class="btn-group">
    <a href="javascript:void(0);" class="filter-days active" data-user="<%= user.id %>" data-days="0">Overall</a>
    <a href="javascript:void(0);" class="filter-days" data-user="<%= user.id %>" data-days="1">Yesterday</a>
    <a href="javascript:void(0);" class="filter-days" data-user="<%= user.id %>" data-days="7">Last Week</a>
    <a href="javascript:void(0);" class="filter-days" data-user="<%= user.id %>" data-days="30">Last Month</a>
    <div class="clearfix visible-xs"></div>
  </div>
  <li class="infoLine hidden-xs hidden-sm">Last updated for: <%= (last_updated_daily_activity.start_time.strftime("#{last_updated_daily_activity.start_time.day.ordinalize} %B, %Y") + ' at ' + last_updated_daily_activity.updated_at.strftime("%I:%M %p") + ' on ' + last_updated_daily_activity.updated_at.strftime("#{last_updated_daily_activity.updated_at.day.ordinalize} %B, %Y")) rescue 'Pending' %> </li>
  <div class="CL"></div>
</ul>
<div class="tabBx">
  <ul class="sec4bxL">
    <div class="col-xs-12">
      <li class="col-xs-4">
        <h2>Footsteps</h2>
        <i class="rFoot"></i><span class="orCount"><%= steps_covered %></span>
        <div class="CL"></div>
      </li>
      <li class="col-xs-4">
        <h2>Calories Burnt</h2>
        <i class="rCalo"></i><span class="orCount"><%= total_calories_burnt %></span>
        <div class="CL"></div>
      </li>
      <li class="col-xs-4">
        <h2>Kms <span class="hidden-xs">walked</span></h2>
        <i class="rWalk"></i><span class="orCount"><%= total_steps_to_kms %></span>
        <div class="CL"></div>
      </li>
      <!--<li class="col-xs-3">-->
        <!--<h2><strong>Fully Active</strong></h2>-->
        <!--<i class="rAct"></i><span class="orCount">4 hrs</span>-->
        <!--<div class="CL"></div>-->
      <!--</li>-->
    </div>
    <div class="CL"></div>
  </ul>
</div>
