<div class="widgetTitle"> <span>MY TEAMS</span>
  <input type="button" value="CREATE TEAM" class="btn FR">
  <a href="#." class="FR">View all my Team</a>
  <div class="CL"></div>
</div>
<div class="teamBx"> <span class="teamTitile">Striders</span> <span class="teamMem"><strong>36</strong> members</span> </div>
<div class="widgetCnt">
  <div class="avatrBx">
    <div class="FL"><img src="images/avatar.jpg" width="60" alt="" class="avatarImg">
      <p align="center">Owner</p>
    </div>
    <div class="FR tpMb"><img src="images/avatar.jpg" width="40" alt="" class="avatarImg"> <img src="images/avatar.jpg" width="40" alt="" class="avatarImg"> <img src="images/avatar.jpg" width="40" alt="" class="avatarImg"> <img src="images/avatar.jpg" width="40" alt="" class="avatarImg">
      <p>Top Performers</p>
    </div>
    <div class="CL"></div>
    <div class="tabRound"><img src="images/r-round.png" width="40" height="40" alt=""> <img src="images/h-round.png" width="40" height="40" alt=""></div>
    <div class="r-cont">
      <div class="arrow"></div>
      <h2 style="border-bottom:1px solid #e1b400; padding-bottom:5px;">Challenge : <br>
        20000 steps a day</h2>
      <div class="barBx whBar">
        <div class="proBar" style="width:50%;"></div>
      </div>
      <span class="FL greyTxt">50% completed</span> <span class="FR greyTxt">9 days to go</span>
      <div class="CL"></div>
      <div class="stepBx">
        <div class="stepL"><i class="urIcon"></i> 400 steps</div>
        <div class="stepR"><i class="urIcon"></i><i class="urIcon"></i><i class="urIcon"></i><i class="urIcon"></i> 400 steps</div>
        <div class="CL"></div>
      </div>
    </div>
  </div>
</div>
