<div class="widgetTitle"> <span>MY UPCOMING EVENTS</span> <a href="#." class="FR">View All EVENTS</a>
  <div class="CL"></div>
</div>
<div class="widgetCnt">
  <ul class="eventLi">
    <li>
      <div class="evName"><a href="#.">Sunday Marathon</a><span>in 2 days</span></div>
      <div class="evnAtt">12 attending</div>
    </li>
    <li>
      <div class="evName"><a href="#.">Sunday Marathon</a><span>in 2 days</span></div>
      <div class="evnAtt">12 attending</div>
    </li>
    <li>
      <div class="evName"><a href="#.">Sunday Marathon</a><span>in 2 days</span></div>
      <div class="evnAtt">12 attending</div>
    </li>
  </ul>
</div>
