<div class="modal fade" id="updateProfileModal" tabindex="-1" role="dialog" aria-labelledby="updateProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content panel panel-default">
      <div class="modal-header panel-heading brand">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title" id="welcomeModalLabel" style="color: #646464;">
          <div class="col-xs-12" style="text-align: center;">
            <% if current_user.profile %>
              Thank you for updating your profile. Our experts can now recommend personal tips and challenges to help you achieve your fitness and health goal
            <% else %>
              Seems like you want to get started right away. We’re cool with that, but please ensure you come back and update it over the next week for sure.<br/><br/>
              Our Coaches can only recommend a personal Training Plan for you once they get to know more about you and your lifestyle.
            <% end %>
          </div>
        </h5>
        <div class="CL"></div>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="" style="text-align: center;">
            <h3 style="color: #00c8c8;">What's next ...</h3>
            <div class="CL"></div>
          </div>
          <div class="">
            <div class="col-xs-12">
              <h4>
                <div class="col-md-4">
                  <div class="row">
                    <div style="text-align: center"><%= image_tag '/map.png', size: '64x64' %></div>
                  </div>
                  <div style="text-align: center; color: #faaf00;"><strong>TRACK</strong></div>
                  <p style="line-height: 1"></p>
                  <p style="text-align: center">Track your daily steps and calories burnt with your <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span> device</p>
                </div>

                <div class="col-md-4">
                  <div class="row">
                    <div style="text-align: center"><%= image_tag '/chart.png', size: '64x64' %></div>
                    <div style="text-align: center; color: #faaf00;"><strong>UPDATE</strong></div>
                    <p style="line-height: 1"></p>
                    <p style="text-align: center">
                      Update it on your <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span> <%= link_to 'dashboard', dashboard_path %> & review your progress
                    </p>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="row">
                    <div style="text-align: center"><%= image_tag '/heart.png', size: '64x64' %></div>
                  </div>
                  <div style="text-align: center; color: #faaf00;"><strong>#FEELGOODNOW</strong></div>
                  <p style="line-height: 1"></p>
                  <p style="text-align: center">Your <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span> personal trainer tracks your progress, provides personal feedback and tips and plans what’s next and best for you</p>
                </div>
              </h4>
            </div>
            <div class="CL"></div>
          </div>
        </div><br/><br/>
      </div>
      <div class="modal-footer panel-footer no-margin brand" style="text-align: center;">
        Your 4-Week Training Plan will start as you soon as you finish your warm up. Keep your profile and activity data updated for our experts to recommend your 4-Week Training Plan.
      </div>
    </div>
  </div>
</div>