<div class="widgetBx">
  <p style="color: #006464; font-weight: bold">What's next ...</p>
  <div class="widgetCnt">
    <div class="col-xs-12">
      <div class="col-md-4">
        <div class="row">
          <div style="text-align: center"><%= image_tag '/track.png', size: '100x100' %></div>
        </div>
        <div style="text-align: center"><strong>TRACK</strong></div>
        <p style="line-height: 1"></p>
        <p style="text-align: center">Track your daily steps and calories burnt with your <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span> device</p>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div style="text-align: center"><%= image_tag '/Update.png', size: '100x100' %></div>
          <div style="text-align: center"><strong>UPDATE</strong></div>
          <p style="line-height: 1"></p>
          <p style="text-align: center">
            Update it on your <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span> <%= link_to 'dashboard', dashboard_path %> & review your progress
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div style="text-align: center"><%= image_tag '/Feedback.png', size: '100x100' %></div>
        </div>
        <div style="text-align: center"><strong>FEEDBACK</strong></div>
        <p style="line-height: 1"></p>
        <p style="text-align: center">Your <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span> personal trainer tracks your progress, provides personal feedback and tips and plans what’s next and best for you</p>
      </div>
    </div>
    <div class="CL"></div>
    <div class="row">
      <p style="line-height: 1"></p>
      <ul class="" style="line-height: 2 !important;">
        <li>
          <i class=""></i> Your first 4-Week Training Plan starts immediately after the warm up stage (first week)
        </li>
        <li>
          <i class=""></i> Keep walking, running and being active like you have always been doing and see how you breeze through the challenge
        </li>
      </ul>
    </div>
  </div>
</div>