<% current_challenge = current_user_activity.challenge %>
<% user_progress = user.progress %>
<% challenge_dates = current_user_activity.dates %>

<div class="widgetCnt" style="float: left; height: 100%; width: 100%; border #000 1px solid">
  <div class="col-md-7 col-xs-12 col-sm-12 leftcontainer" style="position: relative; float: left;">
    <div class="runIcon hidden-xs hidden-sm"></div>
    <div class="dlRnIfo"> <span class="greyTitle" style="color: #006464;"><%= current_challenge.number_of_days %> day warm up
    </span>
    <!-- <input type="button" value="PAUSE" class="btn FR"> -->
    <div class="CL"></div>
    <span class="FL greyTxt"><i class="fa fa-calendar"></i> <%= user.current_challenge.challenge_status %> </span>
    <div class="CL"></div>
    <div class="barBx">
      <div class="proBar" style="width:<%= user_progress %>%;"></div>
    </div>
    <div style="margin-top: 2px;">
      <span class="FL greyTxt hidden-sm hidden-xs"> Updated: <%= user.current_challenge.updated_daily_activities.count %> of <%= current_challenge.number_of_days %> <%= 'day'.pluralize(user.current_challenge.updated_daily_activities.count) %> </span> <span class="FR greyTxt"><i class="fa fa-clock-o"></i><%= current_user_activity.days_left %> more days to go</span>
    </div>
    <div class="CL"></div>
    <!-- <p style="line-height:1;"></p>
    <p style="line-height:1;"><div class="FL">Average run rate: </div><div class="FR"><%= current_user_activity.average %> steps/day</div></p> -->
    <div class="CL"></div><br/>
    <div style="text-align: justify">
      <p class="trend-title hidden-xs hidden-sm">Performance Trend</p>
      <div class="bars-target hidden-xs hidden-sm">
        <p class="col-md-2 title"> Average </p>
        <!-- Average steps -->
        <div class="progress col-md-5" style="height: 6px;">
          <div class="progress-bar current" style="width:<%= (current_user_activity.average.to_f/15000*100).round(0) %>%;"></div>
        </div>
        <p class="col-md-4" style="font-size: 10px"><%= current_user_activity.average %> steps</p></div>
        <!-- <div class="progress col-md-7" style="height: 14px;">
          <div class="progress-bar progress-bar-success"></div>
        </div>
        <p class="col-md-5" style="font-size: 10px">Average steps: To be updated</p> -->
      </div>
    </div>
  </div>
  <div class="col-md-5 col-xs-12 col-sm-10 rightcontainer">
    <div class="altGrBx" style="margin-bottom: 9px;">
      <i class="bulbIcon"></i><p style="color: #006464; font-weight: bold">Tip of the day</p>
      <div class="col-xs-12" style="text-align: justify; margin-left: 1.5em;">
        <%= (Qualification.profile user).html_safe %>
      </div>
      <div class="CL"></div>
    </div>
  </div>
  <% unless current_user.profile %>
    <!-- profile incomplete render alert -->
    <%= render "dashboards/current_challenge_alert" %>
  <% end %>
</div>
