<% week_number = ((Date.today - current_user.current_challenge.start_time.to_date).to_i + 1)/7 %>
<% week = (week_number.eql? 1) ? 'second' : (week_number.eql? 2) ? 'third' : 'fourth'  %>
<% applicable_daily_activities = current_user.current_challenge.daily_activities.where.not(steps_covered: nil).where(start_time: [(Date.today - 7.days)...Date.today]) %>
<% less_activity_data = applicable_daily_activities.count <= 3 %>
<% best_performance = applicable_daily_activities.order(steps_covered: :desc).first %>
<% worst_performance = applicable_daily_activities.order(steps_covered: :desc).last %>
<% weekly_average = (applicable_daily_activities.sum(:steps_covered)/applicable_daily_activities.count).round(0) rescue applicable_daily_activities.sum(:steps_covered) %>
<% applicable_achievements = Achievement.where(user_id: current_user.id).last(3) %>
<% leaders_ids = current_user.current_challenge.challenge.user_activities.where(status: 'Progress').select { |ua| ua.updated_daily_activities.count >= 5 }.map(&:user_id) %>
<% leader = User.find(leaders_ids).sort_by { |user| -user.current_challenge.average }.first %>
<% leader_name = if leader.eql? current_user; 'You'; else; leader.user_name.split(' ').first if leader; end; %>
<% applicable_points = Point.where(user_id: current_user.id, created_at: [(Date.today - 6.days)..Date.today]).sum(:score) %>
<% badges_to_be_won = Badge.where("badges.id NOT IN (?)", current_user.badges.pluck(:id)).to_a.sort_by{rand}.first(4) %>
<% achievements_to_be_unlocked = []; achievements_to_be_unlocked << badges_to_be_won; achievements_to_be_unlocked.flatten!  %>

<div class="modal fade" id="weeklyUpdateModal" tabindex="-1" role="dialog" aria-labelledby="weeklyUpdateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content panel panel-default">
      <div class="modal-header panel-heading brand">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title" id="weeklyUpdateModalLabel" style="color: #646464;">
          <div class="col-xs-12" style="text-align: center; font-family: 'Flexo Demi';">
            <div class="run col-xs-offset-1 col-xs-1 hidden-xs hidden-sm">
              <img src="/walk_man_round.png">
            </div>
            <div class="col-xs-10" style="text-align: left; margin-top: 15px; font-size: 125%;">
              <strong>You’re into your <%= week %> week of the challenge. <% if less_activity_data %>We’ve been missing you.<% else %>How do you feel?<% end %></strong>
            </div>
          </div>
          </h5>
          <div class="CL"></div>
        </div>
        <div class="modal-body col-md-12" style="text-align: center;padding-bottom: 30px;">
          <div class="col-md-12" style="text-align: justify;">
          <span class="head_modal" style="color: #009696">YOUR 4-WEEK TRAINING PLAN</span>
            <span class="modal_link"><%= link_to 'VIEW CHALLENGE', challenge_path(current_user.current_challenge.challenge.id), style: "color: #faaf00;", target: '_blank' %></span>
          </div>
          <div class="col-md-6 leftcontainer">
            <div class="col-md-12">
              <strong style="color: #009696">
                  <% if less_activity_data %>We’ve been missing you.<% else %>Weekly digest<% end %>
              </strong><br/><br/>
              <p style="float: right;">
                <% if less_activity_data %>
                  We haven't heard much from you. Have you been tracking your daily activity? Update your steps and calories burned on <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span> and get feedback from our Coaches. <%= link_to 'Update activity', "javascript:void(0);", class: 'colored-link', 'data-toggle'.to_sym => "modal", 'data-target'.to_sym => "#dailyInputModal", 'data-dismiss'.to_sym => "modal" %>
                <% else %>
                  <% if week_number.eql? 1 %>
                    Consistency is key in creating a new habit, so be sure that you get something in at least 5 days a week.
                  <% elsif week_number.eql? 2 %>
                    It's ok to take a day off once a week or choose a day to pursue any other fitness activity. Spice it up a bit!
                  <% else %>
                    Try cycling instead of walking for a few days and work your leg muscles.
                  <% end %>
                <% end %>
              </p>
              <div class="CL"></div>
              <div class="bigText"><%= current_user.steps_to_minutes({pure: true}) %></div>
              <span class="col-md-3"></span>
              <strong><span class="centered col-md-6" style="font-size: 110%">more minutes each day</span></strong>

              <div class="CL"></div>
            </div>
          </div>
          <div class="col-md-6 rightcontainer">
            <div class="col-xs-12 first">
              <% offset = (less_activity_data && leader.nil?) ? 'col-xs-offset-4' : (leader.nil? || less_activity_data) ? 'col-xs-offset-2' : '' %>
              <% if best_performance %>
                <div class="col-xs-4 <%= offset %>">
                  <p style="min-height: 25px;"><strong style="color: #009696;">Best Day</strong><p>
                  <p><%= best_performance.steps_covered %> steps</p>
                  <p><%= best_performance.start_time.strftime("#{best_performance.start_time.day.ordinalize} %B") %></p>
                </div>
              <% end %>
              <% unless less_activity_data %>
                <% offset = (best_performance.nil? && leader.nil?) ? 'col-xs-offset-4' : (leader.nil? || best_performance.nil?) ? 'col-xs-offset-2' : '' %>
                <div class="col-xs-4 <%= offset %>">
                    <p style="min-height: 25px;"><strong style="color: #009696;">Week's Average</strong></p>
                    <p><%= weekly_average %> steps</p>
                </div>
              <% end %>
              <% if leader %>
                <% offset = (best_performance.nil? && less_activity_data) ? 'col-xs-offset-4' : (less_activity_data || best_performance.nil?) ? 'col-xs-offset-2' : '' %>
                <div class="col-xs-4 <%= offset %>">
                  <p style="min-height: 25px;"><strong style="color: #009696;">Performer of the Week</strong></p>
                  <p><%= link_to leader_name, user_path(leader.id), method: :get, target: '_blank', class: 'btn btn-sm btn-branding', style: 'background-color: #009696;font-size: 10px !important;margin-top: 5px;' %></p>
                </div>
              <% end %>
              <div class="CL"></div>
              <p style="text-align: center;"><strong><%= link_to 'How have others been doing?', challenge_path(current_user.current_challenge.challenge.id) %></strong></p>
            </div>
            <div class="CL"></div>
            <div style="border: 1px solid #e1e1e1;">
              <p></p>
              <div class="col-md-12 second">
                <% unless less_activity_data %>
                  <p style="text-align: justify;"><strong style="color: #009696;">Achievements this week</strong></p>
                  <% unless applicable_achievements.empty? && (applicable_points.eql? 0) %>
                    <% unless applicable_achievements.empty? %>
                      <div class="col-md-8">
                        <div class="row">
                          <% applicable_achievements.each { |badge| %>
                            <div class="col-xs-4" style="text-align: center; width: 25%;<%= unless badge.is_a?(StreakBadge); 'margin-left: 10px; margin-right: 10px;'; end  %>">
                              <%= image_tag badge.badge.image, rel: 'tooltip', title: "#{badge.badge.name}", style: "#{unless badge.is_a?(StreakBadge); "margin-left: 10px; margin-right: 10px; #{if badge.is_a?(CummulativeBadge); 'margin-top: 5px;'; end }"; end }" %>
                            </div>
                          <% } %>
                        </div>
                      </div>
                    <% end %>
                    <div class="col-md-4" style="margin-top: 15px;white-space: nowrap">
                      <p><strong><%= applicable_points %> points</strong></p>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="col-md-12 third">
                <p style="text-align: justify;"><strong style="color: #009696;">Achievements to be unlocked</strong></p>
                <div class="row">
                  <% achievements_to_be_unlocked.each { |badge| %>
                    <div class="col-xs-4" style="text-align: center; width: 25%;">
                      <%= image_tag badge.image, class: 'greyed-out', rel: 'tooltip', title: "#{badge.name}", style: "#{unless badge.is_a?(StreakBadge); "margin-left: 10px; margin-right: 10px; #{if badge.is_a?(CummulativeBadge); 'margin-top: 5px;'; end }"; end }" %>
                    </div>
                  <% } %>
                </div>
              </div>
              <div class="CL"></div>
            </div>
            <% if current_user.identities.find_by(provider: "facebook") %>
              <%#= link_to image_tag('/ufb.png',id:"fb"), post_challenge_join_path(current_user.current_challenge.challenge), class: "share FR col-md-4", style: "padding-top: 2em;" %>
            <% end %>
            <div class="CL"></div>
          </div>
        </div>
      <!-- <div class="modal-footer panel-footer no-margin brand" style="text-align: center; background: #fff; padding-top: 0.5em; border-top: 1em solid #646464; font-family:'Flexo Demi';">
        <p style="padding-top: 1.3em;"></p>Your 4-Week Training Plan will start as you soon as you finish your warm up. Keep your profile and activity data updated for our experts to recommend your 4-Week Training Plan.
      </div> -->
    </div>
  </div>
</div>