<% content_for(:title, 'My Dashboard') %>

<% # TODO: View variable to be shifted to controller %>
<% # replace all variables with @dashboard.user and put them inside the UserDashboard class %>
<% user = @dashboard.user %>
<% user ||= current_user %>
<% achievements = @dashboard.user.achievements.includes(:badge).order('created_at DESC') %>
<% achievements_count = achievements.count %>
<% badges_to_be_won = Badge.where("badges.id NOT IN (?)", current_user.badges.pluck(:id)).order(:achievement_order) %>
<% achievements << badges_to_be_won; achievements.flatten! %>
<% # END TODO %>

<div class="leftWapper">
  <h1 class="page-title">My Dashboard</h1>
  <span id="dashboard_profile">
    <%= render 'dashboards/profile', user: user, resource: current_user, resource_name: 'user' %>
  </span>
  <div class="CL"></div>
  <%= render 'dashboards/feel' %>
  <div class="feedback-widget hidden-xs hidden-sm">
   <%= render 'dashboards/feedback_widget', user: user %>
  </div>
   <div class="CL"></div>
  <div class="widgetBx hidden-xs hidden-sm">
    <%= render 'dashboards/downloadapp' %>
  </div>

</div>

<div class="rightWapper">
  <% unless (notifications = @dashboard.unread_notifications).empty? %>
    <div id="notifications" class="notifications">
      <%= render 'dashboards/notifications', notifications: @dashboard.unread_notifications %>
    </div>
  <% end %>

  <div class="syncTab">
    <%= render 'dashboards/sync', user: user %>
  </div>
<!-- Update button for responsive view -->
 <div class="hidden-lg hidden-md hidden-sm" id="update_user">
  <% if (current_user.eql? user) %>
    <div class="col-xs-12 updatBtnGrp hidden-lg hidden-md hidden-sm" id="update_button_large_full_screen">
      <button class="btn-branding btn updatBtn col-xs-12" data-toggle="modal" data-target="#dailyInputModal">Update</button>
    </div>
  <% end %>
</div>
<div class="CL"></div>
  <div class="achivevBx hidden-xs hidden-sm"><span class="achiveTitle"><%= 'ACHIEVEMENT'.pluralize(achievements_count).upcase + " (#{achievements_count})" %></span>
    <%= render 'dashboards/achievements_carousel', achievements: achievements, user: user, size: 64 %>
    <div class="CL"></div>
  </div>
  <div class="widgetBx">
    <div id="user-report">
      <div class="hidden-xs"><%= render 'dashboards/report', user: user %></div>
      <%= render 'dashboards/daily_input_modal', daily_activity: @dashboard.daily_activity %>
      <div class="CL"></div>
    </div>
  </div>
  <div class="widgetBx hidden-xs hidden-sm lifestyle_profile_widget">
    <%= render 'dashboards/lifestyle_profile_widget', :user => current_user %>
  </div>

  <div class="widgetBx">
      <%= (render 'dashboards/challenge_widget', user: user, view_challenge: true, current_user_activity: user.current_challenge) if user.confirmed? %>
  </div>
  <div class="CL"></div>

  <div class="subBx2x FL">
    <div class="widgetBx">
      <%#= render 'dashboards/team' %>
    </div>
    <div class="widgetBx">
      <%#= render 'dashboards/active_connections' %>
    </div>
    <div class="widgetBx hidden-xs" id="community">
      <%= render 'dashboards/community', user: user  %>
    </div>
  </div>
  <div class="subBx2x FR" style="margin-bottom: 10px;">
    <div class="widgetBx" id="activity_feed">
      <%= render 'users/activity_feed', user: user %>
    </div>
    <div class="widgetBx">
      <%#= render 'dashboards/up_coming_events' %>
    </div>
    <div class="widgetBx">
      <%#= render 'dashboards/experts_recommend' %>
    </div>
  </div>
  <div class="CL"></div>
</div>
<%= render 'dashboards/update_profile_modal' %>
<% if UserInformationDispatch.find_by(user_id: current_user.id, information: 'Challenge completed', count: 1) %>
  <%= render 'dashboards/challenge_completion_modal' %>
<% end %>
<% if current_user.current_challenge.challenge.not_warm_up? %>
  <%= render 'dashboards/current_challenge_modal' %>
  <%= render 'dashboards/weekly_update_modal' %>
<% else %>
  <%= render 'dashboards/current_challenge_update_profile_modal' %>
<% end %>
<% if session[:achievements_unlocked] && session[:achievements_unlocked][:overlay] %>
  <%= render 'dashboards/achievements_unlocked' %>
<% end %>

<script>
  <% if request.referrer && (request.referrer.include? '/update_profile') && (0..6).include?((Date.today - current_user.confirmed_at.to_date).to_i) %>
    <% if current_user.profile %>
      <% if (UserInformationDispatch.find_by(user_id: current_user.id, information: 'Update profile completed').count >= 1) %>
        $('#updateProfileModal').modal('show');
        <% uid = UserInformationDispatch.find_by(user_id: current_user.id, information: 'Update profile completed'); uid.count -= 1; uid.save %>
      <% end %>
    <% else %>
      <% if (UserInformationDispatch.find_by(user_id: current_user.id, information: 'Update profile skipped').count >= 1) %>
        $('#updateProfileModal').modal('show');
        <% uid = UserInformationDispatch.find_by(user_id: current_user.id, information: 'Update profile skipped'); uid.count -= 1; uid.save %>
      <% end %>
    <% end %>
  <% end %>

  <% if ((Date.today - current_user.confirmed_at.to_date).to_i >= 7) %>
    <% if current_user.current_challenge.challenge.not_warm_up? %>
      <% if (UserInformationDispatch.find_by(user_id: current_user.id, information: 'Challenge transition successful').count >= 1) %>
        $('#currentChallengeModal').modal('show');
        <% uid = UserInformationDispatch.find_by(user_id: current_user.id, information: 'Challenge transition successful'); uid.count -= 1; uid.save %>
      <% end %>
    <% else %>
      <% if (UserInformationDispatch.find_by(user_id: current_user.id, information: 'Challenge transition unsuccessful').count >= 1) && current_user.profile.nil? %>
        $('#currentChallengeupdateprofileModal').modal('show');
        <% uid = UserInformationDispatch.find_by(user_id: current_user.id, information: 'Challenge transition unsuccessful'); uid.count -= 1; uid.save %>
      <% end %>
    <% end %>
  <% end %>

  <% if current_user.current_challenge.challenge.not_warm_up? %>
    <% day_of_challenge = (Date.today - current_user.current_challenge.start_time.to_date).to_i + 1 %>
    <% if ([8,16,24].include? day_of_challenge) %>
      <% if (UserInformationDispatch.find_by(user_id: current_user.id, information: "Week #{(day_of_challenge/7.0).ceil} update").count >= 1) %>
        $('#weeklyUpdateModal').modal('show');
        <% uid = UserInformationDispatch.find_by(user_id: current_user.id, information: "Week #{(day_of_challenge/7.0).ceil} update"); uid.count -= 1; uid.save %>
      <% end %>
    <% end %>
  <% end %>

  <% if session[:achievements_unlocked] && session[:achievements_unlocked][:overlay] %>
    $('#achievementsUnlockedModal').modal('show');
    <% session[:achievements_unlocked][:overlay] = false %>
  <% end %>

  <% if (UserInformationDispatch.find_by(user_id: current_user.id, information: 'Challenge completed', count: 1)) %>
      $('#challengeCompletionModal').modal('show');
    <% uid = UserInformationDispatch.find_by(user_id: current_user.id, information: 'Challenge completed'); uid.count -= 1; uid.save %>
  <% end %>

  setTimeout(updateNotifications, 60000);
</script>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
