<div class="widgetCnt">
  <div class="joinForm" style="min-height:120px; background-color: transparent; padding: 0px; margin-top: 0px;">
    <div class="memberImg" style="width: 20%;"><img src="/seven.png" style="width:40px;height:40px;"></div>
    <div class="memDesignation">
      <p class="headLine1" style="padding-top: 10px;">Health benefits of walking</p>
      <p>&nbsp;</p>
      <ul style="margin-left: 20px;">
        <li><p>1. Increased heart and lung fitness</p></li>
        <li><p>2. Reduced risk of heart disease and stroke</p></li>
        <li><p>3. Strengthen immune system</p></li>
        <li><p>4. Stronger bones and improved balance</p></li>
        <li><p>5. Increased muscle strength and endurance</p></li>
        <li><p>6. Reduced body fat</p></li>
        <li><p>7. Increased self esteem</p></li>
      </ul>
    </div>
  </div>
</div>