<% date = user.current_challenge.start_time %>
<div class="avatarTbx challangeTbx"></div>
<div class="avatarBx">
  <div class="avatarInfo"><img src="/challange-avatar.jpg" alt="" class="challangeAvatImg">
    <div class="mobInfo">
      <p class="avatarTxt">Fitness</p>
      <p><strong><%= challenge.number_of_days/7 %> weeks</strong></p>
    </div>
    <div class="CL"></div>
  </div>
  <p align="center" class="blueTxt"><%= challenge.participating_users.count %> members participating</p>
  <hr/>
  <p align="center">You started on <strong><%= date.strftime("#{date.day.ordinalize} %B, %Y") %></strong></p>
</div>