<div class="teamBox" style="min-height:260px;">
  <div class="joinChallange">
    <% if current_user.identities.find_by(provider: "facebook") %>
      <div class="FR">
        <%= link_to image_tag('/ufb.png',id:"fb"), post_challenge_join_path(current_user.current_challenge.challenge), class: "fbIcon share col-md-4", style: 'margin-left: -6.5em; padding-top: 3.5em;"' %>
        <div class="CL"></div>
      </div>
    <% end %>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="headLine4" style="font-family:'Flexo Heavy';"><%= challenge.number_of_steps %> steps in <%= challenge.number_of_days/7 %> weeks</p>
    <div class="col-xs-12" >
      <div class="col-xs-4" id="minutes_per_day">
        <div class="bigText" style="margin-left: -25px;"><%= current_user.current_challenge.challenge.number_of_minutes %></div>
        <span class="centered col-xs-12">minutes of focused walking each day.</span>
        <div class="CL"></div>
      </div>
      <div class="col-xs-8" id="trainer">
        <div class="joinForm" id="trainer_form" style="min-height:120px;">
          <div class="memberImg" id="trainer" style="width: 40%;"><img src="/Khushboo.jpg" alt="Khushboo Sahijwani, Diet & Nutrition Consultant" style="width:90px;height:75px;"></div>
          <div class="memDesignation" style="padding-top: 20px;">
            <p class="headLine2">Khushboo Sahijwani</p>
            <p>Diet & Nutrition Consultant</p>
            <p>&nbsp;</p>
            <p><i class="fa fa-quote-left"></i><em>Walking is a gentle, low-impact form of exercise that’s easy, free and suitable for people of all ages.<br/><br/>Simply going on a daily walk will go a long way to help burning belly fat.</em> <i class="fa fa-quote-right"></i></p>
            </div>
            <div class="CL"></div>
          </div>
        </div>
      </div>
      <div class="CL"></div>
    </div>
    <div class="challangeLine">
      <img src="/challange-icon.png" width="36" height="58" alt="" class="challangeIcon">
      <ul class="challangeStapes">
        <li><img src="/challange-stape.png" width="22" height="30" alt=""></li>
        <li><img src="/challange-stape.png" width="22" height="30" alt=""></li>
        <li><img src="/challange-stape.png" width="22" height="30" alt=""></li>
        <li><img src="/challange-stape.png" width="22" height="30" alt=""></li>
        <li><img src="/challange-stape.png" width="22" height="30" alt=""></li>
      </ul>
      <div class="CL"></div>
    </div>
    <div class="CL"></div>
  </div>