<div class="widgetBx">
  <div class="widgetTitle">
    <span class="brand">
      <span style="color:#00c8c8">get</span><span style="color:#fa9600">fit</span><span style="color:#00c8c8">go</span> champs
    </span>
    <div class="CL"></div>
  </div>
  <div class="widgetCnt" style="position:relative;">
    <div class="table-responsive" style="overflow-x: auto">
      <table class="col-xs-12">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th style="text-align: right">Average</th>
          </tr>
        </thead>
        <tbody>
          <% leaders.to_enum.with_index(1) { |user, position| %>
          <tr style="height: 64px;">
            <td style="margin-right: 20px;">
              <%= display_picture user, 'leaderboard' %>
            </td>
            <td style="text-align: justify;">
              <%= link_to truncate(user.user_name.split(' ').first, :length => 20), user_path(user.id) %>
            </td>
            <td class="hidden-xs">
              <%= (image_tag "/Leaderboard #{position.ordinalize}.png", :size => '64x64') if [1, 2, 3].include? position %>
            </td>
            <td style="text-align: right">
              <%= user.current_challenge.average %><br/><span class="hidden-xs">steps</span>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <div class="CL"></div>
    </div>
  </div>
</div>
