Total points earned: <%= current_user.points %>
Total steps covered: <%= challenge.progress[1] %>
Target till now: <%= challenge.progress[0] %>
End target: <%= challenge.goal %>
<% if challenge %>
  Average: <%= challenge.average.round %>
<% end %>
Daily Target: <%= challenge.daily_goal %>
You need to do <%= challenge.daily_goal - challenge.average.round %>
<%= content_tag :div, "", id: "orders_chart", data: {orders: daily_activity_chart_data} %>
<script>
  new Morris.Line({
    element: 'orders_chart',
    data: $('#orders_chart').data('orders'),
    xkey: 'start_time',
    ykeys: ['steps_covered'],
    labels: ['Steps Covered'],
    xLabels: ['day'],
    goals: [<%= "#{challenge.challenge.number_of_steps/challenge.challenge.number_of_days}" %>],
    goalStrokeWidth: [2],
    goalLineColors: ["red"],
    smooth: ["false"]
  });
</script>
