<% if @team %>
  <% @challenges.each do |challenge| %>
    <%= link_to "#{challenge.name} ", [@team, challenge] %>
  <% end %>
<% else %>
  <% @challenges.each do |challenge| %>
    <%= link_to "#{challenge.name} #{challenge.number_of_days} days #{challenge.number_of_steps} steps", challenge %>
  <% end %>
<% end %>
