<% content_for(:title, 'My 4-Week Training Plan') %>
<% user = @user %>
<% user ||= current_user %>

<%# if user.current_challenge && (user.current_challenge.challenge.eql? @challenge) %>
  <% if !(current_user.eql? user) && current_user.identities.find_by(provider: "facebook") %>
    <%= link_to image_tag('/ufb.png',id:"fb"), post_challenge_join_path(@challenge) %>
  <% end %>
  <div class="leftWapper" id="training_plan">
    <h1 class="page-title">My 4-Week Training Plan</h1>
    <%#= render 'dashboards/profile', user: user %>
    <%= render 'challenge_mini_profile', challenge: @challenge, user: user %>
  </div>

  <div class="rightWapper">
    <div class="FR" style="margin-top: -20px;margin-bottom: 10px;"><%= link_to 'View dashboard', dashboard_path, :class => "colored-link" %></div>
    <div class="CL"></div>
    <%= render 'challenge_details', challenge: @challenge, user: user %>
    <br/>
    <div class="subBx2x FL">
      <% unless @leaders.empty? %>
        <div class="widgetBx no-margin" style="margin-top: -10px !important;" id="leaderboard_training">
          <%= render 'leaderboard', leaders: @leaders %>
        </div>
      <% end %>
      <div class="widgetBx" style="margin-bottom: 20px; <%= 'margin-top: -10px;' if @leaders.empty? %>">
        <%= render 'dashboards/community', user: user, title: 'Challenge' %>
      </div>
    </div>

    <div class="subBx2x FR">
      <div class="widgetBx no-margin" id="challenge_widget_training">
        <%= (render 'users/challenge_widget', user: user, view_challenge: false, current_user_activity: user.current_challenge) if user.confirmed? %>
      </div>
      <br/>
      <div class="widgetBX no-margin">
        <%= render 'challenges/article'  %>
      </div>
      <!-- <br/>
      <div class="widgetCnt">
        <div class="FL">Have you input all your recent Activity Data?</div>
        <br/><br/>
        <div class="FR"><%= link_to 'Update Activity', dashboard_path, :class => "btn-branding btn" %></div>
        <div class="CL"></div>
      </div> -->
   <%# elsif !(current_user.eql? user) && current_user.user_activities.where(challenge: @challenge, status: "Completed").count >  0 && current_user.identities.find_by(provider: "facebook") %>
      <%= link_to image_tag('/ufb.png',id:"fb"), post_challenge_completion_path(@challenge) %>
   <%# end %>
    </div>
  </div>
