<% if @error %>
  alert("Please post a Web page URL that you would like to share with your friends");
<% end %>
$('#new_post').html("<%= escape_javascript(render "shared/post_form") %>");
var s = '<div id="<%= "activity_#{@post.id}_#{@post.class}" %>"><%= escape_javascript(render "activities/activity", current_user: current_user, user: @user, activity: @post) %></div>';
var div = document.createElement('div');
div.innerHTML = s;

$('#buzz').prepend($(div.firstChild).hide().fadeIn('slow'));
$("#post_spinner").hide();
