@import "bootstrap";

.btnFile {
  background-color: transparent !important;
  color: none !important;
}

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.radio {
  display: inline !important;
}

label {
  display: inline !important;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  //width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .form-group;
  @extend .has-error;
}

hr.style-three {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

hr.style-six {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

iframe, object, embed {
  max-width: 100%;
}

.scroll-down {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 1;
}

.carousel-control {
  background-image: none !important;
}

.square {
  width: 20px;
  height: 20px;
}

.greyed-out {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.disabled-button {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: ghostwhite;
  opacity: .8;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -36px; /* -1 * image width / 2 */
  margin-top: -36px; /* -1 * image height / 2 */
  display: block;
}

.dropdown-toggle:active, .open .dropdown-toggle {
  background: dimgrey !important;
  //color:#000 !important;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}

#footer {
  background-color: #f5f5f5;
  // margin-top: 20px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* icons */
[class^="custom-"],
[class*=" custom-"] {
  display: inline-block;
  width: 17px;
  height: 16px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("/custom-icons.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="custom-"]:last-child,
[class*=" custom-"]:last-child {
  *margin-left: 0;
}

.custom-QuickTipicon {
  background-position: 0 0;
  width: 100px;
  height: 100px;
  transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5); /* IE 9 */
  -moz-transform: scale(0.5, 0.5); /* Firefox */
  -webkit-transform: scale(0.5, 0.5); /* Safari and Chrome */
  -o-transform: scale(0.5, 0.5); /* Opera */
}

.custom-Walkingmanwithroundborder {
  background-position: -105px 0;
  width: 100px;
  height: 100px;
  transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5); /* IE 9 */
  -moz-transform: scale(0.5, 0.5); /* Firefox */
  -webkit-transform: scale(0.5, 0.5); /* Safari and Chrome */
  -o-transform: scale(0.5, 0.5); /* Opera */
}

.glyphicon.glyphicon-chevron-left {
  margin-left: -30px;
}

.glyphicon.glyphicon-chevron-right {
  margin-right: -30px;
}

.panel-info > .panel-heading {
  //background-color: #00c8c8;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}
