<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
 @import: url(http://alpha.getfitgo.in/fonts/flexo-regular-webfont.woff);
  @import: url(alpha.getfitgo.in/fonts/flexo-thin-webfont.woff);
  @import: url(alpha.getfitgo.in/fonts/flexo-demi-webfont.woff);
  @font-face {
  font-family: 'Flexo';
  src: url('alpha.getfitgo.in/fonts/flexo-demi-webfont.woff') format('woff'),
       url('alpha.getfitgo.in/fonts/flexo-thin-webfont.woff') format('woff'); 
}
body{ margin:0px; padding:0px; font-size:12px; font-family:Flexo,Fallback,sans-serif; font-variant: Flexo Thin; }
p{ margin:0px; padding:0px; }
</style>
</head>

<body>
<table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" valign="top" style="padding:0 50px;"><img src="<%= ENV["HOST"] %>/mail1/get-logo.jpg" width="185" height="93" alt="" style="vertical-align:middle; margin-right:20px;" /><span style="font-size:24px; color:#9fa4a4; vertical-align:middle;"><%= User.confirmed_users.count%> members</span></td>
  </tr>
  <tr>
    <td align="left" valign="top" style="background-color:#006464; padding:0 50px 50px; color:#FFF;"><table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="right" valign="top" style="padding:10px 0px;"><%= Time.now.to_date %></td>
      </tr>
      <tr>
        <td align="left" valign="top" style="background-color:#FFF; font-size:14px; color:#646464; padding:20px 0px;"><table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="168" align="left" valign="top"><img src="<%= ENV["HOST"] %>/mail1/view-img.jpg" width="168" height="101" alt="" /></td>
            <td width="432" align="left" valign="top" style="padding-right:60px;"><p style="font-size:24px; font-weight:bold; color:#009696;">Hi <%= User.find_by(email: @email).user_name %></p>


              <p>Being Fit and Eating Healthy is is no easy task, often people find this extremely challenging. Many of us are so deeply conditioned to our regular routine of sleep, travel and work that we often find ourselves dedicating little or no time to take care of our our most precious asset - our Body !</p>
              <p>&nbsp;</p>
              <p>For the past 6 months, we have been brainstorming on a creating a Digital Health platform that can help people like us pursue our Wellness goals and an Active lifestyle. We understand that often times, the biggest challenge is in getting started and sustaining the motivation to continue and we hope to build a solution that starts with the user first and builds the experience around him or her. We call this getfitgo - the Social and Personal way to Good Health</p>
              <p>&nbsp;</p>
              <p style="background:#faaf00; width:275px; padding:10px 0; text-align:center; border-radius:5px;"><%= link_to 'CONFIRM MY ACCOUNT', confirmation_url(@resource, :confirmation_token => @token), style: "color: #fff; text-decoration: none;" %></p></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="left" valign="top" height="10"></td>
      </tr>
      <tr>
        <td align="left" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="351" align="left" valign="top" style="background-color:#FFF; color:#646464; padding:20px 50px; "><p style="padding-right:60px;"><p style="font-size:24px; font-weight:bold; color:#009696;">getfitgo is all about</p>
              <p>&nbsp;</p>
              <table width="100%" border="0" align="center" cellpadding="0" cellspacing="5">
                <tr>
                  <td width="13%" align="left" valign="top"><img src="<%= ENV["HOST"] %>/mail1/img1.jpg" width="30" height="30" alt="" /></td>
                  <td width="87%" align="left" valign="top"><strong>Connecting</strong> with your friends, take up challenges together and track each others activities</td>
                  </tr>
                <tr>
                  <td align="left" valign="top">&nbsp;</td>
                  <td align="left" valign="top">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" valign="top"><img src="<%= ENV["HOST"] %>/mail1/img2.jpg" width="30" height="30" alt="" /></td>
                  <td align="left" valign="top"><strong>Tracking</strong> your daily activities with your getfitgo device and enter the details online. Earn extra points for entering your activity daily </td>
                  </tr>
                <tr>
                  <td align="left" valign="top">&nbsp;</td>
                  <td align="left" valign="top">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" valign="top"><img src="<%= ENV["HOST"] %>/mail1/img3.jpg" width="30" height="30" alt="" /></td>
                  <td align="left" valign="top"><strong>Enjoying</strong> the rewards and <br />
                    recognitions</td>
                  </tr>
              </table>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p><strong>It’s really easy! <br />
                You’ll find out as you get started</strong><br />
              </p>
              <p>&nbsp;</p>
              <p style="background:#faaf00; width:275px; padding:10px 0; text-align:center; border-radius:5px;">Get Started</p>
              <p>&nbsp; </p></td>
            <td width="209" align="left" valign="top" style="padding:20px 10px; background-color:#e1e1e1; color:#646464;"><p style="font-size:16px; color:#009696; font-weight:bold;">Here’s how getfitgo works</p>
              <p>&nbsp;</p>
              <p><img src="<%= ENV["HOST"] %>/mail1/video-img.jpg" width="209" height="117" alt="" /></p>
              <p>&nbsp;</p>
              <p style="font-size:16px; color:#009696; font-weight:bold;">Member Speak</p>
              <p>&nbsp;</p>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="26%" align="left" valign="top"><img src="<%= ENV["HOST"] %>/mail1/user-img.jpg" width="40" height="40" alt="" /></td>
                  <td width="74%" align="left" valign="top"><p style="font-size:16px; font-weight:bold;">Pankaj Udas</p>
                    <p>Marketing Head, Infosys</p></td>
                </tr>
              </table>
              <p><strong>Lorem ipsum dolor sit amet, consectetur adipisci</strong></p>
              <p>&nbsp;</p>
              <p>Morbi nec commodo nunc. Nulla varius accumsan augue at blandit. Nullam lobortis turpis ... <a href="#." style="color:#007dfa; text-decoration:none;">Read more</a></p>
              <p>&nbsp;</p></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" valign="top" style="padding-top:50px;"><p>You are receiving this email because you are a member or getfitgo<br />
          This is an auto-generated email adress, please do not reply to this email.<br />
          Read our <a href="#." style="color:#007dfa; text-decoration:none;">Privacy Policy</a> here.</p>
          <p>&nbsp;</p>
          <p>© getfitgo.in 2014. All rights reserved<br />
            Andheri, Mumbai 400 005</p>
          <p>&nbsp;</p>
          <p>Wish to <a href="#." style="color:#007dfa; text-decoration:none;">Unsubscribe</a> from emails?, <a href="#." style="color:#007dfa; text-decoration:none;">click here</a><br />
            or Change your <a href="#." style="color:#007dfa; text-decoration:none;">notification settings</a></p>
          <p></p></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
