<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Invitation Email</title>
<style type="text/css">
 @import: url(http://alpha.getfitgo.in/fonts/flexo-regular-webfont.woff);
  @import: url(alpha.getfitgo.in/fonts/flexo-thin-webfont.woff);
  @import: url(alpha.getfitgo.in/fonts/flexo-demi-webfont.woff);
  @font-face {
  font-family: 'Flexo';
  src: url('alpha.getfitgo.in/fonts/flexo-demi-webfont.woff') format('woff'),
       url('alpha.getfitgo.in/fonts/flexo-thin-webfont.woff') format('woff'); 
}
body{ margin:0px; padding:0px; font-size:15px; font-family:Flexo,Fallback,sans-serif; font-variant: Flexo Thin; }
p{ margin:0px; padding:0px;  }
a{color: #fff; text-decoration: none;color: #646464;}
td{color: #646464;}
</style>
</head>

<body>
<table width="700px" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" valign="top" style="padding:0 50px;"><img src="<%= ENV["HOST"] %>/mail1/get-logo.jpg" width="185" height="93" alt="" style="vertical-align:middle; margin-right:20px;" /><span style="font-size:24px; color:#9fa4a4; vertical-align:middle;"><%= User.confirmed_users.count%> members</span></td>
  </tr>
  <tr>
    <td align="left" valign="top" style="background-color:#006464; padding:0 50px 50px; color:#FFF;"><table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="right" valign="top" style="padding:10px 0px;"><%= Time.now.to_date %></td>
      </tr>
      <tr>
        <td align="left" valign="top" style="background-color:#FFF; font-size:14px; color:#646464; padding:20px 0px;"><table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="168" align="left" valign="top"><img src="<%= ENV["HOST"] %>/mail1/view-img.jpg" width="168" height="101" alt="" /></td>
            <td width="432" align="left" valign="top" style="padding-right:60px;"><p style="font-size:24px; font-weight:bold; color:#009696;">Hi <%= @resource.email %></p><br/>
              <p><%= User.find(@resource.invited_by_id).user_name %> has invited you to join getfitgo.Why don't you try it out?</p><br/>


              <p style="background-color:#faaf00; border:0px; padding:4px 8px; border-radius:3px; text-align: center; float: right"><%= link_to 'ACCEPT INVITATION',  accept_invitation_url(@resource, :invitation_token => @token), style: "color:#FFF;text-decoration: none;"%></p></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="left" valign="top" height="10"></td>
      </tr>
      <tr>
        <td align="left" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td  align="left" valign="top" style="background-color:#FFF; color:#646464; padding:20px; "><p style="padding-right:0px;"><p style="font-size:16px; font-weight:bold; color:#009696;">getfitgo is a cool new way to walk, run, and perform other fitness activities and
                            </p>
              <p>&nbsp;</p>
              <table width="100%" border="0" align="center" cellpadding="0" cellspacing="5">
                <tr>

                <td width="13%" align="left" valign="top"><img src="<%= ENV["HOST"] %>/mail1/img1.jpg" width="30" height="30" alt="" /></td>
                  <td width="97%" align="left" valign="top" ><strong>Connect</strong> with your friends, and perform your daily fitness activities together.</td>
                  </tr>
                <tr>
                  <td align="left" valign="top">&nbsp;</td>

                </tr>
                <tr>

                <td width="13%" align="left" valign="top"><img src="<%= ENV["HOST"]%>/mail1/img2.jpg" width="30" height="30" alt="" /></td>
                  <td align="left" valign="top"><strong>Track</strong> your daily activities with a getfitgo device. </td>
                  </tr>
                <tr>
                  <td align="left" valign="top">&nbsp;</td>
                </tr>
                <tr>
                <td width="13%" align="left" valign="top"><img src="<%= ENV["HOST"] %>/mail1/img3.jpg" width="30" height="30" alt="" /></td>
                  <td align="left" valign="top"><strong>Get smart tips</strong> and feedback from getfitgo fitness experts.</td>
                  </tr>
              </table>
              <p>&nbsp;</p>

              <p><strong style="color: #faaf00">#feelgoodnow</strong> and enjoy the Rewards and Recognition.It's really easy! You’ll find out as you get started!<br />
              </p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p align="left">All the best!</p>
              <p align="left">Team getfitgo </p></td>

          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" valign="top" style="padding-top:50px; color: black;"><p>
          This is an auto-generated email, please do not reply to this email.<br />
          Read our <a href="<%= ENV["HOST"] %>/policy" style="color:#007dfa; text-decoration:none;">Privacy policy</a> here.</p>
          <p>&nbsp;</p>
          <p>© getfitgo.in 2014. All rights reserved<br />
            Andheri, Mumbai 400 059</p>

          <p></p></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
