<% # TODO: Indent properly and make it DRY! %>
<% if (current_user.eql? user) %>
  <% unless activity.deleted %>
    <li>
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
          <div class="col-md-2 col-xs-2 col-sm-2">
            <%= link_to image_tag(activity.photo.url(:thumb), size: '40x40'), activity.user_to_link_to %>
          </div>
          <div class="col-md-10 col-xs-10 col-sm-10">
            <% if activity.class == Post %>
              <% if (current_user.eql? user) %>
                <% if !activity.user.eql?(current_user) %>
                  <% if activity.image.exists? %>
                    <% if activity.creator.eql?(current_user) %>
                      You posted a picture on <%= link_to activity.user.user_name, activity.user %>'s page.
                    <% else %>
                      <% if activity.creator.eql?(activity.user) %>
                        <%= link_to activity.creator.user_name, activity.creator %> posted a picture:
                      <% else  %>
                        <%= link_to activity.creator.user_name, activity.creator %> posted a picture on <%=link_to activity.user.user_name, activity.user %>'s page
                      <% end %>
                    <% end %>
                  <% else %>
                    <% if activity.creator.eql?(current_user) %>
                      You posted on <%=link_to activity.user.user_name, activity.user %>'s page.
                    <% else %>
                      <% if activity.creator.eql?(activity.user) %>
                        <%= link_to activity.creator.user_name, activity.creator %> posted:
                      <% else  %>
                        <%= link_to activity.creator.user_name, activity.creator %> posted on <%= link_to activity.user.user_name, activity.user %>'s page
                      <% end %>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if activity.image.exists? %>
                    <% if activity.creator.eql?(current_user) %>
                     You posted a picture:
                    <% else %>
                      <%= link_to activity.creator.user_name, activity.creator %> posted a picture on your page
                    <% end %>
                  <% else %>
                    <% if activity.creator.eql?(current_user) %>
                     You posted:
                    <% else %>
                      <%= link_to activity.creator.user_name, activity.creator %> posted on your page
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>

              <br><br>
              <p><%= activity.name.html_safe %></p>
              <% if activity.image.exists? %>
                <%= link_to image_tag(activity.image.url(:thumb)),activity.image.url(:large), data: { lightbox: activity.id } %>
                <% if @status %>
                  <%= @status.html_safe %>
                <% end %>
              <% end %>
            <% else %>
              <p><%= activity.name.html_safe %></p>
            <% end %>
            <div style="margin-top: 10px;">
              <span style="float:left;">
                <span id="activity_<%= activity.id %>_count"><%= render 'activities/wow_count', activity: activity %></span>
                <% if !(user.voted_for?(activity)) %>
                  <span id="activity_<%= activity.id %>_icon"><%= render 'activities/self_wow_icon', activity: activity %></span>
                  <span id="activity_<%= activity.id %>_comment_count"><%= render 'activities/comment_count', activity: activity %></span>
                  <%= link_to "javascript:void(0);" do %>
                    <i class="msgIcon" onclick="showComments('<%= activity.class.to_s %>','<%= activity.id %>')"></i>
                  <% end %>
                <% elsif (user.voted_for?(activity)) %>
                  <span id="activity_<%= activity.id %>_icon"><%= render 'activities/self_unwow_icon', activity: activity, user: user %></span>
                  <span id="activity_<%= activity.id %>_comment_count"><%= render 'activities/comment_count', activity: activity %></span>
                  <%= link_to "javascript:void(0);" do %>
                    <i class="msgIcon" onclick="showComments('<%= activity.class.to_s %>','<%= activity.id %>')"></i>
                  <% end %>
                <% end %>
              </span>
              <span id="time_ago" style="float:right;"><%= local_time_ago(activity.created_at) %></span>
            </div>
            <div class="CL"></div>
            <hr class="style-six" />
          </div>
          <div id="<%= activity.class.to_s %>-<%= activity.id %>" style="display: none;">
            <%= render 'shared/show_comments', commentable: activity, user: user %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
<% # I am not on my own profile so I am seeing someone else's profile. %>
<% else %>
  <li>
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12" style="margin-top: 1.3em;">
        <div class="col-md-2 col-xs-2 col-sm-2">
          <%= link_to image_tag(activity.photo.url(:thumb), size: '40x40'), activity.user_to_link_to %>
        </div>
        <div class="col-md-10 col-xs-10 col-sm-10" id="<%= activity.id%>">
          <% if activity.class == Post %>
            <% unless (current_user.eql? user) %>
              <% if activity.image.exists? %>
                <% if current_user.eql?(activity.creator) %>
                  You posted a picture:
                <% elsif current_user.eql?(activity.user) %>
                  <%= link_to activity.creator.user_name, activity.creator %> posted a picture on your page.
                <% elsif activity.user.eql?(user) %>
                  <%= link_to activity.creator.user_name, activity.creator %> posted a picture:
                <% elsif activity.user.eql?(user) && activity.creator.eql?(user)%>
                  <%= link_to activity.user.user_name, activity.user %> posted a picture:
                <% elsif !activity.user.eql?(user) && activity.creator.eql?(user)%>
                  <%= link_to activity.creator.user_name, activity.creator %> posted a picture on <%= link_to activity.user.user_name, activity.user %>'s page
                <% end %>
              <% else %>
                <% if current_user.eql?(activity.creator) && current_user.eql?(activity.user) %>
                  You posted on your page
                <% elsif activity.user.eql?(activity.creator) && !current_user.eql?(activity.user) %>
                  <%= link_to activity.creator.user_name, activity.creator %> posted:
                <% elsif current_user.eql?(activity.creator) && !current_user.eql?(activity.user) %>
                 You posted on <%= link_to activity.user.user_name, activity.user %>'s page
                <% elsif current_user.eql?(activity.user) %>
                  <%= link_to activity.creator.user_name, activity.creator %> posted on your page
                <% elsif activity.user.eql?(user) && !current_user.eql?(user) %>
                  <%= link_to activity.creator.user_name, activity.creator %> posted on <%= link_to activity.user.user_name, activity.user %>'s page
                <% elsif activity.user.eql?(user) && activity.creator.eql?(user)%>
                  <%= link_to activity.user.user_name, activity.user %> posted:
                <% elsif !activity.user.eql?(user) && activity.creator.eql?(user)%>
                  <%= link_to activity.creator.user_name, activity.creator %> posted on <%= link_to activity.user.user_name, activity.user %>'s page
                <% else %>
                  <%= link_to activity.creator.user_name, activity.creator %> posted on <%= link_to activity.user.user_name, activity.user %>'s page
                <% end %>
              <% end %>
            <% end %>
            <br><br>
            <p><%= activity.name.html_safe %></p>
            <% if activity.image.exists? %>
              <%= link_to image_tag(activity.image.url(:thumb)),activity.image.url(:large), data: { lightbox: activity.id }  %>
              <% if @status %>
                <%= @status.html_safe %>
              <% end %>
            <% end %>
          <% else %>
            <p> <%= activity.name.html_safe %></p>
          <% end %>
          <div style="margin-top: 10px;">
            <span style="float:left;">
              <span id="activity_<%= activity.id %>_count"><%= render 'activities/wow_count', activity: activity %></span>
              <% if !(current_user.voted_for? activity) %>
                <span id="activity_<%= activity.id %>_icon"><%= render 'activities/wow_icon', activity: activity, user: user %></span>
                <span id="activity_<%= activity.id %>_comment_count"><%= render 'activities/comment_count', activity: activity %></span>
                <%= link_to "javascript:void(0);" do %>
                  <i class="msgIcon" onclick="showComments('<%= activity.class.to_s %>','<%= activity.id %>')"></i>
                <% end %>
              <% elsif (current_user.voted_for? activity) %>
                <span id="activity_<%= activity.id %>_icon"><%= render 'activities/unwow_icon', activity: activity, user: user %></span>
                <span id="activity_<%= activity.id %>_comment_count"><%= render 'activities/comment_count', activity: activity %></span>
                <%= link_to "javascript:void(0);" do %>
                  <i class="msgIcon" onclick="showComments('<%= activity.class.to_s %>','<%= activity.id %>')"></i>
                <% end %>
              <% end %>
            </span>
            <span id="time_ago" style="float:right;"><%= local_time_ago(activity.created_at) %></span>
          </div>
          <div class="CL"></div>
        </div>
        <div id="<%= activity.class.to_s %>-<%= activity.id %>" style="display: none;">
          <%= render 'shared/show_comments', commentable: activity, user: user %>
        </div>
      </div>
    </div>
  </li>
<% end %>
