<% if defined?(activity) %>
  <% commentors = User.where(id: activity.root_comments.pluck(:user_id)).pluck(:user_name) %>
<% elsif defined?(comment) %>
  <% commentors = User.where(id: comment.children.pluck(:user_id)).pluck(:user_name) %>
<% end %>
<span data-toggle="tooltip" data-html="true" data-placement="bottom" title='<%= commentors.join("<br>") rescue '' %>'>
  <% if defined?(activity) %>
    <%= activity.root_comments.count %>
  <% elsif defined?(comment) %>
    <%= comment.children.size %>
  <% end %>
</span>