$("#activity_<%= @activity.id %>_count").html("<%= escape_javascript(render 'activities/wow_count', activity: @activity) %>");
$("#activity_<%= @activity.id %>_count").hide().fadeIn('slow');
<% if @profile_user %>
  $("#activity_<%= @activity.id %>_icon").html("<%= escape_javascript(render 'activities/wow_icon', activity: @activity, user: @profile_user) %>")
  $("#activity_<%= @activity.id %>_icon").hide().fadeIn('slow');
  <% session[:profile_id] = nil %>
<% else %>
  $("#activity_<%= @activity.id %>_icon").html("<%= escape_javascript(render 'activities/self_wow_icon', activity: @activity, user: current_user) %>")
  $("#activity_<%= @activity.id %>_icon").hide().fadeIn('slow');
<% end %>
$('body').tooltip({
    selector: '[rel=tooltip]'
});
$(".activity_status").tooltip();