<div class="innerWapper">
    <div class="FL">&copy; <a href="http://www.getfitgo.in" class="blueTxt" target="_blank">getfitgo.in</a>2014. All rights reserved</div>
    <div class="FR"><a href="/terms_and_conditions" target="_blank" class="blueTxt">Terms and conditions</a> | <a href="/policy" target="_blank" class="blueTxt">Privacy policy</a>  | <a href="http://getfitgo.in" target="_blank" class="blueTxt">About us</a> |  <a href="http://getfitgo.in/blogs" target="_blank" class="blueTxt">Blog</a> | <a href="http://getfitgo.in" target="_blank" class="blueTxt">Careers</a> | <a href="http://support.getfitgo.in/" target="_blank" class="blueTxt" style="padding-right:0px;">Support@getfitgo</a></div>
    <div class="CL"></div>
  </div>
