<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div id="alert" class="alert alert-<%= name == :notice ? "success" : "danger" %>">
        <a class="close" data-dismiss="alert">&#215;</a>
        <%= content_tag :div, msg.html_safe, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>
