
<div class="innerWapper">
  <div class="col-xs-12">

    <div class="col-xs-3">
      <a href="http://www.getfitgo.in" target="_blank" class="getfitgoLogo"></a>
    </div>
    <div class="col-xs-3">
      <div class="mCount dexCnt hidden-xs hidden-sm"><span><%= User.confirmed_users.count %></span> members</div>
      <!--<input type="text" placeholder="Search" class="searBx">-->
      <!--<input type="button" value="" class="searBtn">  -->
    </div>
    <div class="navRight col-xs-6 dropdown">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse" style="float: right; margin-right: -45px;">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li style="display: inline-flex;">
              <span id="unread-notifications-count" class="badge" style="float:left;height: 1.5em;margin-top: 1.3em;"><%= current_user.unread_notifications.count %></span> <% if current_page?(dashboard_path) %><i class="fa fa-refresh notifications-refresh" rel="tooltip" title="Display recent notifications" onclick="refreshNotifications();"></i><% end %>
              <%= link_to truncate(current_user.user_name.split(' ').first, :length => 15), current_user, style: 'margin-left: -0.3em;' %>
            </li>
            <li class="<%= 'active' if current_page?(dashboard_path) %>"><%= link_to "<i class='flaticon-home63' style='padding-right:20px;'></i>".html_safe,dashboard_path, class: "hidden-xs" %><%= link_to "Dashboard".html_safe,dashboard_path, class: "hidden-sm hidden-lg hidden-md" %></li>
            <li class="<%= 'active' if current_page?(edit_user_registration_path) || current_page?(introduction_path) %>">
              <li class="<%= 'active' if current_page?(edit_user_registration_path) %> hidden-md hidden-lg hidden-sm"><a href="<%= edit_user_registration_path %>">Manage Account</a></li>
              <li class="<%= 'active' if current_page?(introduction_path) %> hidden-md hidden-lg hidden-sm"><a href="/introduction">Help</a></li>
              <li class="hidden-md hidden-lg hidden-sm"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
              <li>
                <%= link_to "<i class='flaticon-advanced hidden-xs' style='padding-right:20px;'></i>".html_safe, edit_user_registration_path, :class => 'dropdown-toggle', 'data-toggle'.to_sym => 'dropdown' %>
                <ul class="dropdown-menu pull-right custom" role="menu" id="menu_bar">
                  <li class="<%= 'active' if current_page?(edit_user_registration_path) %>"><a href="<%= edit_user_registration_path %>">Manage Account</a></li>
                  <li class="divider hidden-xs"></li>
                  <li class="<%= 'active' if current_page?(introduction_path) %>"><a href="http://support.getfitgo.in" target="_blank">Help</a></li>
                  <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
                </ul>
            </li>
          <% else %>
            <% unless current_page?(new_user_session_path) %>
              <li class="<%= 'active' if current_page?(new_user_session_path) %>"><%= link_to "<i class='flaticon-login6 hidden-xs' style='padding-right:20px;'></i> Sign in".html_safe, new_user_session_path %>
                <%= link_to 'sign in'.html_safe, new_user_session_path %>
              </li>
           <% end %>
                <!--<li class="<%= 'active' if current_page?(new_user_registration_path) %>"><%= link_to "<i class='flaticon-create1' style='padding-right:20px;'></i> Sign up".html_safe, new_user_registration_path %></li>-->
        <% end %>
      </ul>
     </div>
    </div>
  </div>
  <div class="CL"></div>
</div>
