<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>getfitgo :: <%= yield(:title) %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" >
  <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
  <%= include_gon %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="/bootstrap.vertical-tabs.min.css" />
  <link rel="stylesheet" href="/flaticon.css" />
  <%#= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <!--<script type='text/javascript' src="http://imsky.github.io/holder/holder.js"></script>-->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="/jquery.noty.packaged.min.js"></script>

  <link href="/css/main-style.css" rel="stylesheet" type="text/css">
  <link href="/css/responsive.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

  <!-- <script type="text/javascript">
    $(function(){
      $('.getfitgoLogo').html($(window).width()+" + "+ $(window).height()).css('color','red');
      $(window).resize(function(){$('.getfitgoLogo').html($(window).width()+" + "+ $(window).height()).css('color','red')});
    });
  </script> -->

  <% if Rails.env.production? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47540223-3', 'getfitgo.in');
      ga('send', 'pageview');
    </script>

    <script type="text/javascript">
      var _kmq = _kmq || [];
      var _kmk = _kmk || 'f99f8bf9fc5a6a1ff5a19bd3a30e841b5fa26118';
      function _kms(u){
        setTimeout(function(){
          var d = document, f = d.getElementsByTagName('script')[0],
          s = d.createElement('script');
          s.type = 'text/javascript'; s.async = true; s.src = u;
          f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
    </script>
  <% end %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<script type="text/javascript">
  if (window.location.hash == '#_=_'){
    history.replaceState
        ? history.replaceState(null, null, window.location.href.split('#')[0])
        : window.location.hash = '';
}
</script>
<script type="text/javascript" src="/jquery.jcarousel.min.js"></script>
<body style="<%= background_image(request.fullpath) %>">
   <div id="wrap">
    <header>
      <div class="navbar"><% unless ['/users/invitation/accept'].any? { |x| request.fullpath.include?(x) } %><%= render 'layouts/navbar' %><% end %></div>
      <div class="spinner" style="display: none"><img class="loader" src='/loader2.gif'/></div>
    </header>

    <div class="container <%= 'full' if ['/users/login', '/users/invitation/accept', '/registrations/welcome_page'].any? { |x| request.fullpath.include?(x) } %>">
      <div id="fb-root"></div>
      <script type="text/javascript" src="/scripts/facebook.js"></script>

      <div id="flash_messages">
        <%= render 'layouts/messages' %>
      </div><br/><br/>

      <div class="innerWapper <%= 'full' if ['/users/login', '/users/invitation/accept', '/registrations/welcome_page'].any? { |x| request.fullpath.include?(x) } %>">
        <%= yield %>
      </div>

      <!-- <button id="signin">click<buttton> -->

    </div>

    <div id="push"></div>
  </div>
	<footer><%= render 'layouts/footer' %></footer>

<script type="text/javascript" src="/jquery.jcarousel.min.js"></script>

</body>
</html>
