<li>
  <div class="field">
    <%= f.label :text %> <br/ >
    <%= f.text_field :text %>
     <%= f.label :point %>
    <%= f.number_field :point %>
    <%= link_to_remove_field "Remove", f %>
  </div>
</li>
